/* Default */
	@font-face{
	    font-family: "Sacramento";
	    src: url(Sacramento-Regular.ttf) format("truetype");
	}
	@font-face{
	    font-family: "Proxima Nova";
	    src: url(ProximaNova-Regular.otf) format("truetype");
	}
	h1, h2, h3, h4, h5, h6{
		font-family: "Proxima Nova";
		font-weight: bold !important;
		color: #333333;
	}
	h1{font-size: 40px !important;}
	h2{
	  	font-size: 79px !important;
	  	line-height: 86.68px;
	  	letter-spacing: 0.95px;
	}
	h3{font-size: 30px !important;}
	h4{font-size: 26px !important;}
	p,a,label,th,td,li, input{
		font-family: "Proxima Nova";
	  	font-size: 20px;
	  	line-height: 29px;
	  	letter-spacing: 0.4px;
	  	color: #333333;
	}
    .mb-lg-8p{margin-bottom: 8% !important;}
	.pt-lg-5px{padding-top: 5px !important;}
	.pt-lg-6p{padding-top: 6% !important;}
	.pb-lg-6p{padding-bottom: 6% !important;}
	.font-gold,.font-gold p{color: #f6c834 !important;}
	.font-grey,.font-grey p{color: #79797A;}
	.font-lightgrey,.font-lightgrey p{color: #AEAEAF !important;}
	.font-bluesky,.font-bluesky p{color: #79cdd5;}
	.bg-bluesky{background: #79cdd5;}
	.line-white{border: 2px solid #fff;}
	.line-gold{border: 2px solid #f6c834;}
	.ts{text-shadow: 2px 2px 3px rgba(74,74,74,0.65);}
	.button-bluesky{
		padding: 5px 20px;
		font-family: "Proxima Nova";
		font-size: 17px !important;
		line-height: 24px;
		letter-spacing: 0.34px;
		color: #fff;
		background: #79cdd5;
		border: none;
		border-radius: 50px;
	}
	.button-trans{
		padding: 5px 20px;
		font-family: "Proxima Nova";
		font-size : 15px !important;
  		line-height : 24.16px;
		color: #808184;
		background: transparent;
		border: 1px solid #6d6e70;
		border-radius: 50px;
	}
/* Navbar */
	nav{
		position: absolute;
		z-index: 1;
		padding: 1.5% 5%;
		top: 0;
		left: 0;
		width: 100%;
	}
	nav ul{
		margin-bottom: 0;
		padding: 10px 0;
		list-style-type: none;
		text-align: right;
	}
	nav ul li{
		display: inline;
		padding: 0 25px;
	}
	nav ul li:last-child{
		padding-right: 0;
	}
	nav ul li a{
		font-size: 16px !important;
		letter-spacing: 0.96px;
		text-transform: uppercase;
		color: #fff;
	}
	nav ul li a:hover,
	nav ul li a:active,
	nav ul li a.active{
		padding-bottom: 5px;
		color: #fcc976;
		border-bottom: 2px solid #fff;
		transition: .0s;
	}
	.side-nav{
		background: #fff;
		position: fixed;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100%;
		transition: all .3s;
	}
	.side-nav.active{
		left: 0;
	}
	.side-nav ul{
		margin: 4.5em 0 0;
	}
	.side-nav ul li{
		display: block;
		text-align: center;
		margin: 25px 0;
	}
	.side-nav .fa-times{
		font-size: 40px;
		color: #79797a;
	}
	#wishpage nav ul li a{color: #aeaeaf;}
    #wishpage nav ul li a:hover,
    #wishpage nav ul li a:active,
    #wishpage nav ul li a.active{
        color: #fcc976;
        border-bottom: 2px solid #aeaeaf;
    }
	@media screen and (max-width: 846px) {
		nav ul li:last-child{
			padding-right: 15px;
		}
		nav ul li a{color: #79797a;}
		nav ul li a:hover,
		nav ul li a:active,
		nav ul li a.active,
		#wishpage nav ul li a:hover,
		#wishpage nav ul li a:active,
		#wishpage nav ul li a.active{
			color: #fcc976;
			border-bottom: 2px solid #fcc976;
		}
		#wishpage nav .fa-bars{color: #f6967d;}
	}
/* Footer */
	footer{
		padding: 15px 0;
		border-top: 2px solid #929497;
	}
	footer p{
		margin-bottom: 0;
	  	font-size: 16px !important;
	  	line-height: 26.03px;
	  	color: #929497;
	}
	footer .button-trans{
		float: right;
		display: inline-block;
		margin-left: 10px;
		width: 130px;
		text-align: center;
	}
/* Page Home */
	#banner .box{
		position: absolute;
		top: 20%;
		right: 5%;
	}
	#banner .box .subtitle{
		padding-left: 50px;
		font-family: "Sacramento";
		font-size: 80px;
		line-height: 80px;
		color: #F6C834;
	}
	#banner .box .title{
		font-family: "Proxima Nova";
		font-weight: bold;
		font-size: 85px;
		line-height: 90px;
		color: #fff;
	}
	#about {margin-top: -31vh;}
	#about .boxc{top: 55%;}
	#about .boxc h2{line-height: 85px;}
	#about .motif{
		position: absolute;
		top: 20vh;
		left: 0;
	}
	#brief .box{
		position: absolute;
		margin: 0 auto;
		top: 15%;
		left: 10%;
		right: 0;
		width: 30%;
	}
	#brief .box p{font-size: 19px !important;}
	#dateandplace{margin-top: -10vh;}
	#dateandplace .bg{
		position: absolute;
		z-index: -10;
		top: -10vh;
		left: 0;
	}
	#dateandplace .motif{
		position: absolute;
		top: -36vh;
		left: 0;
	}
	#dateandplace h2,
	#rsvp h2{
		margin-bottom: 0;
		font-size: 61px !important;
		line-height: 60px;
	}
	#dateandplace p{
		margin-bottom: 0;
		font-size: 15px !important;
		line-height: 21px;
		letter-spacing: 0.3px;
	}
	#dateandplace .box{
		margin: 0 auto 15%;
		padding: 20px 0;
		width: 80%;
		text-align: center;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
	}
	#dateandplace .box table{width: 100%;}
	#dateandplace .box .day{
		font-size: 57px !important;
		line-height: 67.36px;
		letter-spacing: 1.14px;
	}
	#dateandplace .box .date{
		line-height: 19.21px;
		letter-spacing: 0.3px;
	}
	#dateandplace .box .time{
		font-size: 25px !important;
		line-height: 32.06px;
		letter-spacing: 0.5px;
	}
	#dateandplace .info img,
	#dateandplace .info p{display: inline-block;}
	#rsvp .bg{
        position: absolute;
        top: 10vh;
        left: 0;
    }
	#rsvp form input[type=text],
	#rsvp form input[type=email],
	#rsvp form input[type=number]{
		font-family: "Proxima Nova";
		font-size: 19px !important;
		line-height: 26px;
		letter-spacing: 0.38px;
		color: #AEAEAF;
		text-align: center;
		border: 1px solid #79cdd5;
		border-radius: 0;
	}
	::-webkit-input-placeholder{color: #AEAEAF !important;}
	::-ms-input-placeholder{color: #AEAEAF !important;}
	::placeholder{color: #AEAEAF !important;}
	#rsvp form input::-webkit-outer-spin-button,
	#rsvp form input::-webkit-inner-spin-button{
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0;
	}
	#rsvp form input[type=number] {
		-moz-appearance:textfield; /* Firefox */
	}
	#rsvp form .guest input[type=number]{
		background: transparent;
		border: none;
		width: 10%;
	}
	#rsvp form .guest a{
		margin: 0;
		padding-top: 0;
		border: none;
	}
	#rsvp form button:focus{outline:0;}
	#rsvp form label{color: #79797a;}
	#rsvp a{
		margin: 0 5%;
		padding-bottom: 5px;
		font-size : 15px;
		line-height : 26.57px;
		letter-spacing : 0.3px;
		color : #5CBBBF;
		border-bottom: 2px solid #f6c834;
	}
	#rsvp #ebrochure .modal-content,
	#wish #wishlist .modal-content{
		padding: 15px;
		width: 100%;
		border-radius: 50px;
		-webkit-box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.75);
	}
	#rsvp #ebrochure .modal-content a{
		margin: unset;
		padding-bottom: unset;
		border-bottom: unset;
	}
/* Page Wishlist */
	#banner-wishlist .box{
		position: absolute;
		top: 13%;
		left: 10%;
		width: 50%;
	}
	#banner-wishlist .box .subtitle{
		font-family: "Sacramento";
		font-size: 80px;
		letter-spacing: 2.4px;
		color: #79CDD5;
	}
	#banner-wishlist .box .title{
		margin: -30px 0 30px;
		padding-left: 17%;
		font-family: "Proxima Nova";
		font-weight: bold;
		font-size: 85px;
		line-height: 100px;
		color: #F5947B;
	}
	#banner-wishlist .box p,
	#brief-wishlist .boxc p{color: #79797a;}
	#wish{
		margin-top: -15vh;
		background: #79cdd5;
	}
	#wish a{
		font-weight: bold;
		font-size: 18px !important;
		letter-spacing: 3px;
		color: #fff;
	}
	#brief-wishlist{margin-bottom: -3vh;}
	#brief-wishlist .boxc{
		left: 40%;
		width: 27%;
	}
	

@media screen and (max-width: 846px) {
	p,a,label,th,td,li, input{
		font-size: 9px !important;
		line-height: 17px;
	}
	.ts{text-shadow: 1px 1px 2px rgba(74,74,74,0.65);}
	/* Footer */
		footer{
			background: #f6957c;
			border-top: unset;
		}
		footer p{
			font-size: 9px !important;
			line-height: 15px;
			color: #fff;
		}
		footer .button-trans{
			padding: 2px 15px;
			width: 90px;
			font-size: 9px !important;
			color: #fff;
			border: 1px solid #fff;
		}
	/* Page Home */
		#banner img{
			height: 100vh;
			object-fit: cover;
		}
		#banner .box{
			top: 15%;
			text-align: right;
		}
		#banner .box .subtitle{
			padding-right: 15%;
			font-size: 55px;
			line-height: 55px;
		}
		#banner .box .title{
			font-size: 60px;
			line-height: 60px;
		}
		#about .motif{top: 13vh;}
		#about .boxc{top: 58%;}
		#about .boxc h2{
			font-size: 40px !important;
			line-height: 33px;
		}
		#about .boxc p{
			margin: 0 auto;
			font-size: 14px !important;
			line-height: 20px;
		}
		#brief .box{
			top: 45%;
			left: 0;
			width: 69%;
		}
		#brief .box p{
			font-size: 9px !important;
			line-height: 17px; 
		}
		#dateandplace{margin-top: -4vh;}
		#dateandplace .motif{top: -24vh;}
		#dateandplace h2,
		#rsvp h2{
			font-size: 25px !important;
			line-height: 25px;
		}
	    #rsvp .bg2{
	    	position: absolute;
			right: 0;
			bottom: 0;
	    }
		#dateandplace p{
			font-size: 9px !important;
			line-height: 17px;
		}
		#dateandplace .box{
			margin: 0 auto 20%;
			padding: 10px 0;
			width: 100%;
		}
		#dateandplace .box .day{
			font-size: 21px !important;
			line-height: 48.36px;
		}
		#dateandplace .box .date{line-height: 14.21px;}
		#dateandplace .box .time{
			font-size: 15px !important;
			line-height: 17.06px;
			letter-spacing: 0.3px;
		}
		#dateandplace .info{padding: 0 25%;}
		#dateandplace .info img, 
		#dateandplace .info p{display: block;}
		#dateandplace .info img{
			margin: 0 auto 10px !important;
			width: 50%;
		}
		#rsvp form label{
			font-size: 12px !important;
			line-height: 20px;
		}
		#rsvp form input[type="text"], 
		#rsvp form input[type="email"], 
		#rsvp form input[type="number"]{
			margin-bottom: 15px;
			font-size: 12px !important;
		}
		#banner-wishlist .box .subtitle{
			font-size: 55px;
			line-height: 55px;
		}
		#banner-wishlist .box .title{
			margin: -15px 0 15px;
			padding-left: 50%;
			font-size: 60px;
			line-height: 60px;
		}
		#wish{margin-top: 0;}
		#wish a{
			display: inherit;
			font-size: 12px !important;
			letter-spacing: 2px;
		}
	/* Page Wishlist */
		#wishpage footer{margin-top: 3vh;}
		#brief-wishlist .motif{margin: 0 0 5vh;}
		#rsvp #ebrochure .modal-content,
		#wish #wishlist .modal-content{
			margin: 0 auto;
			width: 90%;
		}
		.modal-content .icon{
			margin-top: 8%;
			margin-right: -20%;
			width: 70%;
		}
		.modal-content .image{
			margin-top: -10%;
			margin-left: 5% !important;
			width: 80%;
		}
		.modal-content .font-bluesky{line-height: 21px;}
	}
}