<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-3.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <!-- Navbar -->
    <div id="wishpage">
    <nav>
        <div class="container-fluid">
            <div class="row d-none d-lg-block">
                <div class="offset-lg-3 col-lg-9 pr-lg-0">
                    <ul class="menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="index.html#about">ABOUT</a></li>
                        <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                        <li><a href="index.html#rsvp">RSVP</a></li>
                        <li><a href="wishlist.html">WISH LIST</a></li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none pt-3">
                    <div class="offset-8 col-4 text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="index.html#about">ABOUT</a></li>
                            <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                            <li><a href="index.html#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </nav>
    <!-- Section Banner -->
    <section id="banner-wishlist">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/wishlist-01.png" />
                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/mobile-wishlist-01.png" />
                    <div class="box">
                        <div class="subtitle ts">Gift</div>
                        <div class="title ts">Ideas</div>
                        <div class="line-gold w-m-55p mb-m-30 w-lg-25p mb-lg-50 ml-lg-5p"></div>
                        <div class="w-lg-70p">
                            <p>If you are confused of what to get for my birthday, here’s a list of the things I might need. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Wish -->
    <section id="wish">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-7 pl-m-5p pr-m-5p pl-lg-10p pr-lg-0">
                    <div class="row">
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">BABY STROLLER</a></div>
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">BABY ONESIE</a></div>
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">DIAPER</a></div>
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">BABY CLOTHES</a></div>
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">BABY BOTTLE</a></div>
                        <div class="col-4 col-lg-4 mb-lg-5p"><a href="" data-toggle="modal" data-target="#wishlist">OTHERS</a></div>
                        <div class="modal fade" id="wishlist">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 text-center pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid icon" src="images/popup-03.png" />    
                                                </a>
                                                <img class="img-fluid image ml-lg-10p" src="images/popup-01.png" />
                                                <p class="font-bluesky font-lg-21"><b>Thank you for the gift!</b></p>
                                                <div class="w-lg-75p ma-lg mb-lg-10p font-grey">
                                                    <p>You cannot change the selection, but you could always change your mind about the gift. Remember, your presence is much more important and needed!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Brief -->
    <section id="brief-wishlist">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 d-none d-lg-block pl-lg-0 pr-lg-0">
                    <img class="img-fluid w-lg-100p" src="images/wishlist-02.png" />
                    <div class="boxc text-center">
                        <div class="mb-lg-50">
                            <p>You can choose and select gift ideas from the list above so others will not need to give the same gift.</p>
                        </div>
                        <div class="line-white w-lg-25p ma-lg mb-lg-50"></div>
                        <div class="mb-lg-50">
                            <p>However, It is not mandatory for  you to select one from the list. Your presence is much more important and needed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none pl-m-0 pr-m-0 bg bg-bluesky font-grey">
                    <img class="img-fluid motif w-m-100p" src="images/mobile-wishlist-03.png" />
                    <div class="w-m-60p ma-m text-center">
                        <div class="mb-m-20">
                            <p>You can choose and select gift ideas from the list above so others will not need to give the same gift.</p>
                        </div>
                        <div class="line-white w-m-25p ma-m mb-m-20"></div>
                        <div class="mb-m-20">
                            <p>However, It is not mandatory for  you to select one from the list. Your presence is much more important and needed.</p>
                        </div>
                    </div>                    
                    <img class="img-fluid w-lg-100p" src="images/mobile-wishlist-04.png" />
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container-fluid pl-m-5p pr-m-5p pl-lg-15p pr-lg-15p">
            <div class="row">
                <div class="col-8 col-lg-8 pt-lg-5px">
                    <p>All Rights Reserved This website is made by Reservasi Dulu</p>
                </div>                
                <div class="col-4 col-lg-4">
                    <a href="" class="button-trans">create a site</a>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>