<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-2.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid nav-birthday-2">
        <div data-aos="fade-down" class="row d-none d-lg-flex">
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-7 py-lg-4 text-right d-none d-lg-block">
               <ul class="list-unstyled d-inline">
                   <li>
                       <a href="#">
                            HOME
                       </a>
                   </li>
                   <li>
                       <a href="#gallery">
                            ABOUT
                       </a>
                   </li>
                   <li>
                       <a href="#date">
                            DATE & PLACE
                       </a>
                   </li>
                   <li>
                       <a href="#rsvp-section">
                            RSVP
                       </a>
                   </li>
                   <li>
                       <a href="wishlist.html">
                            WISH LIST
                       </a>
                   </li>
               </ul> 
            </div>
        </div>
        <div class="d-lg-none">
          <div class="col-lg-11">
            <h3 class="text-gray text-right mt-1">
                <i class="fa fa-bars"></i>
            </h3>
          </div>
          <div class="side-nav">
                        <div class="close-div text-right p-3">
                          <h3 class="text-gray">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </h3>
                        </div>
                        <ul class="list-unstyled">
                        <li>
                       <a href="#">
                            HOME
                       </a>
                   </li>
                   <li>
                       <a href="#gallery">
                            ABOUT
                       </a>
                   </li>
                   <li>
                       <a href="#date">
                            DATE & PLACE
                       </a>
                   </li>
                   <li>
                       <a href="#rsvp-section">
                            RSVP
                       </a>
                   </li>
                   <li>
                       <a href="wishlist.html">
                            WISH LIST
                       </a>
                   </li>
                    </div>
        </div>
    </div>
    <div class="container-fluid header-section py-lg-5">
        <div class="row">
            <div class="col-12 pr-0 pt-5">
                <div class="content-header" data-aos="fade-down">
                    <h2 class="text-white font-allura">
                        Anastasia’s
                    </h2>
                    <h2 class="text-white font-playfair">
                        18th Birthday
                    </h2>
                </div>
                <div class="content-bottom">
                  <hr align="right" class="bg-white w-25">
                  <p class="text-white text-right">
                  Please join us in celebration of<br>
                  Anastasia’s birthday. It’s a party<br>
                  and you are cordially invited.
                  </p>
                </div>
                <img data-aos="fade-left" class="img-fluid img-desktop float-right d-none d-lg-block" src="images/image-header-05.jpg">
                <img data-aos="fade-left" class="img-fluid float-right d-lg-none" src="images/image-header-mobile-03.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid d-lg-none">
      <div class="row">
        <div class="col-lg-12">
          <img class="home-ornament" src="images/mobile-home-ornament-04.png">
        </div>
      </div>
    </div>
    <div id="gallery" class="container-fluid gallery-section">
      <div class="row py-lg-5">
        <div data-aos="fade-left" class="col-lg-4 offset-lg-1 pl-lg-5">
          <div class="title-gallery">
            <h2 class="text-light-gray font-allura">
                It’s a
            </h2>
            <h2 class="text-grayish-blue font-playfair">
                Celebration
            </h2>
          </div>
        </div>
      </div>
      <div data-aos="fade-down" class="row">
        <div class="offset-lg-1 pl-lg-5 col-lg-9">
          <div class="carousel-gallery owl-theme">
              <div class="item">
                <img src="images/item-gallery-05.jpg" class="img-fluid">
              </div>
              <div class="item">
                <img src="images/item-gallery-06.jpg" class="img-fluid">
              </div>
              <div class="item">
                <img src="images/item-gallery-07.jpg" class="img-fluid">
              </div>
              <div class="item">
                <img src="images/item-gallery-07.jpg" class="img-fluid">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid d-lg-none">
      <div class="row">
        <div class="col-lg-12">
          <img class="about-ornament" src="images/mobile-home-about-05.png">
        </div>
      </div>
    </div>
    <div id="date" class="container-fluid date-section">
      <div class="row">
        <div class="col-lg-4 offset-lg-1 pl-lg-5 offset-2 mb-5 mb-lg-0">
          <div data-aos="fade-left" data-aos-offset="-900">
            <h2 class="text-white font-allura">
                Save
            </h2>
            <h2 class="text-grayish-blue font-playfair">
                The Date
            </h2>
          </div>
        </div>
        <div class="col-lg-2 col-6 pr-lg-5 text-center date-content">
            <p class="text-alexa-grey font-proxima mb-0">
              25.04.2020
            </p>
            <h1 class="text-gray font-proxima mb-0">
              SAT
            </h1>
            <h6 class="text-alexa-grey font-proxima mb-0">
              5.30 PM
            </h6>
        </div>
        <div class="col-lg-3 col-6 place-content">
          <p class="text-gray text-center">
            Marina Village Baja Room<br>
            939 Quivira Way, San Diego<br>
            California 92109<br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 offset-lg-5 offset-2 pt-lg-5 pt-5 text-center">
          <p class="text-gray"><img class="mr-lg-5" src="images/dress-code-icon-08.png"> Dresscode - Wear black and white clothes</p>
        </div>
      </div>
    </div>
    <div class="container-fluid d-lg-none bg-pink">
      <div class="row">
        <div class="col-lg-12">
          <img class="date-ornament" src="images/mobile-home-date-ornament-06.png">
        </div>
      </div>
    </div>
    <div data-aos="zoom-out" data-aos-offset="-900" id="rsvp-section" class="container-fluid rsvp-section">
      <div class="row">
        <div data-aos="fade-left" data-aos-offset="-900" class="col-lg-5 offset-lg-1 pl-lg-5 offset-2">
            <h2 class="text-white font-allura">
                Let us Know
            </h2>
            <h2 class="text-grayish-blue font-playfair">
                Your Respond
            </h2>
        </div>
      </div>
      <div class="row offset-lg-2 pl-lg-5 offset-2">
        <div class="col-lg-5">
          <p class="text-gray">
            We are looking forward to see you<br>
            at the celebration.
          </p>
          <p class="text-gray">
            Are you attending the party?
          </p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label text-gray" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label  text-gray" for="inlineRadio1">No</label>
            </div>
          <p class="text-gray pt-lg-3">
            Fill in your full name and contact lists
          </p>
          <p class="text-gray mb-0">Full Name
          <input type="text" class="form-control w-lg-90p mb-4">
          <p class="text-gray mb-0">Email Address</p>
          <input type="email" class="form-control w-lg-90p mb-4">
          <p class="text-gray mb-0">Phone</p>
          <input type="text" class="form-control w-lg-90p mb-4">
          <p class="text-gray pt-lg-3">
            Will you bring additional guest(s) along with you?
          </p>
          <div class="position-relative">
            <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
            <a role="button" id="step-increment" class="btn btn-default pt-1 pt-lg-2" aria-label="add 1" aria-labelledby="step-increment label-text">
                <h5 class="text-gray">
                    <i class="fa fa-chevron-down"></i>
                </h5>
            </a>
          </div>
          <br>
          <a href="#" class="button-submit" data-toggle="modal" data-target="#form-submit">Submit</a><br><br>
          <a class="link-rsvp text-gray" href="#">Download Invitation</a> <a class="ml-5 link-rsvp text-gray" href="wishlist.html">View Wishlist Idea</a>
        </div>
        </div>
      </div>
    <div class="container-fluid py-3 footer bg-pink">
      <div class="row">
        <div class="col-lg-1 offset-lg-3 col-1">
          <p class="text-gray mb-0">
            2013
          </p>
        </div>
        <div class="col-lg-3 col-7">
          <p class="text-gray mb-0">
            created with RESERVASI DULU
          </p>
        </div>
        <div class="offset-lg-1 col-lg-4 col-4">
          <a class="link-footer" href="#">create a site</a>
        </div>
      </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content  thank-you">
          <div class="close-div">
            <h3 class="text-gray" data-dismiss="modal">
              <i class="fa fa-times" aria-hidden="true"></i>
            </h3>
          </div>
            <div class="col-lg-12">
            <p class="text-gray font-proxima-bold text-center mb-0">
                 See you at the celebration!
            </p>
            <br>
            <p class="text-gray mx-auto text-center">
                Your presence on my celebration means a lot to me.<br>
                Cannot wait to see you there!
            </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>