<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-6.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="homepage">

        <!-- Left Column -->
        <div class="wrapleft">

            <!-- Navigation -->
            <nav>
                <div class="d-none d-lg-block">
                    <a class="logo" href="index.html">
                        <img class="img-fluid" src="images/logo.png" />
                    </a>
                    <ul class="menu">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#ourstory">OUR STORY</a></li>
                        <li><a href="#dateandtime">DATE & TIME</a></li>
                        <li><a href="#accommodation">ACCOMMODATION</a></li>
                        <li><a href="#gallery">GALLERY</a></li>
                        <li><a href="#countdown">COUNT DOWN</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>
                <div class="row d-lg-none">
                    <div class="offset-8 col-4 pr-lg-10p text-right">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <img class="img-fluid close-icon" src="images/icon-07.png" />
                        </div>
                        <a href="index.html"><img class="img-fluid logo" src="images/mobile-logo.png" /></a>
                        <ul class="list-unstyled">
                            <li><a href="#home">HOME</a></li>
                            <li><a href="#ourstory">OUR STORY</a></li>
                            <li><a href="#dateandtime">DATE & TIME</a></li>
                            <li><a href="#accommodation">ACCOMMODATION</a></li>
                            <li><a href="#gallery">GALLERY</a></li>
                            <li><a href="#countdown">COUNT DOWN</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        <!-- End Left Column-->
        </div><div class="wrapright">
        <!-- Right Column -->

                    <!-- Section Home -->
                    <section id="home">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <img class="img-fluid bg w-lg-100p" src="images/background-01.png" />
                                    <img class="img-fluid motif" src="images/logo-02.png" />
                                    <div class="boxc text-center">
                                        <div class="title">Tying the knot with my <b>favorite person</b></div>
                                    </div>
                                    <a id="chevron-down" class="gobot" href="#ourstory"><img class="img-fluid" src="images/arrow-down.png" /></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Our Story -->
                    <section id="ourstory">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 d-none d-lg-block pl-lg-0 pr-lg-0">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="tabourstory-tab" data-toggle="tab" href="#tabourstory" role="tab" aria-controls="tabourstory">OUR STORY</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tababoutthegroom-tab" data-toggle="tab" href="#tababoutthegroom" role="tab" aria-controls="tababoutthegroom">ABOUT THE GROOM</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tababoutthebride-tab" data-toggle="tab" href="#tababoutthebride" role="tab" aria-controls="tababoutthebride">ABOUT THE BRIDE</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fadein" id="tabourstory" role="tabpanel" aria-labelledby="tabourstory-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="images/icon-01.png" />
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                                                    </div>
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc">
                                                            <h2 class="mb-lg-10p">OUR <br /><span>STORY</span></h2>
                                                            <p>We’ve been spenting time together for the past 6 years, and we can’t be more grateful to be unite back when we are studying together in China.</p>
                                                            <p>But right now we just want to celebrate our journey to become husband and wives, as we’ve been through so much together, e wwanted to start a new journey to become more than just a couple, a family that wwill alwways stays together.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tababoutthegroom" role="tabpanel" aria-labelledby="tababoutthegroom-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="images/icon-02.png" />
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="images/images-02.png" />
                                                    </div>
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc">
                                                            <h2 class="mb-lg-10p">ABOUT THE <br /><span>GROOM</span></h2>
                                                            <p>Vicky is a bright man that sees good through everything in his life, and i’m lucky enough to be his partner. He is commited to everything he loves, and i know in my gut that he will always be that someone that are trustworthy.</p>
                                                            <p>As for now i just wish He knew how amazing he is, no matter what the world tells him.</p>
                                                            <p>- Wanda write this</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tababoutthebride" role="tabpanel" aria-labelledby="tababoutthebride-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <img class="img-fluid boxc text-center motif" src="images/icon-03.png" />
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                                                        <img class="img-fluid w-lg-100p" src="images/images-03.png" />
                                                    </div>
                                                    <div class="col-lg-6 pl-lg-0 pr-lg-0 bg-brown">
                                                        <div class="boxc desc">
                                                            <h2 class="mb-lg-10p">ABOUT THE <br /><span>BRIDE</span></h2>
                                                            <p>Wanda is everything great in my world, she is inspiring and always the most hard-working woman, I love her sso much to the point where i just want to spend the rest of my life with her.</p>
                                                            <p>For one wish for her is absolute happiness in her life, because she deserve everything for all the journey she walking through.</p>
                                                            <p>- Vicky write this</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 pl-m-0 pr-m-0 d-block d-lg-none text-center bg-brown">
                                    <div class="one-carousel owl-theme">
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="images/icon-01.png" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="images/images-01.png" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">OUR <span>STORY</span></h2>
                                                        <p>We’ve been spenting time together for the past 6 years, and we can’t be more grateful to be unite back when we are studying together in China.</p>
                                                        <p>But right now we just want to celebrate our journey to become husband and wives, as we’ve been through so much together, e wwanted to start a new journey to become more than just a couple, a family that wwill alwways stays together.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="images/icon-02.png" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="images/images-02.png" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">ABOUT THE <span>GROOM</span></h2>
                                                        <p>Vicky is a bright man that sees good through everything in his life, and i’m lucky enough to be his partner. He is commited to everything he loves, and i know in my gut that he will always be that someone that are trustworthy.</p>
                                                        <p>As for now i just wish He knew how amazing he is, no matter what the world tells him.</p>
                                                        <p>- Wanda write this</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <img class="img-fluid boxc text-center motif" src="images/icon-03.png" />
                                                <div class="col-12">
                                                    <img class="img-fluid images w-lg-100p" src="images/images-03.png" />
                                                </div>
                                                <div class="col-12 pt-m-25p pb-m-15p pl-m-10p pr-m-10p">
                                                    <div class="desc">
                                                        <h2 class="mb-lg-10p">ABOUT THE <span>BRIDE</span></h2>
                                                        <p>Wanda is everything great in my world, she is inspiring and always the most hard-working woman, I love her sso much to the point where i just want to spend the rest of my life with her.</p>
                                                        <p>For one wish for her is absolute happiness in her life, because she deserve everything for all the journey she walking through.</p>
                                                        <p>- Vicky write this</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Date & Time -->
                    <section id="dateandtime">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pt-m-15p pb-m-50p pl-m-10p pr-m-10p pl-lg-0 pr-lg-0 bg-cream">
                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="tabweddingceremony-tab" data-toggle="tab" href="#tabweddingceremony" role="tab" aria-controls="tabweddingceremony">WEDDING CEREMONY</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tabweddingparty-tab" data-toggle="tab" href="#tabweddingparty" role="tab" aria-controls="tabweddingparty">WEDDING PARTY</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent2">
                                        <div class="tab-pane fadein" id="tabweddingceremony" role="tabpanel" aria-labelledby="tabweddingceremony-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="order-2 order-lg-1 col-lg-5 pt-m-10p pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <img class="img-fluid motif mb-lg-15p" src="images/icon-04.png" />
                                                        <h2 class="font-lightbrown mb-lg-10p">WEDDING <br /><span>CEREMONY</span></h2>
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <h4>SEPTEMBER <span>23 <br />2020</span></h4>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <p>
                                                                    at <span>Grand Mosque</span><br />
                                                                    Manohara Street, B - 2<br />
                                                                    Milan, Italy
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="order-1 order-lg-2 col-lg-7 pt-m-0 pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <div class="wrap">
                                                            <img class="img-fluid images w-lg-100p" src="images/images-04.png" />
                                                            <div class="boxc imagelist"></div>
                                                            <a target="_blank" href="">
                                                                <div class="boxc imageov">
                                                                    <div class="boxc text">SEE LOCATION</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fadein" id="tabweddingparty" role="tabpanel" aria-labelledby="tabweddingparty-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="order-2 order-lg-1 col-lg-5 pt-m-10p pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <img class="img-fluid motif mb-lg-15p" src="images/icon-08.png" />
                                                        <h2 class="font-lightbrown mb-lg-10p">WEDDING <br /><span>PARTY</span></h2>
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6">
                                                                <h4>SEPTEMBER <span>24 <br />2020</span></h4>
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <p>
                                                                    at <span>Hotel Mulia Bali</span><br />
                                                                    Seminyak, B - 2<br />
                                                                    Bali, Indonesia
                                                                </p>
                                                                <p>
                                                                    <span>Dresscode</span><br />
                                                                    Tropical Vibe Formal<br />
                                                                    Dress, Suit
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="order-1 order-lg-2 col-lg-7 pt-m-0 pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                                        <div class="wrap">
                                                            <img class="img-fluid images w-lg-100p" src="images/images-05.png" />
                                                            <div class="boxc imagelist"></div>
                                                            <a target="_blank" href="">
                                                                <div class="boxc imageov">
                                                                    <div class="boxc text">SEE LOCATION</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <img class="img-fluid imagesnd" src="images/images-06.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Accommodation -->
                    <section id="accommodation">
                        <div class="container-fluid bg-lightbrown">
                            <div class="row">
                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/images-07.png" />
                                    <img class="img-fluid images w-lg-100p d-block d-lg-none" src="images/images-16.png" />
                                </div>
                                <div class="col-lg-8 pt-m-10p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-0">
                                    <h2>THE <br /><span>ACCOMMODATION</span></h2>
                                </div>
                                <div class="col-lg-4 pb-m-10p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-0 pr-lg-5p">
                                    <h4>HOTEL MULIA BALI</h4>
                                    <p><b>1 NIGHT, 1 BREAKFAST TREAT</b></p>
                                    <p>
                                        Hotel Mulia Bali is one of the famous hotel in Bali, Indonesia. We’re excited to show you our hospitality, so we provide you 1 suite bedroom that can fit for 2 people, and also equipped with a lot of facilities such as welcome drinks, hot water, a bottle of wine, and so on.
                                    </p>
                                    <p class="mb-m-15p mb-lg-10p">*Please mention vicky & wanda, when you reserve them</p>
                                    <a class="button-cream" target="_blank" href="">SEE LOCATION <img class="img-fluid" src="images/btn-arrow-right.png" /></a>
                                    <br /><br /><br />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Gallery -->
                    <section id="gallery">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 pl-lg-0 pr-lg-0 d-block d-lg-none">
                                    <div id="js-gallery">
                                        <div class="gallery__hero">
                                            <img class="img-fluid" src="images/images-08.png" />
                                        </div>
                                        <div class="gallery__thumbs">
                                            <a href="images/images-08.png" data-gallery="thumb" class="is-active">
                                                <img class="img-fluid" src="images/images-08.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="images/images-09.png" data-gallery="thumb">
                                                <img class="img-fluid" src="images/images-09.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="images/images-10.png" data-gallery="thumb">
                                                <img class="img-fluid" src="images/images-10.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="images/images-11.png" data-gallery="thumb">
                                                <img class="img-fluid" src="images/images-11.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="images/images-12.png" data-gallery="thumb">
                                                <img class="img-fluid" src="images/images-12.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                            <a href="images/images-13.png" data-gallery="thumb">
                                                <img class="img-fluid" src="images/images-13.png" />
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-none d-lg-block">
                                    <div class="row">
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                                            <a data-toggle="modal" data-target="#images-08">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                                            <a data-toggle="modal" data-target="#images-09">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-10.png" />
                                            <a data-toggle="modal" data-target="#images-10">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-11.png" />
                                            <a data-toggle="modal" data-target="#images-11">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-12.png" />
                                            <a data-toggle="modal" data-target="#images-12">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-lg-4 pl-lg-0 pr-lg-0">
                                            <img class="img-fluid w-lg-100p" src="images/images-13.png" />
                                            <a data-toggle="modal" data-target="#images-13">
                                                <div class="boxc imageov">
                                                    <div class="boxc text">VIEW PHOTO</div>
                                                    <div class="boxc circleborder"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="modal fade" id="images-08">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-08.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-09">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-09.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-10">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-10.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-11">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-11.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-12">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-14.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="images-13">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                                <a class="close" data-dismiss="modal">
                                                                    <img class="img-fluid" src="images/icon-05.png" />    
                                                                </a>
                                                                <img class="img-fluid" src="images/images-13.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Countdown -->
                    <section id="countdown">
                        <div class="container-fluid bg-lightbrown">
                            <div class="row">
                                <div class="col-lg-12 text-center pt-m-30p pb-m-25p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                                    <div class="row mb-m-20p mb-lg-5p">
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="days" class="number"></div><div class="desc">DAYS</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="hours" class="number"></div><div class="desc">HOURS</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="minutes" class="number"></div><div class="desc">MINUTES</div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-3">
                                            <div class="box">
                                                <div id="seconds" class="number"></div><div class="desc">SECONDS</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="font-white">UNTIL WE GET MARRIED !</h5>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section RSVP -->
                    <section id="rsvp">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                    <h2 class="mb-m-10p mb-lg-15p font-lightbrown">CAN’T WAIT TO <br /><span>SEE YOU THERE!</span></h2>
                                    <img class="img-fluid motif" src="images/icon-06.png" />
                                    <img class="img-fluid images" src="images/images-15.png" />
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12 mb-lg-2p">
                                                <label>ARE YOU ATTENDING ?</label>
                                                <div class="radio-toolbar">
                                                    <input type="radio" id="radioYES" name="attending" value="yes">
                                                    <label for="radioYES">YES</label>
                                                    <div class="line"></div>
                                                    <input type="radio" id="radioNO" name="attending" value="no">
                                                    <label for="radioNO">NO</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="font-lightgrey">FULL NAME</label>
                                                <input type="text" name="your-name" class="form-control" required />
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="font-lightgrey">EMAIL</label>
                                                <input type="email" name="your-email" class="form-control" required />
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="font-lightgrey">PHONE NUMBER</label>
                                                <input type="text" name="your-phone" class="form-control" required />
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="font-lightgrey">ADDITIONAL GUEST</label>
                                                <input type="number" name="your-guest" class="form-control" min="0" required />
                                            </div>
                                            <div class="col-12 offset-lg-6 col-lg-6 pt-lg-5p pb-lg-5p">
                                                <a class="button-cream" target="_blank" href="invitation.pdf">DOWNLOAD INVITATION</a>
                                                <!-- <a class="button-lightbrown" target="_blank" href="">SUBMIT</a> -->
                                                <input type="submit" class="button-lightbrown" data-toggle="modal" data-target="#ebrochure" value="SUBMIT !" />
                                                <div class="modal fade" id="ebrochure">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-8 col-lg-6">
                                                                        <p>
                                                                            Now that you’ve confirmed<br />
                                                                            you are coming ...
                                                                        </p>
                                                                        <h2 class="mb-lg-10p">Thank You <br /><span>So Much!</span></h2>
                                                                        <p>
                                                                            For supporting and celebrating us in the Celebration of our journey. We can’t wait for you to come and we also wish the best for your life! 
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4 col-lg-6">
                                                                        <a class="close" data-dismiss="modal">
                                                                            <img class="img-fluid" src="images/icon-09.png" />
                                                                        </a>
                                                                        <img class="img-fluid motif" src="images/icon-10.png" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Footer -->
                    <footer>
                        <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-15 pb-lg-15 pl-lg-5p pr-lg-5p">
                            <div class="row">
                                <div class="order-2 order-lg-1 col-12 mb-m-0 mtext-center col-lg-8">
                                    <p>All Rights Reserved © This website is made by Reservasi Dulu</p>
                                </div>                
                                <div class="order-1 order-lg-2 col-12 mb-m-5p mtext-center col-lg-4 text-right">
                                    <a href="" class="button-footer">Create a Site</a>
                                </div>
                            </div>
                        </div>
                    </footer>

        <!-- End Right Column -->
        </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>