<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event 5 | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style_event_5.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
        <div class="nav-event container-fluid py-4">
            <div data-aos="fade-down" class="row d-none d-lg-inline-flex float-right mr-5">
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#about" class="nav-link active">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#date" class="nav-link">
                                DATE, TIME & PLACE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rundown" class="nav-link">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp" class="nav-link">
                                RSVP
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="row d-lg-none">
                <div class="col-2 offset-9 text-right pr-1 pt-3">
                    <div class="menu-icon">
                        <img class="img-fluid" src="images/menu-button-04.png">
                    </div>
                </div>
                <div class="side-menu text-center">
                    <h1 class="text-right m-4 close-div">
                        &times;
                    </h1>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4 my-3">
                            <a class="nav-link active" href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#date">
                                DATE, TIME & PLACE
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#rundown">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#rsvp">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="container-fluid header position-relative" id="about">
        <div class="row">
                <div class="content-left">
                    <img data-aos="zoom-out" src="images/header-image-content-04-04-04.png">
                    <div class="title">
                            <h1 data-aos="fade-down" data-aos-offset=-200 class="text-dark-blue font-permanentmarker font-60-px">
                                hawkins high
                            </h1>
                    </div>
                </div>
                <div class="content-right">
                    <div data-aos="fade-left">
                    <h1 class="text-white font-gochihand font-40-px">
                        # 10 Year Reunion
                    </h1>
                    <h1 class="title text-dark-blue font-permanentmarker font-100-px mr-5">
                        Class Of<br>
                        <span class="font-130-px">2018</span>
                    </h1>
                    </div>
                </div>
                <div class="bottom-content">
                    <div data-aos="zoom-out">
                    <h1 class="text-dark-blue font-gochihand font-50-px">
                        # Let’s walk down<br>
                        the memory lane
                    </h1>
                    </div>
                </div>
        </div>
    </div>
    <div class="container-fluid date" id="date">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-5 offset-lg-1 pt-lg-5">
                <div class="date-title">
                    <h1 class="text-dark-blue font-permanentmarker">
                        DATE &<br>
                    </h1>
                    <h1 class="text-dark-blue font-permanentmarker">
                        TIME
                    </h1>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="day">
                    <h1 class="text-blue font-gochihand mb-lg-5 mb-4">
                        # Cheers to the old times!
                    </h1>
                    <h1 class="text-blue font-100-px mb-0">
                        SAT
                    </h1>
                    <img src="images/border-date-08.png">
                    <h1 class="text-blue mb-0 font-50-px">
                        24.10.2020
                    </h1>
                    <img class="line-margin" src="images/border-date-08.png">
                    <h2 class="text-blue mt-lg-3">
                        06 - 09 pm
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid place">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 text-center order-lg-1 order-2">
                <div class="day">
                    <h1 class="text-blue font-gochihand mb-5">
                        # Gather ‘round, people!
                    </h1>
                    <h1 class="text-blue mb-0">
                        <span class="font-baloo-semibold font-50-px">Plaza Mutiara</span><br>
                        Time Square
                    </h1>
                    <img class="mb-4 mt-lg-0 mt-4" src="images/border-place-09.png">
                    <h2 class="text-blue">
                        Jl. DR. Ide Anak Agung Gde Agung,<br>
                        Kuningan, Setia Budi, Jakarta<br>
                        Selatan, DKI Jakarta 12950
                    </h2>
                </div>
            </div>
            <div data-aos="fade-left" class="col-lg-5 pt-lg-5 order-lg-2 order-1">
                <div class="date-title">
                    <h1 class="text-dark-blue font-permanentmarker">
                        PLACE<br>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rundown" id="rundown">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-5 offset-lg-1 pl-lg-5">
                <div class="content">
                    <h1 class="text-dark-blue font-gochihand font-60-px">
                        # Rundown
                    </h1>
                    <img src="images/border-white-10.png">
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            05.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Registration
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            05.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Event Opening
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            05.40 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Welcome speech
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            05.50 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Photo session
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            06.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Fun and games
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            07.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Karaoke Time
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            07.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Door Prize
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            07.45 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Closing Speech
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 pl-lg-4 offset-lg-0 col-4 offset-2">
                        <p class="text-white mb-lg-3 mb-1">
                            08.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white mb-lg-3 mb-1">
                            Free time
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rsvp" id="rsvp">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-5 offset-lg-1 pt-lg-5">
                <div class="rsvp-title">
                    <h1 class="text-dark-blue font-permanentmarker">
                        ROLL<br>
                    </h1>
                    <h1 class="text-dark-blue font-permanentmarker">
                        CALL?
                    </h1>
                </div>
            </div>
            <div class="col-lg-6 text-center form-rsvp">
                <p class="text-blue">
                    Are you attending?
                </p>
                <div class="position-relative">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label text-blue" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label text-blue" for="inlineRadio2">No</label>
                    </div>
                </div>
                <p class="text-blue my-3">
                    Fill your full name and contact lists
                </p> 
                <p class="text-blue mb-0">
                    Full Name
                </p>
                <input type="text" class="form-control w-50 mx-auto mb-lg-4 mb-3">
                <p class="text-blue mb-0">
                    Email Address
                </p>
                <input type="text" class="form-control w-50 mx-auto mb-lg-4 mb-3">
                <p class="text-blue mb-0">
                    Phone
                </p>
                <input type="text" class="form-control w-50 mx-auto mb-lg-4 mb-3">
                <p class="text-blue">
                    Will you bring additional guest(s)?
                </p>
                <div class="position-relative">
                    <input class="form-control w-50 mx-auto" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                    <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                        <h6 class="text-blue">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </h6>
                    </a>
                </div>
                <a class="d-inline-block mt-5 mb-4" href="#" data-toggle="modal" data-target="#form-submit">
                    <img src="images/button-11.png">
                </a>
                <br>
                <a  class="d-inline-block" href="#">
                    <img src="images/button-12.png">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-blue py-4 footer">
        <div class="row">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-white mb-0">
                    All Rights Reserved © This website is made by <span class="font-baloo-semibold">Reservasi Dulu</span>
                </p>
            </div>
            <div class="offset-lg-5 col-lg-2 order-lg-2 order-1 text-center py-lg-0 py-3">
                <a href="#" class="border-white text-white rounded-pill py-1 px-3">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content py-lg-5 thank-you">
            <div class="row my-5">
                <div class="col-lg-1 offset-lg-10 text-center d-none d-lg-block">
                    <img class="img-fluid" src="images/close-button-13.png" data-dismiss="modal">
                </div>
                <div class="col-2 offset-9 text-right d-lg-none">
                    <img class="img-fluid" src="images/close-button-13.png" data-dismiss="modal">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1 class="text-white font-gochihand">
                         See you there!
                    </h1>
                    <br>
                    <h3 class="text-white mx-lg-0 mx-4 px-lg-0 px-1">
                        We will take notes of your attendance,<br>
                        please check your email for further notice.
                    </h3>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>