<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event 6 | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style_event_6.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example">
        <div class="nav-event container-fluid">
            <div data-aos="fade-up" data-aos-start-event="DOMContentLoaded" class="row d-none d-lg-block mr-5">
                <div class="col-lg-12 text-center">
                    <ul class="list-unstyled">
                        <li class="mx-5">
                            <a href="#about" class="nav-link my-5 active">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-5">
                            <a href="#date" class="nav-link my-5">
                                DATE, TIME & PLACE
                            </a>
                        </li>
                        <li class="mx-5">
                            <a href="#rundown" class="nav-link logo">
                                <img src="images/logo-04.png">
                            </a>
                        </li>
                        <li class="mx-5">
                            <a href="#rundown" class="nav-link my-5">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-5">
                            <a href="#rsvp-d" class="nav-link my-5">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-3 offset-5 pl-0 pt-3">
                    <img class="img-fluid" src="images/logo-04.png">
                </div>
                <div class="col-2 offset-2 text-center pr-4 pt-3">
                    <div class="menu-icon">
                        <img class="img-fluid" src="images/menu-icon-03.png">
                    </div>
                </div>
                <div class="side-menu text-center">
                    <h1 class="text-right m-4 close-div text-white">
                        &times;
                    </h1>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4 my-3">
                            <a class="nav-link active" href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#date">
                                DATE, TIME & PLACE
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#rundown">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#rsvp-d">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-lg-12 px-0" data-aos="zoom-out">
                <div class="carousel-header owl-theme">
                    <div class="item">
                        <img class="d-none d-lg-block banner-desktop" src="images/desktop-header-04.jpg">
                        <img class="d-lg-none" src="images/mobile-header-04.jpg">
                    </div>
                    <div class="item">
                        <img class="d-none d-lg-block banner-desktop" src="images/desktop-header-04.jpg">
                        <img class="d-lg-none" src="images/mobile-header-04.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid about" id="about">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                <div class="col-lg-5 pl-lg-5 content-left order-2 order-lg-1">
                    <div class="image-position">
                        <img data-aos="fade-up" data-aos-offset="-500" data-aos-anchor-placement=".about" class="ml-lg-3 img-fluid" src="images/brief-image-content-05.jpg">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-11 offset-1 content-right pr-0 pb-lg-5 order-1 order-lg-2">
                    <img data-aos="fade-left" data-aos-offset="-500" data-aos-anchor-placement=".about" class="img-fluid w-100 content pl-lg-0 pl-5" src="images/brief-image-content-06.jpg">
                    <h1 class="text-white mt-5 ml-lg-5 ml-3">
                        Hawkins High
                    </h1>
                    <h3 class="text-pink ml-lg-5 ml-3 font-jost-light">
                        Class of 1995
                    </h3>
                    <img src="images/about-line-07.png" class="line my-4">
                    <p class="text-white ml-lg-5 ml-3 mb-5">
                        It’s hard to believe it’s been 20 years!<br>
                        Come and reminisce with the class, join us<br>
                        for a night full of cherished memories.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid date bg-blue py-5" id="date">
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h1 data-aos="fade-up" data-aos-offset="-400" class="text-yellow d-none d-lg-block">
                    Cheers to the Old Times
                </h1>
                <h1 class="text-yellow d-lg-none">
                    Cheers to<br>
                    the Old Times
                </h1>
                <h3 data-aos="fade-down" data-aos-offset="-400" class="text-pink font-jost-light">
                    Date, Time & Place
                </h3>
                <img class="my-5" src="images/date-line-08.png">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-1 bg-pink"></div>
            <div class="col-10 text-center py-lg-5">
                <h3 class="text-white font-jost-light">
                    Saturday
                </h3>
                <h3 class="text-yellow font-jost-light">
                    20.10.2020
                </h3>
                <h6 class="text-white my-5 font-jost-light">
                    06.00 - 09.00 pm
                </h6>
                <h6 class="text-white font-jost-light">
                    Jl. DR. Ide Anak Agung<br>
                    Gde Agung, Kuningan,Setia Budi<br>
                    Jakarta 12950<br>
                </h6>
            </div>
            <div class="col-1 bg-pink"></div>
        </div>
    </div>
    <div class="container-fluid content-date">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div data-aos="fade-down" data-aos-offset="-350" class="col-6 px-0">
                        <img class="img-fluid w-100" src="images/date-image-content-09.jpg">
                    </div>
                    <div data-aos="fade-up" data-aos-offset="-350" class="col-6 bg-yellow box-yellow">
                        <h1 class="text-white">
                            Hey!
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div  data-aos="fade-up" data-aos-offset="-350" class="col-6 bg-yellow box-yellow">
                        <h1 class="text-white">
                            1995
                        </h1>
                    </div>
                    <div data-aos="fade-down" data-aos-offset="-350" class="col-6 px-0">
                        <img class="img-fluid w-100" src="images/date-image-content-10.jpg">
                    </div>
                </div>
            </div>
            <div class="col-12  col-lg-6">
                <div class="row">
                    <div data-aos="fade-down" data-aos-offset="-350" class="col-6 px-0">
                        <img class="img-fluid w-100" src="images/date-image-content-11.jpg">
                    </div>
                    <div  data-aos="fade-up" data-aos-offset="-400" class="col-6 bg-yellow box-yellow">
                        <h1 class="text-white">
                            2020
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div  data-aos="fade-up" data-aos-offset="-400" class="col-6 bg-yellow box-yellow">
                        <h1 class="text-white">
                            Hello
                        </h1>
                    </div>
                    <div data-aos="fade-down" data-aos-offset="-350" class="col-6 px-0">
                        <img class="img-fluid w-100" src="images/date-image-content-12.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rundown" id="rundown">
        <div class="row">
            <div data-aos="fade-right" data-aos-offset="-350" class="col-9 offset-1 pl-lg-2 pl-4">
                <h1 class="text-white">
                    Rundown
                </h1>
                <h3 class="text-pink">
                    Class of 1995
                </h3>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-right" data-aos-offset="-350" class="col-lg-6 py-4 pl-lg-5 pl-0">
                <img class="ml-lg-4" src="images/rundown-line-14.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-1 pl-lg-2 pl-4 col-10 offset-1">
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            05.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Registration
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            05.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Event Opening
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            05.40 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Welcome speech
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            05.50 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Photo session
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            06.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Fun and games
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            07.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Karaoke Time
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            07.30 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Door Prize
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <p class="text-white">
                            08.00 pm
                        </p>
                    </div>
                    <div class="col-lg-4 col-5">
                        <p class="text-white">
                            Free time
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rsvp" id="rsvp">
        <div class="row bg-blue">
            <div class="col-10 offset-1">
                    <div id="rsvp-d"  data-aos="fade-right" data-aos-offset="-400" class="row wrap-rsvp">
                        <div class="col-lg-11 offset-lg-1">
                        <h1 class="text-dark-blue">
                            Join Us for<br>
                            the Night
                        </h1>
                        </div>
                        <div class="col-lg-12 px-0 py-3">
                            <img src="images/rsvp-line-04.png">
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <p class="text-dark-blue">
                                Are you attending?
                            </p>
                                <div class="form-check form-check-inline mb-4">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                  <label class="form-check-label text-dark-blue" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline mb-4">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label text-dark-blue" for="inlineRadio2">No</label>
                                </div>
                            <p class="text-dark-blue">
                                Fill your full name and contact lists
                            </p>
                            <p class="text-dark-blue">
                                Full Name<br>
                                <input type="text" class="form-control">
                            </p>
                            <p class="text-dark-blue">
                                Email Address<br>
                                <input type="text" class="form-control">
                            </p>
                            <p class="text-dark-blue">
                                Phone<br>
                                <input type="text" class="form-control">
                            </p>
                        </div>
                        <div class="col-lg-4 offset-lg-1 content-right">
                            <p class="text-dark-blue mb-lg-3 mb-3">
                                Will you bring additional guest(s)?
                            </p>
                            <div class="form-group position-relative">
                                <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                    <h5 class="text-dark-blue">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </h5>
                                </a>
                            </div>
                            <br>
                            <a href="#" class="bg-purple rounded-pill px-4 py-1 text-white"  data-toggle="modal" data-target="#form-submit">Submit</a>
                        </div>
                        <div class="col-lg-12 text-center py-lg-5 py-3">
                            <a href="#" class="text-dark-blue">
                                <u>
                                    Download Invitation
                                </u>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-yellow py-4 footer">
        <div class="row">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-white mb-0">
                    All Rights Reserved © This website is made by <span class="font-jost">Reservasi Dulu</span>
                </p>
            </div>
            <div class="offset-lg-5 col-lg-2 order-lg-2 order-1 text-center py-lg-0 py-3">
                <a href="#" class="border-white text-white rounded-pill py-1 px-3 font-jost">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-lg-5 p-4 thank-you">
            <div class="wrap-submit bg-orange">
                <div class="row mb-5">
                    <div class="col-lg-12 text-right d-none d-lg-block px-5 py-4">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                    <div class="col-2 offset-10 pr-5 pl-2 d-lg-none">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12 pb-5 mb-lg-5">
                        <h1 class="text-dark-blue">
                             See You There!
                        </h1>
                        <img class="my-4" src="images/submit-line-05.png">
                        <h3 class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-none d-lg-block">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </h3>
                        <p class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-lg-none">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>