body {
  position: relative;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Merriweather Regular";
}
p,a,label,th,td,li, input{
    font-family: "Jost Light";
    font-size :  13pt;
    line-height : 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
/* Fonts */
.font-jost{
	font-family: "Jost Regular";
}
.font-jost-light{
	font-family: "Jost Light";
}
.font-merriweather{
	font-family: "Merriweather Regular";
}
/* Background and Colors */
.bg-purple{
	background-color: #4e2230;
}
.bg-pink{
	background-color: #f4d2c2;
}
.bg-blue{
	background-color: #2a3e56;
}
.bg-yellow{
	background-color: #f3b543;
}
.text-yellow{
	color: #f3b543;
}
.text-pink{
	color: #f4d2c2;
}
.text-dark-blue{
	color: #2a3e56;
}
.text-purple{
	color: #4e2230;
}
/* Border */
.border-white{
	border: 2px solid #fff;
}
/* Navigation */
.nav-event{
	position: absolute;
	top: 0;
	z-index: 9;
}
.nav-event ul{
	display: inline-flex;
}
.nav-event ul li a{
	color: #fff;
}
.header .carousel-header .owl-nav{
	margin-top: 0;
}
.header .carousel-header .owl-nav .owl-prev, .header .carousel-header .owl-nav .owl-next{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.header .carousel-header .owl-nav .owl-prev:hover, .header .carousel-header .owl-nav .owl-next:hover{
	border: 1px solid #fff;
}
.header .carousel-header .owl-nav .owl-prev img, .header .carousel-header .owl-nav .owl-next img{
	position: absolute;
	top: 37%;
	transform: translate(-50%);
	left: 50%;
}
.carousel-header .banner-desktop{
	height: 100vh;
	object-fit: cover;
}
.about{
	padding-top: 200px;
	background-image: url(images/bg-purple-about-04.jpg);
}
.about .content-left .image-position{
	position: absolute;
	z-index: 2;
	bottom: -70px;
}
.about .content-right .line{
	position: relative;
	margin-left: -15rem;
}
.about .content-right img.content{
	margin-top: -100px;
}
.date{
	margin-top: 150px;
}
.content-date .box-yellow h1{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 40%;
}
.rundown{
	background-image: url(images/bg-rundown-13.jpg);
	padding-top: 130px;
	padding-bottom: 70px;
}
.rsvp{
	padding-top: 400px;
}
.wrap-rsvp{
	background-image: url(images/wrap-rsvp-bg-15.jpg);
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 30px;
	margin-top: -300px;
}
.wrap-rsvp .content-right{
	padding-top: 12.4rem;
}
.wrap-rsvp input[type=text]{
	background: none;
	border-radius: 0;
	border: 2px solid #fff;
	color: #fff;
}
#step-increment{
      position: absolute;
      right: 0;
      top: 0;
    }
@media screen and (max-width: 846px) {
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}
	p, a, label, th, td, li, input{
		font-size: 11pt;
	}
	.header .owl-dots{
		position: absolute;
		bottom: 0;
		transform: translate(-50%);
		left: 50%;
	}
	.about .content-left{
		height: 20px;
		padding-left: 0;
	}
	.about .content-left img{
		bottom: -210px;
		width: 75%;
	}
	.about {
    	padding-top: 170px;
    	padding-bottom: 160px;
    }
    .about .content-right .line{
    	margin-left: -75px;
		width: 100%;
		height: 2px;
    }
    .about .content-left .image-position{
    	bottom: -340px;
    }
    .date img{
    	width: 70%;
    	height: 2px;
    }
    .rundown{
    	background-size: cover;
		background-position: -74% 0%;
    }
    .rundown img{
    	width: 60%;
		height: 3px
    }
    .wrap-rsvp{
    	text-align: center;
    }
    .wrap-rsvp img{
    	width: 60%;
    }
    .wrap-rsvp .content-right {
    	padding-top: 1rem;
    	text-align: center;
    }
    .wrap-rsvp .bg-purple.rounded-pill{
    	display: block;
		text-align: center;
    }
    .wrap-rsvp input[type=text]{
    	text-align: center;
    }
    .nav-event ul{
    	display: block;
    }
    .side-menu{
    	width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #f3b543;
		transition: all .3s;
    }
    .side-menu.active{
    	left: 0;
    }
}