<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-3.css">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->
        <nav class="animated fadeInDown">
            <div class="container-fluid pos-rel">
                <div class="row d-none d-lg-block">
                    <a href="index.html"><div class="logo">L&F</div></a>
                    <div class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="#story">.Our Story</a></li>
                            <li><a href="#venue">.Venue</a></li>
                            <li><a href="#accommodations">.Accommodations</a></li>
                            <li><a href="#gallery">.Gallery</a></li>
                            <li><a href="#rsvp">.RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-8">
                        <a href="index.html"><div class="logo">L&F</div></a>
                    </div>
                    <div class="col-4 pr-m-0">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times close-icon"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#story">.Our Story</a></li>
                            <li><a href="#venuem">.Venue</a></li>
                            <li><a href="#accommodations">.Accommodations</a></li>
                            <li><a href="#gallery">.Gallery</a></li>
                            <li><a href="#rsvp">.RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                        <div class="boxc text-center">
                            <h1 class="ml3">#NewchapterofLiFe</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Story -->
        <section id="story">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block pt-lg-10p pb-lg-5p pl-lg-5p slideanimLeft">
                        <img class="img-fluid" src="images/images-02.png" />
                    </div>
                    <div class="col-lg-6 pt-m-35p pb-m-10p pl-m-10p pr-m-10p pt-lg-10p pb-lg-5p pr-lg-5p">
                        <div class="w-m-100p w-lg-70p">
                            <img class="motif" src="images/icon.png">
                            <h3 class="font-maroon mb-lg-10p ml4">“True Love is About Growing as a Couple, Learning About Each Other, and Never Giving Up on Each Other”</h3>
                        </div>
                        <div class="w-m-100p w-lg-70p slideanim">
                            <div class="mb-lg-15p">
                                <p>We are thankful to be united with one another. Liam and Felicia have been friends since they are little kids. And have been in a relationship for over 6 years. We get through so much together. Liam always got Felicia’s back, and Felicia is always walking beside Liam in his life journey. We are going to tied the knot soon. So now, we wanted to invite you to our very special day, and celebrate with us as this is going to be the best night of our lives, and we hope it’s the best day of your life as well.</p>
                            </div>
                            <a class="button-default" href="">Are You Attending?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Venue -->
        <section id="venuem">
            <div class="container-fluid  pt-m-25p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div id="venue" class="row">
                    <div class="col-lg-12">
                        <div class="title-def pos-rel w-lg-100p mb-lg-35">
                            <div class="title-line"></div>
                            <h3>Our Venue</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid image w-lg-100p" src="images/images-03.png" />
                        <div class="box bg-grey">
                            <h3 class="font-maroon-1 mb-lg-0">Ceremony</h3>
                            <div class="time mb-lg-15">3:00pm – 4:00pm</div>
                            <div class="line-grey w-lg-100p mb-lg-15"></div>
                            <div>
                                <p>
                                    New Faith Church<br />
                                    415 Greenwich St (at Bethune St)<br />
                                    New York, NY 10014<br />
                                    (212) 555–0123
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid image w-lg-100p" src="images/images-04.png" />
                        <div class="box bg-brown">
                            <h3 class="font-grey mb-lg-0">Reception</h3>
                            <div class="time font-white mb-lg-15">6:00pm – 7:00pm</div>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <div class="font-white">
                                <p>
                                    Great Lincoln Hotel,<br />
                                    Aurora Ballroom<br />
                                    124 Colossal St (at Megaliticum St)<br />
                                    New York, NY 10123<br />
                                    (214) 565–0923
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Accommodations -->
        <section id="accommodations">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-lg-5p pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p" src="images/images-05.png" />
                        <div class="boxc bg-brown font-white text-center">
                            <h4 class="font-white mb-lg-15">Accommodations</h4>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <p class="mb-lg-15">Your convenience is one of our concerna, we have booked you a room at this following place:</p>
                            <p><b>
                                The Wyatt Hotel<br />
                                55 E 10th St (at Broadway)<br />
                                New York, NY 10003<br />
                                (212) 555-0123
                            </b></p>
                            <div class="line-brown w-lg-100p mb-lg-15"></div>
                            <p>*Please mention Liam & Felicia wedding when<br />you reserve the room</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid pos-rel pt-lg-10p pb-lg-15p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <img class="motif slideanimImage6" src="images/motif.png">
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage1">
                        <img class="img-fluid w-lg-100p" src="images/images-06.png" />
                    </div>
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage2">
                        <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                    </div>
                    <div class="col-lg-4 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage3">
                        <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                    </div>
                    <div class="col-lg-7 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage4">
                        <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                    </div>
                    <div class="col-lg-5 mb-lg-20 pl-lg-10 pr-lg-10 image-item slideanimImage5">
                        <img class="img-fluid w-lg-100p" src="images/images-10.png" />
                    </div>
                    <!-- Mobile Slider -->
                    <div class="col-12">
                        <div class="d-block d-lg-none">
                            <div class="one-carousel home-testimonial owl-theme">
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="images/images-06.png" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                                </div>
                                <div class="item">
                                    <img class="img-fluid w-lg-100p" src="images/images-10.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp" class="bg-brown">
            <div class="container-fluid pt-m-30p pb-m-30p pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-12 d-block d-lg-none text-center mb-m-10p">
                        <h2 class="font-white">Let us know if you are attending</h2>
                    </div>
                    <div class="col-lg-7">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="your-attending">are you attending?*</label>
                                    <input type="text" class="form-control" id="your-attending" name="your-attending" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="your-email">email address*</label>
                                    <input type="email" class="form-control" id="your-email" name="your-email" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="your-firstname">First name*</label>
                                    <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="your-lastname">Last name*</label>
                                    <input type="text" class="form-control" id="your-lastname" name="your-lastname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-with">who else is coming with you?*</label>
                                <input type="text" class="form-control" id="your-with" name="your-with" required>
                            </div>
                            <div class="form-group">
                                <label for="your-message">message</label>
                                <textarea class="form-control" id="your-message" name="your-message" rows="5"></textarea>
                            </div>
                            <!-- <button type="submit" class="button-default">RSVP</button> -->
                            <button type="submit" class="add-to-cart button-default">
                                <div class="default">RSVP</div>
                                <div class="success">RESERVED</div>
                                <div class="dots-animation"></div>
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-5 title pt-lg-10p text-center">
                        <h2 class="font-white">Let us know if you are attending</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="pt-lg-1p pb-lg-1p text-center">
            <p class="mb-lg-0">powered by reservasidulu</p>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <script type="text/javascript" src="anime.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>