<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-10.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row d-none d-lg-block">
                    <div data-aos="fade-down" data-aos-once="true" class="col-lg-12 pr-lg-0">
                        <ul class="menu">
                            <li><a href="#ourstory">+ Our Story</a></li>
                            <li><a href="#gallery">+ Gallery</a></li>
                            <li><a href="#venue">+ Venue</a></li>
                            <li><a href="#accommodations">+ Accommodations</a></li>
                            <li><a href="#rsvp-d">+ RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-lg-none">
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#ourstory">+ Our Story</a></li>
                            <li><a href="#gallery">+ Gallery</a></li>
                            <li><a href="#venue">+ Venue</a></li>
                            <li><a href="#accommodations">+ Accommodations</a></li>
                            <li><a href="#rsvp">+ RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- enctype="mutipart/fotm-data -->
        <!-- Section Banner -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pb-m-50p pb-lg-5p pl-lg-0 pr-lg-0">
                        <div class="bg"></div>
                        <img class="motif d-none d-lg-block" src="images/motif-01.png" />
                        <img class="motif d-block d-lg-none" src="images/mobile-motif-01.png" />
                        <img class="motif3 d-block d-lg-none" src="images/mobile-motif-03.png" />
                        <img class="img-fluid images w-lg-100p d-none d-lg-block" src="images/images-01.png" />
                        <img class="img-fluid images w-lg-100p d-block d-lg-none" src="images/mobile-images-01.png" />
                        <img class="motif2 d-none d-lg-block" src="images/motif-02.png" />
                        <img class="motif3 d-none d-lg-block" src="images/motif-03.png" />
                        <img class="motif2 d-block d-lg-none" src="images/mobile-motif-02.png" />
                        <div class="boxc text-center">
                            <div data-aos="fade-up" data-aos-once="true">
                                <h6>OCTOBER 18TH 2020</h6>
                                <h1>Lucas & Eliza</h1>
                            </div>
                        </div>
                        <!-- Section Mobile Menu -->
                        <div id="mobile-menu">
                            <ul class="bars boxc">
                                <div id="toggle">
                                    <div class="one"></div>
                                    <div class="two"></div>
                                    <div class="three"></div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Our Story -->
        <section id="ourstory">
            <div class="container-fluid bg-lightpink">
                <div class="row">
                    <div class="col-lg-12 pl-m-10p pr-m-10p pt-lg-5p pb-lg-10p pl-lg-5p pr-lg-5p text-center">
                        <h6 class="mb-m-10p mb-lg-3p">OUR STORY</h6>
                        <div data-aos="fade-up" data-aos-once="true" class="w-m-100p w-lg-70p ma-lg">
                            <p>
                                Once upon a time, we stumbled upon this beautiful city in Manila, Malaysia. And ever since we met we just clicked right away, we do everything together, we’ve been through so much together, and now we’re the most grateful to soon called each other husband and wife.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 pb-m-20p pl-m-10p pr-m-10p pb-lg-10p pl-lg-5p pr-lg-5p mtext-center">
                        <div class="wrap">
                            <div class="row">
                                <div class="col-lg-6 mb-m-10p">
                                    <h2 data-aos="fade-right" data-aos-once="true" class="mb-lg-10p">
                                        6 facts<br />
                                        about us
                                    </h2>
                                    <p data-aos="fade-right" data-aos-once="true">
                                        We have a LOT in common. So these are some of the fun facts about us!
                                    </p>
                                </div>
                                <div class="col-12 d-block d-lg-none pl-m-0 pr-m-0">
                                    <div class="one-carousel owl-theme">
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-01.png" />
                                                    <p>The first time we met was on.....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">the boat in Manila, Malaysia</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-02.png" />
                                                    <p>Our first date was at....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">2012, at Malaysia Bird’s Zoo</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-03.png" />
                                                    <p>We have known each other for....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">5 years</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-04.png" />
                                                    <p>We have a pet name....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">called Nemo</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-05.png" />
                                                    <p>Our common hobby is....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">to cook</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="box">
                                                <div class="boxc">
                                                    <img class="img-fluid" src="images/icon-06.png" />
                                                    <p>We got engaged at....</p>
                                                </div>
                                                <div class="detail">
                                                    <div class="val">2019</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-01.png" />
                                            <p>The first time we met was on.....</p>
                                        </div>
                                        <div class="detail">
                                            <div class="val">the boat in Manila, Malaysia</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-02.png" />
                                            <p>Our first date was at....</p>
                                        </div>
                                        <div class="detail"> 
                                            <div class="val">2012, at Malaysia Bird’s Zoo</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-03.png" />
                                            <p>We have known each other for....</p>
                                        </div>
                                        <div class="detail">
                                            <div class="val">5 years</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-04.png" />
                                            <p>We have a pet name....</p>
                                        </div>
                                        <div class="detail">
                                            <div class="val">called Nemo</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-05.png" />
                                            <p>Our common hobby is....</p>
                                        </div>
                                        <div class="detail">
                                            <div class="val">to cook</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" class="col-lg-3 d-none d-lg-block text-center">
                                    <div class="box">
                                        <div class="boxc">
                                            <img class="img-fluid" src="images/icon-06.png" />
                                            <p>We got engaged at....</p>
                                        </div>
                                        <div class="detail">
                                            <div class="val">2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pad text-center">
                        <div class="bg"></div>
                        <img class="img-fluid boxc d-none d-lg-block motif" src="images/motif-04.png" />
                        <img class="img-fluid boxc d-none d-lg-block motif2" src="images/motif-05.png" />
                        <img class="img-fluid boxc d-block d-lg-none motif" src="images/mobile-motif-04.png" />
                        <img class="img-fluid boxc d-block d-lg-none motif2" src="images/mobile-motif-05.png" />
                        <h6 data-aos="fade-up" data-aos-once="true" class="mb-m-15p mb-lg-5p mt-lg-5p">OUR GALLERY</h6>
                        <div data-aos="fade-down" data-aos-once="true" class="three-carousel owl-theme d-none d-lg-block">
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-02.png" data-toggle="modal" data-target="#images_1" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-03.png"  data-toggle="modal" data-target="#images_2" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-04.png" data-toggle="modal" data-target="#images_3"  />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-02.png"  data-toggle="modal" data-target="#images_4" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-03.png"  data-toggle="modal" data-target="#images_5" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-04.png"  data-toggle="modal" data-target="#images_6" />
                                    </div>
                                </div>
                            </div><div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-02.png"  data-toggle="modal" data-target="#images_7" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-03.png"  data-toggle="modal" data-target="#images_8" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-04.png"  data-toggle="modal" data-target="#images_9" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-02.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-03.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <div class="boximg">
                                        <img class="img-fluid" src="images/images-04.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 py-0 d-block d-lg-none">
                            <div class="wrap">
                                <div class="boximg">
                                    <img class="img-fluid" src="images/images-02.png" />
                                </div>
                            </div>
                            <div class="wrap">
                                <div class="boximg">
                                    <img class="img-fluid" src="images/images-03.png" />
                                </div>
                            </div>
                            <a class="button-default" href="">VIEW ALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Venue -->
        <section id="venue">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pb-lg-45p pl-lg-0 pr-lg-0 text-center">
                        <div class="bg"></div>
                        <img class="img-fluid motif" src="images/motif-06.png" />
                        <img class="img-fluid motif2" src="images/motif-07.png" />
                        <h6 class="mb-lg-3p">OUR VENUE</h6>
                        <img class="img-fluid images w-lg-100p" src="images/images-05.png" />
                        <div class="wrap">
                            <div class="row">
                                <div data-aos="fade-up" data-aos-once="true" data-aos-offset="-4500" class="col-lg-6 mb-m-10p pr-m-0 pl-lg-0 pr-lg-1">
                                    <img class="img-fluid images" src="images/images-06.png" />
                                    <div class="date">20 November 2020</div>
                                    <div class="day">Saturday</div>
                                    <img class="img-fluid number" src="images/icon-07.png" />
                                    <div class="desc text-left">
                                        <h3>Holy Matrimony</h3>
                                        <table>
                                            <tr>
                                                <td><p>TIME</p></td>
                                                <td><h5>10AM to 12PM</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>LOCATION</p></td>
                                                <td><h5>La Brea Community Church</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>DRESS CODE</p></td>
                                                <td><h5>Formal Wear</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>PARKING</p></td>
                                                <td><h5>Free Valet on Site</h5></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div data-aos="fade-up" data-aos-once="true" data-aos-offset="-4500" class="col-lg-6 pl-m-0 pl-lg-1 pr-lg-0">
                                    <img class="img-fluid images" src="images/images-07.png" />
                                    <div class="date">21 November 2020</div>
                                    <div class="day">Sunday</div>
                                    <img class="img-fluid number" src="images/icon-08.png" />
                                    <div class="desc text-left">
                                        <h3>Wedding Reception</h3>
                                        <table>
                                            <tr>
                                                <td><p>TIME</p></td>
                                                <td><h5>6PM to Finish</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>LOCATION</p></td>
                                                <td><h5>Palladio Banquet Hall</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>DRESS CODE</p></td>
                                                <td><h5>Evening Wear</h5></td>
                                            </tr>
                                            <tr>
                                                <td><p>PARKING</p></td>
                                                <td><h5>Free Valet on Site</h5></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Accommodation -->
        <section id="accommodations">
            <div class="container-fluid">
                <div class="row">
                    <div class="bg"></div>
                    <div class="col-lg-12 pt-lg-5p pb-lg-0 pl-lg-0 pr-lg-0 text-center">
                        <h6 class="mb-m-15p mb-lg-5p">ACCOMMODATION</h6>
                        <div class="w-lg-100p pos-rel text-right">
                            <img class="img-fluid images" src="images/images-08.png" />
                            <img class="img-fluid motif d-none d-lg-block" src="images/motif-08.png" />
                            <img class="img-fluid motif d-block d-lg-none" src="images/mobile-motif-06.png" />
                            <div class="boxc text-left">
                                <div data-aos="fade-right" data-aos-once="true" data-aos-offset="-5000">
                                    <h3>Palihotel</h3>
                                    <table>
                                        <tr>
                                            <td>
                                                <p>LOCATION</p>
                                            </td>
                                            <td>
                                                <h5>
                                                    7950 Melrose Ave,<br />
                                                    Los Angeles, CA 90046.
                                                </h5>
                                            </td>
                                        </tr>
                                    </table>
                                    <p>
                                        Your convenience is one of our priorities, we have booked you a room. Please mention Lucas & Eliza when you reserve the room.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid pt-m-10p">
                <div class="row">
                    <div class="bg"></div>
                    <img class="img-fluid motif" src="images/motif-09.png" />
                    <img class="img-fluid motif2" src="images/motif-10.png" />
                    <div class="col-lg-12 pt-m-10p pb-m-20p pl-m-10p pr-m-10p pt-lg-15p pb-lg-15p pl-lg-5p pr-lg-5p text-center">
                        <h6 id="rsvp-d" data-aos="fade-down" data-aos-once="true" data-aos-offset="-4500" class="mb-m-10p mb-lg-2p">REGISTRY</h6>
                        <h2 data-aos="fade-up" data-aos-once="true" data-aos-offset="-4500" class="mb-m-20p mb-lg-5p">Your presence is a gift</h2>
                        <div class="brief">
                            <p>We are thrilled to welcome you to be our guest at the most unforgettable celebration of our life!</p>
                        </div>
                        <form>
                            <label for="your-firstname">FULL NAME*</label>
                            <input type="text" class="form-control" id="your-firstname" name="your-firstname" placeholder="Type here" required>
                            <label>YOUR RESPONSE*</label>
                            <div class="radio-toolbar">
                                <input type="radio" id="radioYES" name="attending" value="yes">
                                <label for="radioYES" class="mr-lg-2p">Attending</label>
                                <input type="radio" id="radioNO" name="attending" value="no">
                                <label for="radioNO">Not Attending</label>
                            </div>
                            <div class="my-lg-3"></div>
                            <label for="your-email">EMAIL*</label>
                            <input type="email" class="form-control" id="your-email" name="your-email" placeholder="Type here" required>
                            <label for="your-phone">PHONE NUMBER*</label>
                            <input type="text" class="form-control" id="your-phone" name="your-phone" placeholder="Type here" required>
                            <label for="your-guest">ADDITIONAL GUEST*</label>
                            <input type="number" class="form-control" id="your-guest" name="your-guest" placeholder="Type here" required>
                            <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                <img class="img-fluid" src="images/arrow-left.png" />
                            </a>
                            <input class="text-center" type="number" name="your-guest" id="spinner" value="0" placeholder="0" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                <img class="img-fluid" src="images/arrow-right.png" />
                            </a>
                            <a href="#" class="button-default d-block text-center" data-toggle="modal" data-target="#ebrochure">Submit</a>
                            <a href="invitation.pdf" class="button-download">Download Invitation</a>
                            <div class="modal fade" id="ebrochure">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="container-fluid pt-lg-10p pb-lg-10p pl-lg-10p pr-lg-10p">
                                            <div class="row">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />
                                                </a>
                                                <img class="img-fluid motif" src="images/popup-motif-01.png" />
                                                <img class="img-fluid motif2" src="images/popup-motif-02.png" />
                                                <img class="img-fluid motif3" src="images/popup-motif-03.png" />
                                                <div class="col-lg-12 text-center">
                                                    <div class="w-m-100p w-lg-65p ma-lg">
                                                        <h2>Thank you<br />for the RSVP</h2>
                                                        <p>
                                                            Thank you for submitting. We will process your RSVP immediately. We are looking forward to see you on our special day. If there is more we can do to make this experience more enjoyable, please do not hesistate to reach our PIC.
                                                        </p>
                                                        <a class="button-popup" href="">PIC: Wanda 099-800-9999</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="images_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-02.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-03.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-04.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-02.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-03.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-04.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-02.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-03.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="images_9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white text-right" data-dismiss="modal">&times;</h2>
                        <img class="mx-auto d-block" src="images/images-04.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-10p pl-m-10p pr-m-10p py-lg-4 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="order-2 order-lg-1 col-12 mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="order-1 order-lg-2 col-12 mb-m-5p mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>