<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding Victor | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style_victor.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
    <div class="line d-none d-lg-block">
        <div class="line-wrap">
            <img style="height: 100vh;" src="images/vertical-line-18.png">
            <a href="#rsvp">
                <img class="panah" src="images/anak-panah-lepas-11.png">
            </a>
        </div>
    </div>
    <div data-aos="fade-down" class="logo">
        <img src="images/logo-12.png">
    </div>
    <div class="nav-victor">
        <div class="container-fluid">
            <div class="row d-none d-lg-flex">
                <nav data-aos="fade-right" class="w-100 text-left menu" id="navbar-example">
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#invite" class="nav-link active">
                                01 The Invite
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#story" class="nav-link">
                                02 Our Story
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#gallery" class="nav-link">
                                03 Gallery
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#venue" class="nav-link">
                                04 Venue
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp" class="nav-link">
                                05 RSVP
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row d-lg-none">
                <div class="menu-icon w-100 text-right">
                    <img src="images/menu-icon-victor-13.png">
                </div>
                <div class="side-menu">
                    <h3 class="text-yellow text-right m-4 close-div">
                        &times;
                    </h3>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4">
                            <a class="nav-link active" href="#invite">
                                01 The Invite
                            </a>
                        </li>
                        <li class="mx-4">
                            <a class="nav-link" href="#story">
                                02 Our Story
                            </a>
                        </li>
                        <li class="mx-4">
                            <a class="nav-link" href="#gallery">
                                03 Gallery
                            </a>
                        </li>
                        <li class="mx-4">
                            <a class="nav-link" href="#venuem">
                                04 Venue
                            </a>
                        </li>
                        <li class="mx-4">
                            <a class="nav-link" href="#rsvp">
                                05 RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-out" class="container-fluid header" id="invite">
        <div class="row">
            <div class="content">
                    <p class="text-dgray">
                        Join the celebration as Victor Rolf and Karla<br>
                        Jasmine say "I do" on the shores of<br>
                        beautiful Mount Fuji, Japan.
                    </p>
                    <p class="text-brown font-weight-bold">
                        Time till the Wedding
                    </p>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <h1 class="text-dgreen font-90-px mb-0" id="days">
                            </h1>
                            <p class="text-brown font-palatino mb-0">
                                Days
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h1 class="text-dgreen font-90-px mb-0" id="hours">
                            </h1>
                            <p class="text-brown font-palatino mb-0">
                                Hours
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h1 class="text-dgreen font-90-px mb-0" id="minutes">
                                05
                            </h1>
                            <p class="text-brown font-palatino mb-0">
                                Minutes
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div data-aos="fade-up" class="container-fluid brief pt-5" id="story">
        <div class="row pt-5">
            <div class="col-lg-12 pt-5">
                <p class="d-lg-none text-white mx-auto d-block px-5 text-center mt-5">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
                </p>
            </div>
        </div>
    </div>
    <div  class="container-fluid gallery" id="gallery">
        <div class="row">
            <div class="col-lg-12 px-0">
            </div>
        </div>
        <div class="gallery-number">
            <h1 class="text-white">03</h1>
        </div>
        <div class="d-none d-lg-block">
            <img class="image-gallery" src="images/gallery-image-14.png">
        </div>
        <div class="d-lg-none">
            <img class="image-gallery" src="images/gallery-image-mobile-16.png">
        </div>
        <a class="text-brown view-click">
            View Gallery >
        </a>
        <a class="text-brown view-close hide">
            <h2>
                <i class="fa fa-times"></i>
            </h2>
        </a>
        <div class="row gallery-content-section" id="gallery" data-toggle="modal" data-target="#galleryModal">
            <div class="col-lg-3 offset-lg-2 col-4">
                <div class="row">
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-15.jpg" data-target="#carouselGallery" data-slide-to="0">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-16.jpg" data-target="#carouselGallery" data-slide-to="1">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-17.jpg" data-target="#carouselGallery" data-slide-to="2">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="row">
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-18.jpg" data-target="#carouselGallery" data-slide-to="3">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-19.jpg" data-target="#carouselGallery" data-slide-to="4">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-20.jpg" data-target="#carouselGallery" data-slide-to="5">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="row">
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-21.jpg" data-target="#carouselGallery" data-slide-to="6">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-22.jpg" data-target="#carouselGallery" data-slide-to="7">
                    </div>
                    <div class="col-lg-12 my-2">
                        <img class="w-100" src="images/gallery-content-items-23.jpg" data-target="#carouselGallery" data-slide-to="8">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <h2 aria-hidden="true">&times;</h2>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
            <div id="carouselGallery" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-15.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-16.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-17.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-18.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-19.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-20.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-21.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-22.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-75 mx-auto" src="images/gallery-content-items-23.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                <h3 class="carousel-control-prev-icon" aria-hidden="true"></h3>
                <h3 class="sr-only">Previous</h3>
              </a>
              <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                <h3 class="carousel-control-next-icon" aria-hidden="true"></h3>
                <h3 class="sr-only">Next</h3>
              </a>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div data-aos="fade-up" class="container-fluid venue px-0 d-none d-lg-block" id="venue">
        <div class="venue-number">
            <h1 class="text-dgreen">
                04
            </h1>
        </div>
        <div class="row mx-0">
            <div class="col-lg-8 offset-lg-2">
                <div class="div-nav-venue">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Accommodation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Reception</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Holy Matrimony</a>
                      </li>
                    </ul>
                </div>   
            </div>
        </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container-fluid px-0">
                <div class="row mx-0">
                  <div class="col-lg-9 offset-lg-2 pt-5">
                    <h1 class="text-dgreen font-90-px mt-5 d-none d-lg-block">
                        Fufu<br>
                        Kawaguchiko
                    </h1>
                    <div class="my-lg-4 py-lg-5"></div>
                    <p class="text-dgray">
                            Your convenience is one of our priorities, we<br>
                            have booked you a room at this following place:
                        <br><br>
                        <strong>
                            2211-1 Mizuguchi, Kawaguchi-Aza, <br>
                            Fuji-Kawaguchiko-Machi, Minamitsuru-Gun, <br>
                            Yamanashi, 401-0304, Japan.<br>
                        </strong>
                        <br>
                            *Please mention Victor & Karla when<br>
                            you reserve the room.<br>
                        <br>
                    </p>
                </div>
                </div>
                </div>
              </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container-fluid px-0">
                <div class="row mx-0">
                    <div class="col-lg-9 offset-lg-2 pt-5">
                        <h1 class="text-dgreen font-90-px mt-5">
                            Oshino<br>
                            Hakkai
                        </h1>
                        <div class="my-lg-4 py-lg-5"></div>
                        <p class="text-dgray">
                            <strong>
                                Shibokusa, Oshino, Minamitsuru District,<br>
                                Yamanashi 401-0511, Japan.
                            </strong>
                            <br><br>
                                Date: Saturday, January  21st 2020. <br>
                                Time: 17:30 – Finish <br>
                                Dress Code: Evening Gown/ Kimono<br>
                            <br>
                                *We will be providing a shuttle bus for all of our<br>
                                guests from the resort to the venue.<br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="container-fluid px-0">
                <div class="row mx-0">
                    <div class="col-lg-8 offset-lg-2 pt-5">
                        <h1 class="text-dgreen font-90-px mt-5">
                            Hanano<br>
                            Cathedral
                        </h1>
                        <div class="my-lg-4 py-lg-5"></div>
                        <p class="text-dgray">
                            <strong>
                                Shibokusa, Oshino, Minamitsuru District, <br>
                                Yamanashi 401-0511, Japan.
                            </strong>
                            <br><br>
                                Date: Friday, January  20th 2020.<br>
                                Time: 10:00 – 12:00PM<br>
                                Dress Code: Formal Wear<br>
                            <br>
                                *We will be providing a shuttle bus for all of our<br>
                                guests from the resort to the venue.<br>
                            <br>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
    <div id="venuem" class="container-fluid d-lg-none">
        <div class="row">
            <div class="mobile-venue owl-theme">
                <div class="item">
                    <div class="pl-5 slide-1">
                        <h1 class="text-dgreen font-90-px">
                            Fufu<br>
                            Kawa-<br>
                            guchiko<br>
                        </h1>
                        <p class="text-brown font-weight-bold my-4">
                            Accommodations
                        </p>
                        <p class="text-dgray">
                            Your convenience is one of our priorities,<br>
                            we have booked you a room at this<br>
                            following place:<br>
                            <br>
                            <strong>
                            2211-1 Mizuguchi, Kawaguchi-Aza,<br>
                            Fuji-Kawaguchiko-Machi,<br>
                            Minamitsuru-Gun, Yamanashi, 401-0304,<br>
                            Japan.<br>
                            </strong>
                            <br>
                            *Please mention Victor & Karla when<br>
                            you reserve the room.<br>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="pl-5 slide-2">
                        <h1 class="text-dgreen font-90-px">
                            Oshino<br>
                            Hakkai
                        </h1>
                        <p class="text-brown font-weight-bold my-4">
                            Receptions
                        </p>
                        <p class="text-dgray">
                            <strong>
                            Shibokusa, Oshino, Minamitsuru District,<br>
                            Yamanashi 401-0511, Japan.<br>
                            </strong>
                            <br>
                            Date: Saturday, January  21st 2020.<br>
                            Time: 17:30 – Finish<br>
                            Dress Code: Evening Gown/ Kimono<br>
                            <br>
                            *We will be providing a shuttle bus for all of our<br>
                            guests from the resort to the venue.<br>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="pl-5 slide-3">
                        <h1 class="text-dgreen font-90-px">
                            Hanano<br>
                            Cathedral
                        </h1>
                        <p class="text-brown font-weight-bold my-4">
                            Holy Matrimony
                        </p>
                        <p class="text-dgray">
                            <strong>
                            Shibokusa, Oshino, Minamitsuru District,<br>
                            Yamanashi 401-0511, Japan.<br>
                            </strong>
                            <br>
                            Date: Friday, January  20th 2020.<br>
                            Time: 10:00 – 12:00PM<br>
                            Dress Code: Formal Wear<br>
                            <br>
                            *We will be providing a shuttle bus for all of our<br>
                            guests from the resort to the venue.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid contact px-5 px-lg-0" id="rsvp">
        <div class="line d-none d-lg-block">
            <div class="line-wrap">
                <img src="images/vertical-line-18.png">
                <a href="#invite">
                    <img class="panah" src="images/panah-atas-19.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col-lg-12 pb-lg-5">
                        <h1 class="font-90-px text-white mb-5 mt-lg-5">
                            RSVP
                        </h1>
                        <p class="text-white">
                            Kindly let us know if you can join us in<br>
                            our special day. Please do RSVP latest by<br>
                            February 20th 2020.
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <div class="row py-1">
                            <label class="col-6 col-lg-5 col-form-label">
                                <p class="text-lgray font-weight-bold">
                                    Are you attending?*
                                </p>
                            </label>
                            <div class="col-6 col-lg-5">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                  <label class="form-check-label text-lgray" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label text-lgray" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row py-1">
                            <label class="col-6 col-lg-5 col-form-label">
                                <p class="text-lgray font-weight-bold">
                                    Full Name*
                                </p>
                            </label>
                            <div class="col-6 col-lg-5">
                                <input type="text" class="form-control" placeholder="Type here">
                            </div>
                        </div>
                        <div class="row py-1">
                            <label class="col-6 col-lg-5 col-form-label">
                                <p class="text-lgray font-weight-bold">
                                    Email Address*
                                </p>
                            </label>
                            <div class="col-6 col-lg-5">
                                <input type="text" class="form-control" placeholder="Type here">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row py-1">
                            <label class="col-6 col-lg-5 col-form-label">
                                <p class="text-lgray font-weight-bold">
                                    Phone Number*
                                </p>
                            </label>
                            <div class="col-6 col-lg-5">
                                <input type="text" class="form-control" placeholder="Type here">
                            </div>
                        </div>
                        <div class="row py-1">
                            <label class="col-6 col-lg-5 col-form-label">
                                <p class="text-lgray font-weight-bold">
                                    Additional Guest*
                                </p>
                            </label>
                            <div class="col-6 col-lg-5">
                                <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                <a role="button" id="step-increment" class="btn btn-default pt-0" aria-label="add 1" aria-labelledby="step-increment label-text">
                                    <h6 class="text-lgray mb-0">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </h6>
                                </a>
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-lg-10 text-right pt-3">
                                <a target="__blank" href="invitation.pdf" class="button-download mx-3">
                                    Download invitation
                                </a>
                                <input type="submit" value="Submit >" class="text-white submit-btn"  data-toggle="modal" data-target="#form-submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-blue py-4 footer">
        <div class="row">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-dgray mb-0">
                    All Rights Reserved © This website is made by <strong>Reservasi Dulu</strong>
                </p>
            </div>
            <div class="offset-lg-5 col-lg-2 order-lg-2 order-1">
                <a href="#" class="button rounded-pill">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content  thank-you">
          <div class="close-div text-right pt-lg-5 pr-lg-5 pr-2">
            <h1 class="text-white" data-dismiss="modal" aria-hidden="true">
              &times;
            </h1>
          </div>
            <div class="col-lg-12 py-5">
            <h1 class="text-white font-90-px text-center">
                Thank you<br>
                for the RSVP
            </h1>
            <br>
            <p class="text-white mx-auto my-4 text-center">
                Thank you for submitting. We will process your RSVP immediately.<br>
                We are looking forward to see you on our special day.<br>
                If there is more we can do to make this experience enjoyable for you,<br>
                please do not hesistate to reach our PIC.<br>
                <br>
                PIC: WANDA 099-800-9999 

            </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>