<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-9.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <!-- Section Date & Time -->
        <section id="dateandtime">
            <div class="container-fluid px-lg-0 px-4">
                <div class="row">
                    <div class="col-lg-12 pt-m-15p pb-m-15p pl-m-10p pr-m-10p pl-lg-0 pr-lg-0 bg-cream">
                        <div class="row">
                            <div class="col-lg-5 pl-lg-5 pr-0 pt-5" data-aos="fade-left">
                                <div class="wrap">
                                    <img class="img-fluid images w-lg-100p" src="images/header-content-08.jpg" />
                                </div>
                                <img class="img-fluid motif" src="images/motif-01.png" />
                            </div>
                            <div class="col-lg-7 free-tab-right">
                                <div class="row">
                                    <div class="col-lg-12 px-lg-5">
                                        <h5 class="font-white">
                                            Steve & Sharon
                                            <span class="font-titiliumweb-light font-white font-18px">
                                                invite you to
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="tabweddingceremony-tab" data-toggle="tab" href="#tabweddingceremony" role="tab" aria-controls="tabweddingceremony">
                                            <img class="img-fluid arrow-left mr-lg-5p" src="images/arrow-05.png" />
                                            Wedding Ceremony
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tabweddingparty-tab" data-toggle="tab" href="#tabweddingparty" role="tab" aria-controls="tabweddingparty">
                                            Wedding Party
                                            <img class="img-fluid arrow-right ml-lg-5p" src="images/arrow-06.png" />
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div class="tab-pane fade" id="tabweddingceremony" role="tabpanel" aria-labelledby="tabweddingceremony-tab">
                                        <div class="container-fluid d-none d-lg-block">
                                            <div class="row">
                                                <div class="col-lg-12 padbrief">
                                                    <div class="row">
                                                        <div class="col-lg-12 brief pb-m-10p">
                                                            <div class="row st">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-6 pl-lg-0 pt-lg-3 pb-lg-3">
                                                                            <p class="mb-0">
                                                                                Our Wedding Ceremony will be held at:
                                                                                <br><br>
                                                                                <strong>Grand Chapel of Toronto, Canada</strong><br>
                                                                                Holy Spirit Street, 3-5 A<br>
                                                                                Glass Boulevard, Water Village<br>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-6 p-4 lineleft">
                                                                            <h5 class="font-white font-titiliumweb-light mb-0">
                                                                                23 September 2020
                                                                            </h5>
                                                                            <h5 class="font-white font-titiliumweb-light mb-0">
                                                                                10:00 till 12:00
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid d-lg-none">
                                            <div class="row">
                                                <div class="col-lg-12 padbrief">
                                                    <div class="row">
                                                        <div class="col-lg-12 brief pb-m-10p">
                                                            <div class="row st">
                                                                <div class="col-7 col-lg-7">
                                                                    <div class="row">
                                                                        <div class="col-5 col-lg-5 pl-lg-0">
                                                                            <div class="date">24</div>
                                                                        </div>
                                                                        <div class="col-7 col-lg-7 pl-lg-0">
                                                                            <div class="my">September 2020</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-5 col-lg-5 lineleft">
                                                                    <div class="time">10:00 am till 07:00 pm</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mtext-center">
                                                            <p class="mb-0">
                                                                <strong>Grand Chapel of Toronto, Canada</strong><br>
                                                                Holy Spirit Street, 3-5 A<br>
                                                                Glass Boulevard, Water Village<br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabweddingparty" role="tabpanel" aria-labelledby="tabweddingparty-tab">
                                        <div class="container-fluid d-none d-lg-block">
                                            <div class="row">
                                                <div class="col-lg-12 padbrief">
                                                    <div class="row">
                                                        <div class="col-lg-12 brief pb-m-10p">
                                                            <div class="row st">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-6 pl-lg-0 pt-lg-3 pb-lg-3">
                                                                            <p class="mb-0">
                                                                                Our Wedding Ceremony will be held at:
                                                                                <br><br>
                                                                                <strong>Grand Chapel of Toronto, Canada</strong><br>
                                                                                Holy Spirit Street, 3-5 A<br>
                                                                                Glass Boulevard, Water Village<br>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-6 p-4 lineleft">
                                                                            <h5 class="font-white font-titiliumweb-light mb-0">
                                                                                23 September 2020
                                                                            </h5>
                                                                            <h5 class="font-white font-titiliumweb-light mb-0">
                                                                                10:00 till 12:00
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid d-lg-none">
                                            <div class="row">
                                                <div class="col-lg-12 padbrief">
                                                    <div class="row">
                                                        <div class="col-lg-12 brief pb-m-10p">
                                                            <div class="row st">
                                                                <div class="col-7 col-lg-7">
                                                                    <div class="row">
                                                                        <div class="col-5 col-lg-5 pl-lg-0">
                                                                            <div class="date">24</div>
                                                                        </div>
                                                                        <div class="col-7 col-lg-7 pl-lg-0">
                                                                            <div class="my">September 2020</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-5 col-lg-5 lineleft">
                                                                    <div class="time">10:00 am till 07:00 pm</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mtext-center">
                                                            <p class="mb-0">
                                                                <strong>Grand Chapel of Toronto, Canada</strong><br>
                                                                Holy Spirit Street, 3-5 A<br>
                                                                Glass Boulevard, Water Village<br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 px-lg-5 py-lg-0 py-5 bg-rsvp px-4">
                                        <h4 class="font-blue d-lg-none">
                                            RSVP
                                        </h4>
                                        <form>
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        <label>
                                                            Fill in the list below IF you are attending
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>Full Name</label></td>
                                                    <td>:<input type="text" name="your-name" class="form-control" required /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Email</label></td>
                                                    <td>:<input type="email" name="your-email" class="form-control" required /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Phone No.</label></td>
                                                    <td>:<input type="text" name="your-phone" class="form-control" required /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Additional Guest</label></td>
                                                    <td>
                                                        <div class="guest">
                                                            <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                                                <img class="img-fluid" src="images/form-01.png" />
                                                            </a>
                                                            <input type="number" name="your-guest" id="spinner" value="0" placeholder="0" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                                            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                                                <img class="img-fluid" src="images/form-02.png" />
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                <div class="button-wrap d-block d-lg-none">
                                                    <input type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                                    <img class="img-fluid" src="images/arrow-02.png" />
                                                </div>
                                                <div class="button-wrap d-none d-lg-block">
                                                    <input type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                                    <img class="img-fluid" src="images/arrow-03.png" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-10p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="order-2 order-lg-1 col-12 mb-m-0 mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by Reservasi Dulu</p>
                    </div>                
                    <div class="order-1 order-lg-2 col-12 mb-m-5p mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>