<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-1.css">
</head>
<body>
    <div id="homepage">
        <!-- NAVBAR -->
        <nav>
            <div class="container-fluid animated fadeInUp">
                <div class="row d-none d-lg-block">
                    <div class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#gallery">GALLERY</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISHLIST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="offset-8 col-4 text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#gallery">GALLERY</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISHLIST</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section BANNER -->
        <section id="banner" class="animated fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 px-0 px-lg-0">
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/background-01.png" />
                        <img class="img-fluid w-m-100p d-block d-lg-none" src="images/mobile-background-01.png" />
                        <img class="img-fluid logo boxc d-none d-lg-block" src="images/images-01.png" />
                        <img class="img-fluid logo boxc d-block d-lg-none" src="images/mobile-images-01.png" />
                        <img class="img-fluid motif boxc move-up" src="images/images-02.png" />
                        <img class="img-fluid ornament-01 move-right" src="images/ornament-banner-01.png" />
                        <img class="img-fluid ornament-02 move-left" src="images/ornament-banner-02.png" />
                        <img class="img-fluid ornament-03 move-down" src="images/ornament-banner-03.png" />
                        <a id="chevron-down" class="gobot" href="#about"><img class="img-fluid icon boxc" src="images/icon-01.png" /></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section ABOUT -->
        <section id="about">
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-10p pb-lg-20p pl-lg-5p pr-lg-5p">
                <div class="row">
                    <img class="img-fluid motif1 boxc move-up" src="images/ornament-about-02.png" />
                    <img class="img-fluid motif2 boxc w-lg-100p d-none d-lg-block" src="images/ornament-about-01.png" />
                    <img class="img-fluid motif2 boxc w-m-100p d-block d-lg-none" src="images/mobile-ornament-about-01.png" />
                    <img class="img-fluid motif3 boxc d-none d-lg-block move-left" src="images/ornament-about-03.png" />
                    <div class="wrap d-block d-lg-none">
                        <img class="img-fluid motif3 boxc move-left" src="images/ornament-about-03.png" />
                    </div>
                    <div class="col-lg-6 pt-lg-3p d-none d-lg-block">
                        <img class="img-fluid images bs move-up-slow" src="images/images-03.png" />
                    </div>
                    <div class="col-lg-6 pt-m-0 pl-m-15 pt-lg-5p pl-lg-15p">
                        <h2 class="font-green mb-lg-10p slideanim">
                            <span>ABOUT</span><br />
                            DIANA ROSS
                        </h2>
                        <img class="img-fluid bs mb-m-25p d-block d-lg-none" src="images/images-03.png" />
                        <div class="pl-m-0 pl-lg-10p slideanim">
                            <p>
                                Hi! I’m Diana Ross, for those who know me already, they probably already know that I am adventurous and I’m always excited to try new things. I think there’s a lot of amazing things you can try in this big BIG world.
                            </p>
                            <p>
                                But now I want to invite you to my one and only sweet seventeen birthday party, I really wanted to celebrate this significant moment with my best friends, I hope you will accompany through this celebration and make it one of the most unforgettable moment for me.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section DATE & PLACE -->
        <section id="dateandplace">
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p bg-yellow">
                <div class="row">
                    <img class="img-fluid bg boxc w-lg-100p d-none d-lg-block move-up" src="images/background-02.png" />
                    <img class="img-fluid bg boxc w-m-100p d-block d-lg-none" src="images/mobile-background-02.png" />
                    <img class="img-fluid motif1 boxc move-up" src="images/icon-04.png" />
                    <img class="img-fluid motif2 boxc move-up-slow" src="images/icon-05.png" />
                    <div class="col-lg-3 mb-lg-10p">
                        <h2 class="font-white slideanim">
                            <span>DATE</span><br />
                            & PLACE
                        </h2>
                    </div>
                    <div class="col-lg-9 mb-lg-10p">
                        <div class="w-m-100p w-lg-50p slideanim">
                            <p>My birthday will be celebrated with a lot of feast! And I ensure you that I will present you the best food from Indonesia, with the one and only, Kempinsky Catering.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row content">
                            <div class="col-lg-4 slideanimImage1">
                                <div class="box bg-green">
                                    <div class="boxc font-white">
                                        <span>23</span><br />
                                        09.2020
                                    </div>
                                </div>
                                <div class="desc">
                                    <p>
                                        Start from: <br />
                                        <b>18.00 - Done</b>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 slideanimImage2">
                                <div class="box bg-green">
                                    <img class="img-fluid w-lg-100p" src="images/images-04.png" />
                                    <div class="detail">
                                        <a href="" target="_blank">
                                            <div class="circle">
                                                <p class="boxc">SEE<br />LOCATION</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="desc">
                                    <p>
                                        <b>Hotel Mulia,</b><br />
                                        Grand Ballroom
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 slideanimImage3">
                                <div class="box bg-green">
                                    <img class="img-fluid w-lg-100p" src="images/images-05.png" />
                                </div>
                                <div class="desc pb-m-0">
                                    <p>
                                        No Dolls, No Money<br />
                                        <b>DC : All Pink</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section GALLERY -->
        <section id="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mtext-center pt-m-10p pb-m-10p pt-lg-3p pb-lg-3p pl-lg-5p pr-lg-5p bg-green">
                        <h2 class="mb-lg-0 font-white slideanim"><span>GALLERY</span></h2>
                    </div>
                    <div class="col-lg-12 pl-lg-0 pr-lg-0 d-none d-lg-block">
                        <div id="js-gallery">
                            <div class="gallery__hero">
                                <img class="img-fluid" src="images/images-06.png" />
                            </div>
                            <div class="gallery__thumbs">
                                <a href="images/images-06.png" data-gallery="thumb" class="is-active">
                                    <img class="img-fluid" src="images/images-06.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-09.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-09.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-08.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-08.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-07.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-07.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-06.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-06.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-09.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-09.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-08.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-08.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-07.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-07.png" />
                                    <div class="ov"></div>
                                </a>
                                <a href="images/images-08.png" data-gallery="thumb">
                                    <img class="img-fluid" src="images/images-08.png" />
                                    <div class="ov"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 pl-lg-0 pr-lg-0 d-block d-lg-none">
                        <div class="one-carousel owl-theme">
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-06.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                            </div>                            
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-lg-4 slideanimLeft">
                        <h2 class="font-yellow mb-lg-10p">
                            <span>ARE YOU</span><br />
                            COMING?
                        </h2>
                        <div class="w-m-70p mb-m-15p w-lg-50p">
                            <p>
                                I Hope you’d come to the
                                Party, please confirm your
                                attendance!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 slideanim">
                        <form>
                            <table>
                                <tr>
                                    <td><label>Are you attending? *</label></td>
                                    <td>
                                        <input type="radio" id="yes" name="your-attending" value="yes">
                                        <label class="radio" for="yes">Yes</label>
                                        <input type="radio" id="no" name="your-attending" value="no">
                                        <label class="radio" for="no">No</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Full Name *</label></td>
                                    <td><input type="text" name="your-name" class="form-control" placeholder="Ex : John Smith" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Email *</label></td>
                                    <td><input type="email" name="your-email" class="form-control" placeholder="Ex : johnsmith@gmail.com" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Phone number *</label></td>
                                    <td><input type="text" name="your-phone" class="form-control" placeholder="Ex : +62 1234 6789" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Additional guest *</label></td>
                                    <td>
                                        <div class="guest">
                                            <input type="number" name="your-guest" id="spinner" value="0" placeholder="0" min="0" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                                <img class="img-fluid" src="images/arrow-down.png" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="row w-lg-90p pl-lg-15 pr-lg-15">
                                <div class="order-3 order-lg-1 col-lg-5 pl-lg-0 pr-lg-0 mtext-center text-left">
                                    <a class="button-default bs" target="_blank" href="invitation.pdf">DOWNLOAD INVITATION</a>
                                </div>
                                <div class="order-2 order-lg-2 col-lg-4 pl-lg-0 pr-lg-0 text-center">
                                    <a href="wishlist.html" class="button-default bs pl-lg-30 pr-lg-30">SEE WISHLIST</a>
                                </div>
                                <div class="order-1 order-lg-3 col-lg-3 pl-lg-0 pr-lg-0 mtext-center text-right">
                                    <input type="submit" value="SUBMIT" class="button-pink bs ma-m" data-toggle="modal" data-target="#ebrochure" />
                                    <!-- Popup Wishlist -->
                                    <div class="modal fade" id="wishlist-popup">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                            <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/popup-01.png" />
                                                            <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/popup-02.png" />
                                                            <div class="boxc">
                                                                <h2 class="font-yellow mb-lg-5p">
                                                                    <span>THANK YOU</span><br />
                                                                    FOR PARTICIPATING
                                                                </h2>
                                                                <p>
                                                                    We will saving your seat for<br />
                                                                    your attendance, looking<br />
                                                                    forward to see you at<br />
                                                                    my Birthday Party!
                                                                </p>
                                                                <p>Love, Diana Ross</p>
                                                                <a class="button-wishlist" class="close" data-dismiss="modal">CLOSE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section THANKS -->
        <section id="thanks">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <div class="bg"></div>
                        <img class="img-fluid ornament boxc" src="images/ornament-thanks-02.png" />
                        <div class="boxc desc">
                            <p>Love, Diana Ross</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer>
            <div class="container-fluid pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p bg-aqua">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-8 font-white">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="order-1 order-lg-2 col-lg-4 mtext-center mb-m-5p text-right">
                        <a href="" class="button-trans">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>