<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-1.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="wishlist">
        <!-- Section WISHLIST -->
        <section id="content-wishlist">
            <img class="img-fluid w-lg-100p bg1 d-none d-lg-block move-up" src="images/background-03.png" />
            <img class="img-fluid w-lg-100p bg2 d-none d-lg-block move-up" src="images/background-04.png" />
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-20p pb-lg-10p pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-lg-4 mb-lg-10p animated fadeInLeft">
                        <h2 class="font-yellow mb-lg-10p">
                            <span>GIFT IDEAS</span><br />
                            FOR ME
                        </h2>
                        <div class="w-lg-100p">
                            <p>
                                You can choose and select gift ideas from the list below<br>
                                so others will not need to give the same gift.<br>
                                <br>
                                It is not mandatory to give things from this list. If you’re<br>
                                prefer to give other gift please select the “others”<br>
                                option. Your presence is much more important and<br>
                                needed.<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-lg-5p px-5">
                        <div class="row">
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-02.png" />
                                    <p class="title">SHOES</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-about-03.png" />
                                    <p class="title">ACCESSORIES</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-01.png" />
                                    <p class="title">SWEATER</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-about-03.png" />
                                    <p class="title">MAKEUP</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-01.png" />
                                    <p class="title">SKIN CARE</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-02.png" />
                                    <p class="title">STUFF FOR
                                        MY DOGGO</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-01.png" />
                                    <p class="title">PINK CARDIGAN</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-02.png" />
                                    <p class="title">HEADBANDS</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/ornament-banner-01.png" />
                                    <p class="title">STATIONERY</p>
                                </a>
                            </div>
                            <!-- Popup Wishlist -->
                            <div class="modal fade" id="wishlist-popup">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/popup-new-bg-04.png" />
                                                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/popup-02.png" />
                                                    <div class="boxc">
                                                        <h2 class="font-green mb-lg-5p">
                                                            YOU CHOOSE TO<br>
                                                            GIVE THIS GIFT:
                                                        </h2>
                                                        <h1 class="font-green font-weight-bold">
                                                            SHOES
                                                        </h1>
                                                        <hr class="w-lg-15p mb-lg-5 mt-lg-4 mx-auto">
                                                        <p>
                                                            Please input your email address<br>
                                                            to continue the confirmation*
                                                        </p>
                                                        <div class="form-group py-lg-3">
                                                            <input type="text" name="your-name" class="form-control w-lg-30p mx-auto text-center" placeholder="Ex : johnsmith@gmail.com" required="">
                                                        </div>
                                                        <div class="w-lg-35p mx-auto">
                                                        <div class="row">
                                                            <a class="button-green" class="close" data-dismiss="modal"  data-toggle="modal" data-target="#confirm-popup">CONFIRM
                                                                THE GIFT</a>
                                                            <a class="button-wishlist" class="close" data-dismiss="modal">CLOSE</a>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Popup Wishlist -->
                            <div class="modal fade" id="confirm-popup">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/popup-new-bg-04-03.png" />
                                                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/popup-02.png" />
                                                    <div class="boxc">
                                                        <h2 class="font-green">
                                                            <span class="font-weight-bold">
                                                                THANK YOU
                                                            </span><br>
                                                            FOR YOUR GIFT
                                                        </h2>
                                                        <p class="my-lg-4">
                                                            Remember, your presence is<br>
                                                            much more important and<br>
                                                            needed!
                                                        </p>
                                                        <div class="w-lg-35p mx-auto">
                                                            <div class="row">
                                                                <a class="button-wishlist" class="close" data-dismiss="modal">CLOSE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-4 text-center slideanim">
                        <p class="mb-4">
                            Didn’t find one you prefer? click this:
                        </p>
                        <a href="#" class="button-cyan">OTHERS</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer>
            <div class="container-fluid py-lg-4 pl-lg-5p pr-lg-5p bg-aqua">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-8 font-white">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="order-1 order-lg-2 col-lg-4 mtext-center mb-m-5p text-right">
                        <a href="" class="button-trans">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>