<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event 8 | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style_event_8.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
        <div data-aos="fade-up" class="nav-event container-fluid">
            <div class="row d-none d-lg-flex mr-5">
                <div class="col-lg-12 text-center">
                    <ul class="list-unstyled">
                        <li class="mx-3">
                            <a href="#about" class="nav-link my-5 active">
                                HOME
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#lineup" class="nav-link my-5">
                                LINEUP
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#tickets" class="nav-link my-5">
                                TICKETS
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#updates" class="nav-link my-5">
                                UPDATES
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#venue" class="nav-link my-5">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#about" class="nav-link my-5">
                                ABOUT US
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="#sponsors" class="nav-link my-5">
                                SPONSORS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-2 offset-10 text-center pr-4 pt-3">
                    <div class="menu-icon">
                        <img class="img-fluid" src="images/menu-icon-07.png">
                    </div>
                </div>
                <div class="side-menu text-center">
                    <h1 class="text-right m-4 close-div text-white">
                        &times;
                    </h1>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2 active" href="#about">
                                HOME
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#lineup">
                               LINEUP
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#tickets">
                                TICKETS
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#updates">
                                UPDATES
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#venue">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#about">
                                ABOUT US
                            </a>
                        </li>
                        <li class="mx-4 my-4">
                            <a class="nav-link py-2" href="#sponsors">
                                SPONSORS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div data-aos="zoom-out" class="container-fluid header" id="home">
        <div class="row">
            <div class="col-lg-12 content-header">
                <div class="content text-center">
                    <img data-aos="fade-up" class="d-block mx-auto my-2 logo-ismaya" src="images/ismaya-logo-03.png">
                    <img data-aos="fade-down" class="d-block mx-auto logo-sountopia" src="images/soundtopia-logo-04.png">
                    <p  data-aos="zoom-out" data-aos-offset="-350" class="d-block mx-auto text-white font-montserrat-semibold my-3">
                        ICE BSD HALL 5  <span class="mx-2">|</span>  7 - 9 . JULY . 2019
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid videos bg-light-cream">
        <div class="row wrap-videos px-2 px-lg-0">
            <div class="col-lg-11 container-videos offset-lg-1 px-4 px-lg-2">
                <div class="content">
                    <h1 data-aos="fade-left" class="text-blue font-montserrat-semibold font-55-px">
                        “WE ARE<br> 
                        THE FUTURE<br> 
                        LIVE TODAY”
                    </h1>
                </div>
                <img data-aos="fade-up" class="img-fluid" src="images/videos-content-05.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid line-up bg-light-cream">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12 text-center">
                <div class="title pt-lg-3 pt-2">
                    <h1 class="font-russo text-white ml-lg-4">
                        LINEUP
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up" class="col-lg-10 offset-lg-1 px-lg-0">
                <div  id="lineup" class="carousel-lineup owl-theme">
                    <div class="item">
                        <img src="images/line-up-image-08.png">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            Marshmello
                        </h1>
                    </div>
                    <div class="item">
                        <img src="images/line-up-image-09.png">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            Calvin<br>
                            Harris
                        </h1>
                    </div>
                    <div class="item">
                        <img src="images/line-up-image-10.png">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            Mamank<br>
                            DJ
                        </h1>
                    </div>
                    <div class="item">
                        <img src="images/line-up-image-10.png">
                        <h1 class="text-white text-center font-montserrat-semibold">
                            Julian<br>
                            Kurniawan
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid tickets">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-12">
                <div id="tickets" class="title pt-lg-3 pt-2">
                    <h1 class="text-white font-russo offset-lg-2 offset-1 ml-4">
                        TICKETS
                    </h1>
                </div>
            </div>
        </div>
        <div class="row my-5 py-5 mx-lg-0 mx-1">
            <div class="col-lg-10 offset-lg-1">
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div data-aos="fade-up" class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up"  class="col-lg-6 my-lg-0 my-3">
                        <h4 class="text-blue font-montserrat-semibold mb-0 mb-lg-1">
                            GENERAL ADMISSION
                        </h4>
                        <p class="text-gray font-montserrat mb-1">
                            (1 DAY PASS)
                        </p>
                        <div class="price d-flex">
                            <div class="value pl-lg-3 pr-lg-5 px-2">
                                <p class="text-blue font-montserrat-semibold mb-0">
                                    STARTING FROM
                                </p>
                                <h1 class="text-blue font-55-px font-montserrat-semibold"><sup class="font-montserrat-semibold">IDR</sup> 500K</h1>
                            </div>
                            <div class="book-now bg-blue pt-lg-4 px-lg-4 pt-4 px-3">
                                <h6 class="text-white font-montserrat-semibold mt-lg-3 mt-2">
                                    BOOK NOW
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid updates">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12">
                <div class="title pt-lg-3 pt-2">
                    <h1 class="text-white font-russo offset-lg-2 mr-4 mr-lg-0">
                        UPDATES
                    </h1>
                </div>
            </div>
        </div>
        <div  id="updates" data-aos="fade-up" class="row row-content px-lg-0 px-4">
            <div class="col-lg-8 offset-lg-2">
                <div class="row border-bottom-white pb-lg-4">
                    <div class="col-lg-9 pt-lg-4">
                        <h1 class="text-white font-montserrat-semibold mt-lg-1">
                            E-VOUCHER EXCHANGE<br>
                            GUIDELINE AVAILABLE NOW
                        </h1>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-light-gray mb-0 mt-3">
                            Read the guideline
                            FIRST prior to
                            exchanging
                            your e-vouchers<br> 
                        </p>
                        <a class="text-light-blue" href="">......READ MORE </a>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            SOUNTOPIA APP IS<br>
                            NOW AVAILABLE 
                        </h5>
                        <p class="text-light-gray">
                            Download now for free on App Store and<br>
                            PLAY STORE!  <a class="text-light-blue" href="">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            SOUNTOPIA APP IS<br>
                            NOW AVAILABLE 
                        </h5>
                        <p class="text-light-gray">
                            Download now for free on App Store and<br>
                            PLAY STORE!  <a class="text-light-blue" href="">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            SOUNTOPIA APP IS<br>
                            NOW AVAILABLE 
                        </h5>
                        <p class="text-light-gray">
                            Download now for free on App Store and<br>
                            PLAY STORE!  <a class="text-light-blue" href="">.......READ MORE</a> 
                        </p>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <h5 class="text-white font-montserrat-semibold">
                            SOUNTOPIA APP IS<br>
                            NOW AVAILABLE 
                        </h5>
                        <p class="text-light-gray">
                            Download now for free on App Store and<br>
                            PLAY STORE!  <a class="text-light-blue" href="">.......READ MORE</a> 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center py-4">
                        <a href="#" class="button-updates text-white border-white px-3 py-2 rounded-button">
                            MORE UPDATES
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid venue" id="venue">
        <div class="row">
            <div class="col-lg-5 px-0">
                <div class="title" data-aos="fade-right" >
                    <h1 class="font-russo text-blue">
                        VENUE
                    </h1>
                </div>
                    <h1 class="text-light-blue pt-lg-5 pt-3 mt-lg-5 ml-lg-5 pl-5">
                        ICE BSD
                    </h1>
                    <h3 class="text-light-blue ml-lg-5 pl-5">
                        HALL 5
                    </h3>
                    <p class="text-gray mt-lg-5 mt-3 ml-lg-5 pl-5">
                        Jl. BSD Grand Boulevard Max<br>
                        well Raya No.1, Pagendangan,<br>
                        Kec. Pagedangan, Tangerang,<br>
                        Banten 15339<br>
                    </p>
            </div>
            <div class="col-lg-7 pt-4 pr-0 pl-lg-2 pl-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15862.918108214062!2d106.6369675!3d-6.2992282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34406ed8b098f478!2sIndonesia%20Convention%20Exhibition%20(ICE)%20BSD%20City!5e0!3m2!1sen!2sid!4v1593501784293!5m2!1sen!2sid" class="w-100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid about" id="about">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12">
                <div class="title pt-lg-4">
                    <h1 class="text-white font-russo offset-lg-2 d-none d-lg-block">
                        ABOUT SOUNTOPIA
                    </h1>
                    <h1 class="text-white font-russo offset-lg-2 d-lg-none mt-2">
                        ABOUT US
                    </h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 left-content">
                <h1 class="text-white font-montserrat-semibold mb-lg-5 mb-0">
                    BRING THE<br>
                    MAGICAL NIGHTS<br>
                    THROUGH MUSIC<br>
                </h1>
                <p class="text-white mt-5 mt-lg-5">
                    South East Asia largest EDM festival - Sountopia turns<br>
                    5 this year! Starting from 2015, the festival has been<br>
                    held anually in the month of November as a two-days<br>
                    festival until it expanded into a three-days festival in<br>
                    2017 with more DJs.<br>
                </p>
                <p class="text-white">
                    The festival uphoalds the value of Unity through music.<br>
                    A wide spectrum of sub-genres under the dance music<br>
                    category are given a platform through the multiple stages<br>
                    in the festival.<br>
                </p>
                <p class="mt-5">
                    <a class="button-blue bg-blue text-white font-montserrat-semibold px-lg-5 px-5 py-2 rounded-button" href="#">LINEUP</a>
                    <a class="button-blue bg-blue text-white font-montserrat-semibold px-lg-5 px-5 py-2 rounded-button ml-lg-5 ml-3" href="#">TICKETS</a>
                </p>
            </div>
            <div data-aos="fade-up" class="col-lg-7 px-0">
                <img class="img-fluid w-100 mt-lg-0 mt-5" src="images/about-content-03.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid sponsors" id="sponsors">
        <div class="row">
            <div class="title-mobile d-lg-none">
                    <h1 class="font-russo font-60-px text-white">
                        SPONSORS    
                    </h1>
            </div>
            <div data-aos="fade-up" class="col-lg-8 offset-lg-2">
                <div class="row d-none d-lg-flex">
                    <div class="col-lg-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL SPIRIT
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-05.png">
                    </div>
                    <div class="col-lg-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ENERGY DRINK
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-06.png">
                    </div>
                </div>
                <div class="row d-none d-lg-flex">
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ENERGY DRINK
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-07.png">
                    </div>
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ON-DEMAND APP
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-08.png">
                    </div>
                    <div class="col-lg-4 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL NOODLE PARTNER
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-09.png">
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-lg-12 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL SPIRIT
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-05.png">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ENERGY DRINK
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-06.png">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ENERGY DRINK
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-07.png">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL ON-DEMAND APP
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-08.png">
                    </div>
                    <div class="col-6 text-center box-logo">
                        <h6 class="text-white font-montserrat-semibold">
                            OFFICIAL NOODLE PARTNER
                        </h6>
                        <img class="img-logos" src="images/sponsors-logo-09.png">
                    </div>
                </div>
            </div>
            <div  data-aos="fade-up" data-aos-offset="-100" class="col-lg-2 title d-none d-lg-block">
                <h1 class="font-russo font-60-px text-white">
                    SPONSORS    
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black py-4 footer">
        <hr>
        <div class="row px-lg-5">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-white mb-0">
                    All Rights Reserved © This website is made by <span class="font-jost">Reservasi Dulu</span>
                </p>
            </div>
            <div class="offset-lg-5 col-lg-2 order-lg-2 order-1 text-center py-lg-0 py-3">
                <a href="#" class="border-light-blue text-light-blue rounded-button py-1 px-3">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-lg-5 p-4 thank-you">
            <div class="wrap-submit bg-orange">
                <div class="row mb-5">
                    <div class="col-lg-12 text-right d-none d-lg-block px-5 py-4">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                    <div class="col-2 offset-10 pr-5 pl-2 d-lg-none">
                        <h1 class="text-dark-blue font-weight-bold text-purple" data-dismiss="modal">
                            &times;
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12 pb-5 mb-lg-5">
                        <h1 class="text-dark-blue">
                             See You There!
                        </h1>
                        <img class="my-4" src="images/submit-line-05.png">
                        <h3 class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-none d-lg-block">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </h3>
                        <p class="text-white mx-lg-0 mx-4 px-lg-0 px-1 font-jost-light d-lg-none">
                            We will take notes of your attendance,<br>
                            please check your email for further notice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>