<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Grand Opening | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style_grand_opening.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div class="nav-opening">
        <div class="container-fluid">
            <div class="row d-none d-lg-flex">
                <div class="col-lg-7 text-left menu">
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#venue">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#menus">
                                OUR MENUS
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#guest">
                                SPECIAL GUEST
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 text-right links">
                    <ul class="list-unstyled">
                        <li class="mx-2">
                            <a class="font-italic" href="#">
                                Reach us:
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <strong>
                                    <i class="fa fa-instagram"></i> @BROTHERFIELD.JKT
                                </strong>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <strong>
                                    <i class="fa fa-whatsapp"></i> 08123456789
                                </strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="menu-icon w-100 text-right">
                    <h3 class="text-white m-4">
                        <i class="fa fa-bars"></i>
                    </h3>
                </div>
                <div class="side-menu">
                    <h3 class="text-yellow text-right m-4 close-div">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </h3>
                    <ul class="list-unstyled ml-4">
                        <li class="mx-4">
                            <a href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#venue">
                                VENUE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#menus">
                                OUR MENUS
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#guest">
                                SPECIAL GUEST
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="logo">
                    <img src="images/logo-04.png">
                </div>
                <img class="img-fluid w-100" src="images/image-header-03.jpg">                
            </div>
            <div class="col-lg-5 header-right pt-lg-5 pl-lg-5">
                <p class="text-white font-weight-bold mt-lg-5 mt-4 ml-4 pt-lg-5">
                    YOU’RE INVITED TO OUR:
                </p>
                <h1 class="text-white font-110-px ml-4 d-none d-lg-block">
                    Grand<br>
                    Opening
                </h1>
                <h1 class="text-white font-110-px ml-4 d-lg-none">
                    Grand Opening
                </h1>
                <h1 class="text-yellow font-50-px ml-4 mt-lg-5 mt-4 mb-5">
                    <span>FIRST</span> <span class="middle">IN</span> <span>JAKARTA</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid brief" id="about">
        <div class="row">
            <div class="col-lg-7 brief-left">
                <div class="content">
                    <h1 class="text-white font-50-px mb-4">
                        We’re Coming<br>
                        From Melbourne!
                    </h1>
                    <p class="text-white ml-lg-5 pl-lg-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 bg-coral">
                <div class="row">
                    <div class="col-lg-12 p-lg-4 pb-5 px-4">
                        <img class="img-fluid mx-auto d-block" src="images/brief-image-right-05.jpg">
                    </div>
                </div>
                <div class="row d-none d-lg-block">
                    <div class="col-lg-12 p-0">
                        <img class="img-fluid w-100" src="images/brief-image-right-two-06.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-yellow py-5 counting" id="venue">
        <div class="row w-lg-90p mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 left-content pt-lg-3">
                        <div class="row">
                            <div class="col-lg-5 px-lg-0 px-4">
                                <h1 class="text-white font-50-px mb-lg-0 mb-4">
                                    06 July 2020
                                </h1>
                            </div>
                            <div class="col-lg-1 d-none d-lg-block">
                                <img src="images/vertical-line-countdown-06.png">
                            </div>
                            <div class="col-lg-5 px-0 d-none d-lg-block">
                                <h2 class="text-white mt-lg-2">
                                    COUNTING DOWN:
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 px-4 d-lg-none">
                        <h6 class="text-white mt-3">
                            COUNTING DOWN:
                        </h6>
                    </div>
                    <div class="col-lg-5 col-9 right-content px-4">
                        <div class="row">
                            <div class="col-lg-3 col-4">
                                <div class="content">
                                    <h1 class="text-white mb-0 mt-lg-2" id="days">
                                    </h1>
                                    <p class="text-white font-weight-bold">
                                        DAYS
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-4">
                                <div class="content">
                                    <h1 class="text-white mb-0 mt-lg-2" id="hours">
                                    </h1>
                                    <p class="text-white font-weight-bold">
                                        HOURS
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-4">
                                <div class="content">
                                    <h1 class="text-white mb-0 mt-lg-2" id="minutes">
                                    </h1>
                                    <p class="text-white font-weight-bold">
                                        MINUTES
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid venue">
        <div class="row">
            <div class="col-lg-7 p-0 order-2 order-lg-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1030.4485225146113!2d106.8044447315476!3d-6.252064872614094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f170ed30b127%3A0x4db4afc1ef4beb2e!2sThe%20Dharmawangsa%2C%20Jl.%20Dharmawangsa%20VIII%20No.26%2C%20RT.1%2FRW.2%2C%20Pulo%2C%20Kec.%20Kby.%20Baru%2C%20Kota%20Jakarta%20Selatan%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2012160!5e0!3m2!1sen!2sid!4v1590471554546!5m2!1sen!2sid" class="img-fluid w-100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-5 right-content order-1 order-lg-2">
                <h1 class="text-white font-50-px mt-5">
                    <span>17.00 PM</span> <span class="middle">to</span> <span>22.00 PM</span>
                </h1>
                <p class="font-weight-bold text-white mt-lg-5 mt-4">
                    AT BROTHERFIELD<br>
                    DHARMAWANGSA
                </p>
                <p class="text-white">
                    Jl. Dharmawangsa Raya No. 23, Pulo<br>
                    Kec. Kby. Baru Kota Jakarta Selatan<br>
                    Daerah Khusus Ibukota Jakarta 12160<br>
                </p>
                <p class="text-white font-weight-bold">
                    DRESSCODE: CASUAL, JUST BE YOURSELF!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid menus" id="menus">
        <div class="row">
            <div class="col-lg-7  order-2 order-lg-1">
                <div class="row">
                    <div class="col-6 p-0">
                        <img class="img-full" src="images/menus-11.jpg">
                    </div>
                    <div class="col-6 p-4 bg-blue text-center">
                        <img class="img-fluid" src="images/menus-12.jpg">
                    </div>
                </div>
                <div class="row d-none d-lg-flex">
                    <div class="col-lg-6 bg-coral text-center">
                        <img class="img-fluid" src="images/menus-13.jpg">
                    </div>
                    <div class="col-lg-6 p-0">
                        <img class="img-full" src="images/menus-14.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 bg-yellow  order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white font-50-px">
                            It's Good<br> 
                            Mood Food
                        </h1>
                        <ul class="nav nav-pills mb-3 mt-lg-4" id="pills-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active rounded-pill" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fa fa-database"></i> FOOD
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link rounded-pill" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                               <i class="fa fa-glass"></i> DRINKS
                            </a>
                          </li>
                        </ul>
                        <div class="border-content">
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <p class="text-white">
                                    <strong>Acai Berry Bowl</strong><br>
                                    blended frozen blueberry, banana, almond milk, cocoa nib & goji berry granola, coffee honey<br>
                                    <br>
                                    <strong>Tropical Fruit</strong><br>
                                    coconut sago sago, mango sorbet, black rice, kemangi<br>
                                    <br>
                                    <strong>Breakfast Berry Crumble</strong><br>
                                    mixed berries, cinnamon oat crumble, yoghurt sorbet<br>
                                    <br>
                                    <strong>Tiramisu French Toast</strong><br>
                                    raisin brioche, coffee custard, mascarpone ice cream, Tabanan cocoa nib, single-origin coffee hone<br>
                                    <br>
                                    <strong>95k</strong><br>
                                    <strong>Lemon Pancakes</strong><br>
                                    lemon curd, crème fraiche, grilled lemon, icing sugar<br>
                                </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <p class="text-white">
                                    <strong>Acai Berry Bowl</strong><br>
                                    blended frozen blueberry, banana, almond milk, cocoa nib & goji berry granola, coffee honey<br>
                                    <br>
                                    <strong>Tropical Fruit</strong><br>
                                    coconut sago sago, mango sorbet, black rice, kemangi<br>
                                    <br>
                                    <strong>Breakfast Berry Crumble</strong><br>
                                    mixed berries, cinnamon oat crumble, yoghurt sorbet<br>
                                    <br>
                                    <strong>Tiramisu French Toast</strong><br>
                                    raisin brioche, coffee custard, mascarpone ice cream, Tabanan cocoa nib, single-origin coffee hone<br>
                                    <br>
                                    <strong>95k</strong><br>
                                    <strong>Lemon Pancakes</strong><br>
                                    lemon curd, crème fraiche, grilled lemon, icing sugar<br>
                                </p>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid special-performance" id="guest">
        <div class="row">
            <div class="col-lg-12 px-0">
                <div class="carousel-guest owl-theme">
                    <div class="item">
                        <img src="images/special-performance-15.jpg" class="img-fluid">
                        <div class="content">
                            <p class="text-white font-weight-bold mb-lg-2 mb-0">
                                SPECIAL PERFORMANCE BY:
                            </p>
                            <h1 class="text-white font-50-px font-weight-bold w-lg-70p">
                                Daniel
                                Caesar
                            </h1>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/special-performance-15.jpg" class="img-fluid">
                        <div class="content">
                            <p class="text-white font-weight-bold mb-lg-2 mb-0">
                                SPECIAL PERFORMANCE BY:
                            </p>
                            <h1 class="text-white font-50-px font-weight-bold w-lg-70p">
                                Daniel
                                Caesar
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rsvp" id="rsvp">
        <div class="row">
            <div class="col-lg-7 px-0 d-none d-lg-block">
                <img src="images/rsvp-image-19.jpg" class="img-fluid w-100">
            </div>
            <div class="col-lg-5 bg-coral">
                <h1 class="text-white font-50-px">
                    Save Your<br>
                    Seat Now!
                </h1>
                <p class="text-white font-weight-bold mb-5">
                    PSST, IT’S LIMITED <span class="font-27-px"><i class="fa fa-smile-o"></i></span>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="text-white">
                            Are you attending the grand opening?<br>
                            Yes / No
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-white">
                            Will you bring anyone to the event?<br>
                            0
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-white">
                            Fill your name and contact lists:
                        </p>
                        <p class="text-white">
                            Full Name<br>
                            <input type="text" class="form-control rounded-pill">
                        </p>
                        <p class="text-white">
                            Email<br>
                            <input type="text" class="form-control rounded-pill">
                        </p>
                        <p class="text-white">
                            Telephone<br>
                            <input type="text" class="form-control rounded-pill">
                        </p>
                        <br>
                        <a href="#"  data-toggle="modal" data-target="#exampleModal"  class="rounded-pill bg-yellow text-white px-3 py-2 d-lg-inline d-block text-center mb-3">
                            SUBMIT
                        </a>
                        <a href="#" class="rounded-pill border-white text-white px-3 py-2 ml-lg-2  d-lg-inline d-block text-center">
                            DOWNLOAD E-INVITATION
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-blue footer">
        <div class="row">
            <div class="col-lg-8 py-lg-4 pb-4 px-lg-5 px-2 order-2 order-lg-1">
                <p class="text-white mb-0">
                    All rights served © This website is made by Reservasi Dulu
                </p>
            </div>
            <div class="col-lg-4 py-4 px-5 text-right order-1 order-lg-2">
                <a href="#" class="text-white border-white px-3 py-2 rounded-pill">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-submit" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="col-lg-12 text-right">
            <img class="times" src="images/circle-times-21.png">
        </div>
        <div class="modal-content pt-5  thank-you">
            <div class="col-lg-12 py-5">
            <img class="mx-auto d-block mt-4 mb-5" src="images/logo-04.png">
            <h1 class="text-white text-center mb-4 font-50-px">
                Thank You
            </h1>
            <p class="text-gray mx-auto text-center text-white">
                We will take notes of your attendance to ensure your seat.<br>
                Please check your email for your seat number and further notice.<br> 
                <br>
                We’ll see you then!<br>
            </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
</body>
</html>