<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-8.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
        <div class="container-fluid free-wedding-8 pb-5">
            <div class="row">
                <div class="col-lg-7 pl-lg-0">
                    <div class="row">
                        <div class="col-lg-12 pl-lg-0 pr-0">
                            <img class="img-fluid d-none d-lg-block" src="images/content-free-images-03.png" alt="">
                            <img class="img-fluid d-lg-none content-mobile" src="images/content-free-images-mobile-04.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrap-content-held p-5 d-none d-lg-block">
                                <div class="row">
                                    <div class="col-lg-6 p-3">
                                        <h5>Ceremony</h5>
                                        <p class="font-white">
                                            Saturday, 22th July 2020 - 11.00 am<br>
                                            —<br>
                                            Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br>
                                            Kabupaten Badung, Uluwatu,<br>
                                            BALI, INDONESIA<br>
                                            —<br>
                                            Dress code: Casual Elegant<br>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-3">
                                        <h5>Reception</h5>
                                        <p class="font-white">
                                            Saturday, 22th July 2020 - 11.00 am<br>
                                            —<br>
                                            Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br>
                                            Kabupaten Badung, Uluwatu,<br>
                                            BALI, INDONESIA<br>
                                            —<br>
                                            Dress code: Casual Elegant<br>
                                        </p>
                                    </div>
                                </div>
                                <img class="cincinati" src="images/icon-02.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row d-lg-none">
                        <div class="col-12 py-5">
                            <div class="carousel-free owl-theme">
                                <div class="item offset-2">
                                    <h5 class="font-green">
                                        Ceremony
                                    </h5>
                                    <p>
                                        Ceremony<br>
                                        Saturday,<strong> 22th July 2020   |   11.00 am</strong><br>
                                        —<br>
                                        Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br>
                                        Kabupaten Badung, Uluwatu,<br>
                                        BALI, INDONESIA<br>
                                        —<br>
                                        Dress code:<strong> Casual Elegant</strong><br>
                                    </p>
                                </div>
                                <div class="item offset-2">
                                    <h5 class="font-green">
                                        Reception
                                    </h5>
                                    <p>
                                        Ceremony<br>
                                        Saturday,<strong> 22th July 2020   |   11.00 am</strong><br>
                                        —<br>
                                        Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br>
                                        Kabupaten Badung, Uluwatu,<br>
                                        BALI, INDONESIA<br>
                                        —<br>
                                        Dress code:<strong> Casual Elegant</strong><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 px-5 content-right">
                    <div class="row my-3">
                        <div class="col-lg-12 pr-0">
                            <img class="float-right w-25" src="images/icon-02.png" alt="">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label>
                            Fill in the list below IF you are attending
                        </label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 mb-m-0 pr-m-5">
                            <label for="your-firstname">Full Name*</label>
                            <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="your-phone">Phone Number*</label>
                            <input type="text" class="form-control" id="your-phone" name="your-phone" required>
                            <label for="your-email">Email*</label>
                            <input type="email" class="form-control" id="your-email" name="your-email" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="your-guest">Number of Guest</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2 col-1 px-0">
                          <a role="button" id="step-decrement" class="btn btn-default mt-1" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                            <i class="fa fa-chevron-left text-gray"></i>
                          </a>
                          </div>
                          <div class="col-lg-3 col-2 pl-0 pr-lg-3 pr-0">
                            <input class="w-100 form-control bg-white text-center" disabled type="number" name="qty" id="spinner" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                          </div>
                          <div class="col-lg-2 col-1 px-0">
                            <a role="button" id="step-increment" class="btn btn-default  mt-1" aria-label="add 1" aria-labelledby="step-increment label-text">
                              <i class="fa fa-chevron-right text-gray"></i>
                            </a>
                          </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <button type="submit" class="button-default">Submit</button><br><br>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p><b>All Rights Reserved</b> © This website is made by Reservasi Dulu</p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>