<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-4.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a href="index.html"><img data-aos="fade-right" class="img-fluid logo" src="images/logo.png" /></a>
                    </div>
                    <div data-aos="fade-left" class="col-lg-9 d-none d-lg-block">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#rsvp-d">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-8 d-lg-none">
                        <a href="index.html"><img class="img-fluid logo" src="images/logo.png" /></a>
                    </div>
                    <div class="col-4 d-lg-none text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section BANNER -->
        <section data-aos="zoom-out" id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                            <div class="box">
                                <div data-aos="fade-up" class="subtitle">you are</div>
                                <div data-aos="fade-up" class="title">Eagerly Invited</div>
                            </div>
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/images-01.png" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none" src="images/mobile-images-01.png" />
                        <img class="img-fluid w-lg-100p motif" src="images/motif-01.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section ABOUT -->
        <section id="about">
            <div class="container-fluid pt-m-30p pt-lg-20p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="mb-m-15p mb-lg-5p">Aaron’s <span>1<sup>st</sup></span> Birthday</h1>
                        <div class="gallery">
                            <div class="box">
                                <img data-aos="fade-up"  class="img-fluid" src="images/images-02.png" />
                                <img data-aos="fade-up"  class="img-fluid horizontal" src="images/images-07.png" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid horizontal" src="images/images-03.png" />
                                <img data-aos="fade-up" class="img-fluid" src="images/images-08.png" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid" src="images/images-04.png" />
                                <img data-aos="fade-up" class="img-fluid horizontal" src="images/images-09.png" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid horizontal" src="images/images-05.png" />
                                <img data-aos="fade-up" class="img-fluid" src="images/images-10.png" />
                            </div>
                            <div class="box">
                                <img data-aos="fade-up" class="img-fluid" src="images/images-06.png" />
                                <img data-aos="fade-up" class="img-fluid horizontal" src="images/images-11.png" />
                            </div>
                        </div>
                        <div class="mgallery d-block d-lg-none">
                            <div class="one-carousel owl-theme">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="images/images-02.png" />
                                            <img class="img-fluid horizontal" src="images/images-07.png" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="images/images-03.png" />
                                            <img class="img-fluid" src="images/images-08.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="images/images-04.png" />
                                            <img class="img-fluid horizontal" src="images/images-09.png" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="images/images-05.png" />
                                            <img class="img-fluid" src="images/images-10.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="images/images-06.png" />
                                            <img class="img-fluid horizontal" src="images/images-11.png" />
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid horizontal" src="images/images-07.png" />
                                            <img class="img-fluid" src="images/images-02.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section DATE & PLACE -->
        <section id="dateandplace">
            <div class="container-fluid pt-m-45p pb-m-35p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p text-center bg-lightgreen">
                <img data-aos="fade-left" class="img-fluid motif" src="images/motif-02.png" />
                <img class="img-fluid d-block d-lg-none mmotif3" src="images/mobile-motif-03.png" />
                <div class="row">
                    <div class="col-lg-12">
                        <h3 data-aos="fade-down"  class="font-krub-r"><span>remember</span></h3>
                        <h2 data-aos="fade-down" >the Time & Place</h2>
                        <div data-aos="fade-up"  class="box mt-m-15p mt-lg-5p bg-white">
                            <div class="row">
                                <div class="col-lg-3 pt-m-15p pb-m-15p">
                                    <div class="boxc">
                                        <div class="day">Sat</div>
                                        <div class="title">18 April 2020</div>
                                        <p>18.00 PM</p>
                                    </div>
                                    <img class="img-fluid d-none d-lg-block motif4" src="images/motif-05.png" />
                                </div>
                                <div class="col-lg-6 pt-m-15p pb-m-15p pt-lg-5p pb-lg-5p">
                                    <div class="title">Marina Village</div>
                                    <p>
                                        Baja Room<br />
                                        939 Quivira Way, San Diego<br />
                                        California 92109
                                    </p>
                                </div>
                                <div class="col-lg-3 pt-m-15p pb-m-15p">
                                    <div class="boxc">
                                        <img class="img-fluid mb-lg-10p" src="images/icon-01.png" />
                                        <div class="title">Dresscode</div>
                                        <p>Colorful</p>                                        
                                    </div>
                                    <img class="img-fluid d-none d-lg-block motif2" src="images/motif-03.png" />
                                    <img class="img-fluid d-none d-lg-block motif3" src="images/motif-04.png" />
                                    <img class="img-fluid d-none d-lg-block motif5" src="images/motif-06.png" />
                                </div>
                                <img class="img-fluid d-block d-lg-none mmotif1" src="images/mobile-motif-01.png" />
                                <img class="img-fluid d-block d-lg-none mmotif2" src="images/mobile-motif-02.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid pt-m-35p pb-m-35p pt-lg-10p pb-lg-10p text-center">
                <div  id="rsvp-d" class="row">
                    <div class="col-lg-12 mb-lg-10p">
                        <h2 data-aos="fade-up" >
                            Looking Forward<br/>
                            to Hear <span>Your</span> Response
                        </h2>
                    </div>
                    <div class="col-lg-12 pl-m-10p pr-m-10p">
                        <form>
                            <label class="d-block mb-lg-2p">Are you attending the party?</label>
                            <div class="mb-m-10p mb-lg-4p">
                                <input type="radio" id="yes" name="gender" value="yes">
                                <label class="radio mb-lg-0 mr-lg-25" for="yes">Yes</label>
                                <input type="radio" id="no" name="gender" value="no">
                                <label class="radio mb-lg-0" for="no">No</label>
                            </div>
                            <label class="d-block">Fill in your full name and contact lists</label>
                            <div class="row mb-m-10p mb-lg-4p">
                                <div class="col-lg-4">
                                    <label class="font-lightgrey">Full Name</label>
                                    <input type="text" name="your-name" class="form-control mb-m-5p" required />
                                </div>
                                <div class="col-lg-4">
                                    <label class="font-lightgrey">Email Address</label>
                                    <input type="email" name="your-email" class="form-control mb-m-5p" required />
                                </div>
                                <div class="col-lg-4">
                                    <label class="font-lightgrey">Phone</label>
                                    <input type="text" name="your-phone" class="form-control" required />
                                </div>
                            </div>
                            <label class="d-block w-m-80p ma-m mb-lg-2p">Are you bringing extra mouths to feed?</label>
                            <div class="guest w-lg-100p mb-m-10p mb-lg-4p">
                                <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                    <img class="img-fluid" src="images/arrow-left.png" />
                                </a>
                                <input type="number" name="your-guest" id="spinner" value="0" placeholder="0" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                    <img class="img-fluid" src="images/arrow-right.png" />
                                </a>
                            </div>
                            <input type="submit" class="button-form mb-m-10p mb-lg-5p" data-toggle="modal" data-target="#ebrochure" value="Submit" />
                        </form>
                        <div class="modal fade" id="ebrochure">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 text-center pt-m-15p pt-lg-5p pb-lg-10p pl-lg-0 pr-lg-0">
                                                <img class="img-fluid w-lg-100p motif" src="images/motif-09.png" />
                                                <div class="box bs">
                                                    <a class="close button-default" data-dismiss="modal">X</a>
                                                    <h3 class="font-krub-r"><span>see you there</span></h3>
                                                    <h2>At the Party!</h2>
                                                    <div class="font-darkblue">
                                                        <p>Your presence on my celebration means a lot to me and my family. Cannot wait to see you there!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a target="_blank" href="E Invitation.pdf">Download Invitation</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section WISHLIST -->
        <section id="wishlist">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p d-none d-lg-block motif" src="images/motif-07.png" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none motif" src="images/mobile-motif-04.png" />
                        <img class="img-fluid motif2" src="images/motif-08.png" />
                        <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/images-12.png" />
                        <img class="img-fluid bg d-block d-lg-none w-lg-100p" src="images/mobile-images-02.png" />
                        <div class="boxc text-center">
                            <div data-aos="fade-up"  class="subtitle">the</div>
                            <div data-aos="fade-up"  class="title mb-lg-5p">Wish List</div>
                            <div data-aos="fade-up" data-aos-offset="-50"  class="mb-lg-15p">
                                <p>
                                    Confused of what to get for my birthday?<br />
                                    Say no more
                                </p>
                            </div>
                            <a data-aos="fade-up" data-aos-offset="-50"  class="button-default" href="wishlist.html">Wish List</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <span>Reservasi Dulu</span></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 mtext-center text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>