<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-4.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="pagewishlist">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a href="index.html"><img class="img-fluid logo" src="images/logo.png" /></a>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="index.html#about">ABOUT</a></li>
                            <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                            <li><a href="index.html#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-8 d-lg-none">
                        <a href="index.html"><img class="img-fluid logo" src="images/logo.png" /></a>
                    </div>
                    <div class="col-4 d-lg-none text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="index.html#about">ABOUT</a></li>
                            <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                            <li><a href="index.html#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISH LIST</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section BANNER -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <div class="box">
                            <div class="subtitle">the</div>
                            <div class="title">Wish List</div>
                        </div>
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/images-13.png" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none" src="images/mobile-images-03.png" />
                        <img class="img-fluid w-lg-100p d-none d-lg-block motif" src="images/motif-10.png" />
                        <img class="img-fluid d-none d-lg-block motif2" src="images/motif-11.png" />
                        <img class="img-fluid d-block d-lg-none mmotif" src="images/mobile-motif-05.png" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none mmotif2" src="images/mobile-motif-06.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section WISH -->
        <section id="wish">
            <div class="container-fluid pt-m-40p pb-m-20p pt-lg-20p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            Here are the lists that I might need & want.<br />
                            Select one below that you want to give to me so others won’t need to give me the same gift.
                        </p>
                        <p>
                            It is not a mandatory for you to select one,<br />
                            your presence is much more important & needed.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="wish2">
            <div class="container-fluid pt-m-20p pb-lg-10p pl-lg-10p pr-lg-10p">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="row pb-5 py-lg-5">
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Stroller<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Clothes<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Bottles<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Diapers<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Onesies<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Snacks<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Formula Milk<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Shoes<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Baby Toys<div class="line boxc"></div></a>
                            </div>
                            <div class="col-6 offset-lg-4 col-lg-4 py-4 py-lg-5">
                                <a data-toggle="modal" data-target="#ebrochure">Others<div class="line boxc"></div></a>
                            </div>
                            <div class="modal fade" id="ebrochure">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12 text-center pt-m-15p pb-m-10p pt-lg-20p pb-lg-5p pl-lg-0 pr-lg-0">
                                                    <img class="img-fluid w-lg-100p d-none d-lg-block motif" src="images/motif-12.png" />
                                                    <img class="img-fluid d-block d-lg-none mmotif" src="images/mobile-motif-08.png" />
                                                    <div class="box bs">
                                                        <a class="close button-default" data-dismiss="modal">X</a>
                                                        <h3 class="mb-m-5 font-krub-r"><span>see you there</span></h3>
                                                        <h2 class="mb-m-5p">At the Party!</h2>
                                                        <div class="mt-m-10p font-darkblue">
                                                            <p>Thank you for giving me one of the gifts on my wish list!</p>
                                                            <p>
                                                                Changing your selection is unable,<br />
                                                                but it’s totally alright if you change your mind about giving me the gift you had selected.
                                                            </p>
                                                            <p>Remember, your presence is much more important & needed.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            If you choose others, your gift will be automatically added and crossed out on the list,<br />
                            preventing the other guests to be giving the same gift as yours.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <span>Reservasi Dulu</span></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>