<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-1.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="wishlist">
        <!-- NAVBAR -->
        <nav>
            <div class="container-fluid animated fadeInUp">
                <div class="row d-none d-lg-block">
                    <div class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="index.html#about">ABOUT</a></li>
                            <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                            <li><a href="index.html#gallery">GALLERY</a></li>
                            <li><a href="index.html#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISHLIST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="offset-8 col-4 text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="index.html#about">ABOUT</a></li>
                            <li><a href="index.html#dateandplace">DATE & PLACE</a></li>
                            <li><a href="index.html#gallery">GALLERY</a></li>
                            <li><a href="index.html#rsvp">RSVP</a></li>
                            <li><a href="wishlist.html">WISHLIST</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section WISHLIST -->
        <section id="content-wishlist">
            <img class="img-fluid w-lg-100p bg1 d-none d-lg-block move-up" src="images/background-03.png" />
            <img class="img-fluid w-lg-100p bg2 d-none d-lg-block move-up" src="images/background-04.png" />
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-15p pb-lg-10p pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-lg-3 mb-lg-10p animated fadeInLeft">
                        <h2 class="font-yellow mb-lg-10p">
                            <span>GIFT IDEAS</span><br />
                            FOR ME
                        </h2>
                        <div class="w-lg-100p">
                            <p>
                                If you are confused of what to get for my
                                birthday, here’s a list of the things I
                                might need.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-9 mb-lg-10p pl-lg-3p">
                        <div class="row">
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-01.png" />
                                    <p>SHOES</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-02.png" />
                                    <p>ACCESSORIES</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-03.png" />
                                    <p>SWEATER</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-04.png" />
                                    <p>SELF CARE PRODUCTS</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-05.png" />
                                    <p>TUMBLR</p>
                                </a>
                            </div>
                            <div class="col-6 col-lg-4 mb-lg-5p text-center animated fadeInUp">
                                <a href="" data-toggle="modal" data-target="#wishlist-popup">
                                    <img class="img-fluid w-lg-100p mb-lg-5p" src="images/wishlist-06.png" />
                                    <p>SPORTS WEAR</p>
                                </a>
                            </div>
                            <!-- Popup Wishlist -->
                            <div class="modal fade" id="wishlist-popup">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/popup-01.png" />
                                                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/popup-02.png" />
                                                    <div class="boxc">
                                                        <h2 class="font-yellow mb-lg-5p">
                                                            <span>THANK YOU</span><br />
                                                            FOR PARTICIPATING
                                                        </h2>
                                                        <p>
                                                            We will saving your seat for<br />
                                                            your attendance, looking<br />
                                                            forward to see you at<br />
                                                            my Birthday Party!
                                                        </p>
                                                        <p>Love, Diana Ross</p>
                                                        <a class="button-wishlist" class="close" data-dismiss="modal">CLOSE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center slideanim">
                        <p>You can <span>choose and select gift ideas</span> from the list above so others will not need to give the same gift.</p>
                        <p>However, It is not mandatory for you to select one from the list. <span>Your presence is much more important and needed.</span></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer>
            <div class="container-fluid pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p bg-aqua">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-8 font-white">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="order-1 order-lg-2 col-lg-4 mtext-center mb-m-5p text-right">
                        <a href="" class="button-trans">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>