<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-5.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <a href="index.html">
                            <img data-aos="fade-down" class="img-fluid w-lg-100p logo" src="images/logo.png" />
                        </a>
                    </div>
                    <div data-aos="fade-left" class="col-lg-9 d-none d-lg-block">
                        <ul class="menu">
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#ourstory">OUR STORY</a></li>
                            <li><a href="#countdown">COUNTDOWN</a></li>
                            <li><a href="#album">ALBUM</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="col-12 text-center">
                        <a class="logo" href="index.html">
                            <img class="img-fluid" src="images/logo.png" />
                        </a>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#ourstory">OUR STORY</a></li>
                            <li><a href="#countdown">COUNTDOWN</a></li>
                            <li><a href="#album">ALBUM</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section BANNER -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 px-0 px-lg-0">
                        <div id="dateandplace-wrap" class="wrap boxc">
                            <div  data-aos="zoom-out" data-aos-offset="-500">
                            <div class="pos-rel w-lg-100p mb-lg-5p">
                                <div class="line-white boxc l"></div>
                                <div class="line-white boxc r"></div>
                                <h6 class="font-white">SAVE THE DATE</h6>
                            </div>
                            <h1 class="mb-lg-0 font-white">27/05/20</h1>
                            </div>
                        </div>
                        <div data-aos="fade-up" class="one-carousel owl-theme">
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Mobile Menu -->
        <section id="mobile-menu">
            <ul class="bars boxc">
                <div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </ul>
            <h4>Menu</h4>
        </section>
        <!-- Section DATE & PLACE -->
        <section id="dateandplace">
            <div class="container-fluid bg-lightpink">
                <div class="row">
                    <div class="col-lg-6 pl-lg-0 pr-lg-0 d-none d-lg-block">
                        <img data-aos="fade-right" data-aos-offset="-900" class="img-fluid w-lg-100p" src="images/images-02.png" />
                    </div>
                    <div class="col-lg-6 pt-m-20p pb-m-20p pl-m-10p pr-m-10p">
                        <div class="boxc w-m-100p w-lg-80p text-center">
                            <h4 data-aos="fade-down" data-aos-offset="-1200" class="font-lightgreen mb-lg-2p">Yes, We will get married!</h4>
                            <h4 class="font-lightgreen mb-lg-2p">~</h4>
                            <div class="w-m-100p w-lg-65p ma-lg mb-lg-10p">
                                <p>
                                    Our celebration will take place at the
                                    beautiful Marina Village Baja Room in San Diego.
                                    The Address is 1939 Quivira Way San Diego
                                    California 92109
                                </p>
                            </div>
                            <div class="date">
                                Saturday, 26 March 2020 — 5.30 PM
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pl-m-0 pr-m-0 d-block d-lg-none">
                        <img class="img-fluid w-lg-100p" src="images/images-02.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section OUR STORY -->
        <section id="ourstory">
            <div class="container-fluid bg-lightpink">
                <div class="row">
                    <div class="col-lg-6 pt-m-20p pb-m-20p pl-m-10p pr-m-10p"> 
                        <div class="boxc w-m-100p w-lg-80p">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <img class="img-fluid boxc rlgu" src="images/icon-01.png" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h5 class="font-lightgreen">Jack Peter</h5>
                                        <p>
                                            I have known Jack my whole life and he is my best friend in the world and just making the most of the time we had together.
                                        </p>
                                    </div>
                                    <div class="offset-3 col-lg-9 mb-m-10p ml-m-0 mt-lg-3p mb-lg-5p">
                                        <img class="img-fluid" src="images/icon-02.png" />
                                    </div>
                                    <div class="col-lg-3">
                                        <img class="img-fluid boxc rlgu" src="images/icon-03.png" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h5 class="font-lightgreen">Jane Maryland</h5>
                                        <p>
                                            I am so honored that Janne was able to keep her childhood promise of being in my wedding now! We currently are separated by 3 time zones.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                        <img data-aos="fade-left" data-aos-offset="-1000" class="img-fluid w-lg-100p" src="images/images-03.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section COUNTDOWN -->
        <section id="countdown">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid bg w-lg-100p" src="images/images-04.png" />
                        <div class="boxc wrap">
                            <div class="container-fluid pl-lg-5p pr-lg-5p">
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <img data-aos="fade-up" data-aos-offset="-1200" class="img-fluid w-m-30p mb-lg-5p" src="images/motif-01.png" />
                                        <h2 data-aos="fade-up" data-aos-offset="-1300">
                                            Countdown till<br />
                                            Our Wedding
                                        </h2>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-6 col-lg-6 pr-lg-5p">
                                                <div class="box">
                                                    <div id="days" class="number"></div><div class="desc">DAYS</div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-6 pl-lg-5p">
                                                <div class="box">
                                                    <div id="hours" class="number"></div><div class="desc">HOURS</div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-6 pr-lg-5p">
                                                <div class="box">
                                                    <div id="minutes" class="number"></div><div class="desc">MINUTES</div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-6 pl-lg-5p">
                                                <div class="box">
                                                    <div id="seconds" class="number"></div><div class="desc">SECONDS</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section ALBUM -->
        <section id="album">
            <div class="container-fluid pt-m-0 pb-m-0 pl-m-0 pr-m-0 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p bg-lightpink">
                <div class="row">
                    <div data-aos="fade-right" data-aos-offset="-1000" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <div class="box">
                            <h3 class="boxc">Our<br />Album</h3>
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-offset="-1000" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <a data-toggle="modal" data-target="#images-05">
                            <img class="img-fluid w-lg-100p" src="images/images-05.png" />
                        </a>
                    </div>
                    <div data-aos="fade-down" data-aos-offset="-1000" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <a data-toggle="modal" data-target="#images-06">
                            <img class="img-fluid w-lg-100p" src="images/images-06.png" />
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-offset="-1100" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <a data-toggle="modal" data-target="#images-07">
                            <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-offset="-1100" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <a data-toggle="modal" data-target="#images-08">
                            <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-offset="-1100" class="col-lg-4 pt-lg-15 pb-lg-15 d-none d-lg-block">
                        <a data-toggle="modal" data-target="#images-09">
                            <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                        </a>
                    </div>
                    <div class="col-12 pl-m-0 pr-m-0 d-block d-lg-none">
                        <div class="one-carousel owl-theme">
                            <div class="item">
                                <a data-toggle="modal" data-target="#images-05">
                                    <img class="img-fluid w-lg-100p" src="images/images-05.png" />
                                </a>
                            </div>
                            <div class="item">
                                <a data-toggle="modal" data-target="#images-06">
                                    <img class="img-fluid w-lg-100p" src="images/images-06.png" />
                                </a>
                            </div>
                            <div class="item">
                                <a data-toggle="modal" data-target="#images-07">
                                    <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                                </a>
                            </div>
                            <div class="item">
                                <a data-toggle="modal" data-target="#images-08">
                                    <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                                </a>
                            </div>
                            <div class="item">
                                <a data-toggle="modal" data-target="#images-09">
                                    <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="popupimage">
                        <div class="modal fade" id="images-05">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />    
                                                </a>
                                                <img class="img-fluid" src="images/images-05.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="images-06">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />    
                                                </a>
                                                <img class="img-fluid" src="images/images-06.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="images-07">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />    
                                                </a>
                                                <img class="img-fluid" src="images/images-07.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="images-08">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />    
                                                </a>
                                                <img class="img-fluid" src="images/images-08.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="images-09">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 pt-lg-0 pb-lg-0 pl-lg-0 pr-lg-0">
                                                <a class="close" data-dismiss="modal">
                                                    <img class="img-fluid" src="images/close.png" />    
                                                </a>
                                                <img class="img-fluid" src="images/images-09.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section>
            <div class="container-fluid pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p bg-lightpink">
                <div id="rsvp" class="row py-lg-5">
                    <div class="col-lg-6 mb-m-10p pl-m-15 pl-lg-3p">
                        <img data-aos="fade-up" data-aos-offset="-1100" class="img-fluid" src="images/images-10.png" />
                    </div>
                    <div class="col-lg-6">
                        <h2 data-aos="fade-down" data-aos-offset="-1100" class="mb-m-10p mb-lg-5p">Celebrate It With Us!</h2>
                        <form>
                            <table>
                                <tr>
                                    <td><label>Are You Attending? *</label></td>
                                    <td>
                                        <input type="radio" id="yes" name="gender" value="yes">
                                        <label class="radio mr-m-10p mr-lg-5p" for="yes">Yes</label>
                                        <input type="radio" id="no" name="gender" value="no">
                                        <label class="radio" for="no">No</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Full Name *</label></td>
                                    <td><input type="text" name="your-name" class="form-control" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Email *</label></td>
                                    <td><input type="email" name="your-email" class="form-control" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Phone Number *</label></td>
                                    <td><input type="text" name="your-phone" class="form-control" required /></td>
                                </tr>
                                <tr>
                                    <td><label>Additional Guest *<br />(Max 10)</label></td>
                                    <td>
                                        <div class="guest w-lg-100p mb-lg-4p">
                                            <input type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                                <img class="img-fluid" src="images/arrow-down.png" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td><td class="text-right">
                                        <input type="submit" class="button-green bs" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                    </td>
                                </tr>
                            </table>
                            <input type="submit" class="button-green w-m-100p bs d-block d-lg-none" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>