<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-2.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div class="nav-wedding-2 position-absolute">
        <div class="container-fluid py-lg-5">
            <div class="row">
                <div class="col-lg-3 pl-lg-5">
                    <img class="img-fluid" src="images/logo-template-2-02.png">
                </div>
                <div class="col-lg-9 pr-lg-5 text-right">
                   <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#our-story">
                                HOW WE MET
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#celebrate">
                                CELEBRATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#gallery">
                                GALLERY
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grayish-blue header-home">
        <div class="row">
            <div class="col-lg-12 px-0">
                <div class="content-header-home">
                    <p class="text-white">
                        This is the story of how we met.
                    </p>
                </div>
                <img class="img-fluid w-100 d-none d-lg-block" src="images/header-home-03.png">
                <img class="img-fluid w-100 d-lg-none img-mobile" src="images/mobile-header-01.png">
            </div>
        </div>
    </div>
    <div id="our-story" class="container-fluid bg-grayish-blue">
        <div class="row py-5">
            <div class="col-lg-4 offset-lg-1 py-lg-5">
                <h2 class="text-white">
                    Once upon<br>
                    a time,
                </h2>
            </div>
            <div class="col-lg-4 offset-lg-3 py-lg-5">
                <p class="text-white mt-lg-4">
                    There’s a lonely girl upon the<br>
                    hallway and far away is a man<br>
                    who always have been wishing<br>
                    to know her for a very long<br>
                    time. Until he approach her and<br>
                    his first word was:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 px-0">
                <img class="img-fluid w-100" src="images/about-us-04.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid inseparable-section">
        <div class="row py-5">
            <div class="col-lg-6 p-lg-5">
                <img class="img-fluid" src="images/inseparable-05.png">
            </div>
            <div class="col-lg-6 py-lg-5">
                <h2 class="text-grayish-blue my-lg-5">
                    Inseparable<br>
                    Ever Since,
                </h2>
                <p class="text-white offset-lg-2">
                    There’s a lonely girl upon the<br>
                    hallway and far away is a man<br>
                    who always have been wishing<br>
                    to know her for a very long<br>
                    time. Until he approach her and<br>
                    his first word was:
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid will-you">
        <div class="row">
            <div class="col-lg-12 px-0">
                <img class="img-fluid w-100" src="images/image-3-07.jpg">
                <div class="content">
                    <h2 class="text-white">
                        Will you marry me?
                    </h2>
                    <p class="text-white">
                        He said nervously
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
    </div>
    <div id="celebrate" class="container-fluid bg-celebrate">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 py-lg-5">
                <img class="image-celebrate img-fluid mt-5" src="images/image-celebrate-03.png">
            </div>
            <div class="col-lg-3 py-lg-5 my-lg-5 section-left">
                <p class="text-white mt-lg-5">
                    Countdown | <span id="days"></span> : <span id="hours"></span> : <span id="minutes"></span> : <span id="seconds"></span>
                </p>
                <h2 class="text-light-brown">
                    Celebrate<br>
                    with Us!
                </h2>
                <p class="text-white font-weight-bold my-lg-4">
                    I SAID YES.
                </p>
                <p class="text-white">
                    So we wanted to invite you to this<br>
                    special day of us to celbrate with us<br>
                    in our journey of a lifetime.<br>
                </p>
            </div>
            <div class="col-lg-3 py-lg-5 my-lg-5">
                <p class="text-white mt-lg-5 pt-lg-5 mb-lg-0">
                    <br>
                    <strong>PEMBERKATAN</strong><br>
                    <br>
                    Dimana tempatnya,<br>
                    <br>
                    09:00 - 10:00 AM
                </p>
                <p class="text-white">
                    <br>
                    <strong>WEDDING PARTY</strong><br>
                    <br>
                    Dimana Tempatnya,<br>
                    <br>
                    11:00 - 12:00 PM
                </p>
            </div>
        </div>
    </div>
    <div id="gallery" class="container-fluid gallery-section">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <h2 class="text-dark-blue">
                    Our Moments,<br>
                    Captured.
                </h2>
            </div>
            <div class="col-lg-3 offset-lg-1 pr-lg-5">
                <p class="text-grayish-blue mt-lg-3 float-right">
                There’s a lonely girl upon the<br>
                hallway and far away is a man<br>
                who always have been wishing<br>
                to know her for a very long<br>
                time. Until he approach her and<br>
                his first word was:<br>
                <br>
                </p>
            </div>
        </div>
        <div class="row offset-lg-1 pb-lg-5">
            <div class="p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-03.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-04.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-05.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-06.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-07.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-08.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-09.jpg">
            </div>
            <div class=" p-lg-3">
                <img class="img-fluid" src="images/image-item-gallery-10.jpg">
            </div>
        </div>
    </div>
    <div id="rsvp" class="container-fluid rsvp-section">
        <div class="row py-lg-5">
            <div class="col-lg-12 text-center">
                <h2 class="text-gray my-lg-5">
                    Are you coming?
                </h2>
            </div>
        </div>
        <div class="mx-auto w-lg-38p">
            <div class="col-lg-12 px-lg-0">
                <div class="form-group row">
                    <label class="col-lg-5 name-text pt-2">ARE YOU ATTENDING?</label>
                    <div class="col-lg-7 pl-lg-0">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 name-text pt-2">FULL NAME</label>
                    <div class="col-lg-7 pl-lg-0">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 name-text pt-2">EMAIL</label>
                    <div class="col-lg-7 pl-lg-0">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 name-text pt-2">PHONE NUMBER</label>
                    <div class="col-lg-7 pl-lg-0">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-5 name-text pt-2">ADDITIONAL GUEST</label>
                    <div class="col-lg-7 pl-lg-0">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group py-lg-5 mb-0">
                    <div class="col-lg-12 text-center pb-lg-5">
                        <a class="button-submit" href="#">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grayish-blue footer">
        <div class="row">
            <div class="col-lg-12 text-center py-lg-4">
                <p class="mb-0 text-white">
                    All Right Reserved © This website is made by <span class="font-weight-bold">Reservasi Dulu</span>
                </p>
            </div>
        </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>