<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-2.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="nav-wedding-2 position-absolute">
        <div class="container-fluid py-lg-5" data-aos="fade-down">
            <div class="row">
                <div class="col-lg-3 pl-lg-5">
                    <img class="img-fluid" src="images/logo-template-2-02.png">
                    <span class="text-gray ml-lg-3">
                        PETER & MARY
                    </span>
                </div>
                <div class="col-lg-9 pr-lg-5 text-right d-none d-lg-block">
                   <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#our-story">
                                HOW WE MET
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#celebrate">
                                CELEBRATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#gallery">
                                GALLERY
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                ACCOMMODATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                   </ul>
                </div>
                <div class="menu-mobile d-lg-none">
                    <h3 class="text-dark-blue">
                        <i class="fa fa-bars"></i>
                    </h3>
                </div>
                <div class="side-nav d-lg-none">
                        <div class="close-div text-right p-3">
                            <h3>
                                <i class="fa fa-times text-white" aria-hidden="true"></i>
                            </h3>
                        </div>
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#our-story">
                                HOW WE MET
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#celebrate">
                                CELEBRATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#gallery">
                                GALLERY
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#accommodation-m">
                                ACCOMMODATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grayish-blue header-home">
        <div class="row">
            <div class="col-lg-12 px-0" data-aos="zoom-out">
                <div class="content-header-home">
                    <p data-aos="fade-up" data-aos-offset="-200" class="text-white">
                        This is the story of how we met.
                    </p>
                </div>
                <img class="img-fluid w-100 d-none d-lg-block" src="images/header-home-03.png">
                <img class="img-fluid w-100 d-lg-none img-mobile" src="images/mobile-header-01.png">
            </div>
        </div>
    </div>
    <div id="our-story" class="container-fluid bg-grayish-blue">
        <div class="row py-5">
            <div data-aos="fade-right" class="col-lg-4 offset-lg-1 py-lg-5">
                <h2 class="text-white">
                    Once upon<br>
                    a time,
                </h2>
            </div>
            <div data-aos="fade-up" class="col-lg-4 offset-lg-3 py-lg-5">
                <p class="text-white mt-lg-4 d-none d-lg-block">
                    There’s a lonely girl upon the<br>
                    hallway and far away is a man<br>
                    who always have been wishing<br>
                    to know her for a very long<br>
                    time. Until he approach her and<br>
                    his first word was:
                </p>
                <p class="text-white my-4 d-lg-none">
                    There’s a lonely girl upon the
                    hallway and far away is a man
                    who always have been wishing
                    to know her for a very long
                    time. Until he approach her and
                    his first word was:
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-down">
            <div class="col-lg-12 px-0">
                <img data-aos="fade-down" class="img-fluid w-100 d-none d-lg-block" src="images/about-us-04.jpg">
                <img class="img-fluid w-100 d-lg-none" src="images/mobile-about-us-04-02.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid inseparable-section">
        <div class="row py-5">
            <div class="col-lg-6 p-lg-5">
                <img data-aos="zoom-out" class="img-fluid" src="images/inseparable-05.png">
            </div>
            <div class="col-lg-6 py-5">
                <h2 data-aos="fade-down" class="text-grayish-blue my-lg-5 mt-5">
                    Inseparable<br>
                    Ever Since,
                </h2>
                <p data-aos="fade-left" class="text-white offset-lg-2 d-none d-lg-block">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p data-aos="fade-left" class="text-white offset-lg-2 d-lg-none mt-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid will-you" data-aos="fade-down">
        <div class="row">
            <div class="col-lg-12 px-0">
                <img class="img-fluid w-100 d-none d-lg-block" src="images/image-3-07.jpg">
                <img class="img-fluid w-100 d-lg-none" src="images/image-3-mobile-03.jpg">
                <div class="content">
                    <h2 class="text-white">
                        Will you marry me?
                    </h2>
                    <p class="text-white d-none d-lg-block">
                        He said nervously
                    </p>
                    <p class="text-white text-right d-lg-none">
                        He said nervously
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
    </div>
    <div id="celebrate" class="container-fluid bg-celebrate">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 py-lg-5 order-4 order-lg-1 col-12">
                <img data-aos="fade-up" class="image-celebrate img-fluid mt-5" src="images/image-celebrate-03.png">
            </div>
            <div class="col-lg-3 py-lg-5 my-lg-5 section-left order-1 order-lg-2 col-12">
                <p class="text-white mt-lg-5">
                    Countdown | <span id="days"></span> : <span id="hours"></span> : <span id="minutes"></span> : <span id="seconds"></span>
                </p>
                <h2 class="text-light-brown my-5 my-lg-0">
                    Celebrate<br>
                    with Us!
                </h2>
                <p class="text-white font-weight-bold my-lg-5 my-4">
                    I SAID YES.
                </p>
                <p class="text-white">
                    So we wanted to invite you to this<br>
                    special day of us to celbrate with us<br>
                    in our journey of a lifetime.<br>
                </p>
            </div>
            <div class="col-lg-3 py-lg-5 my-lg-5 order-2 order-lg-3 d-none d-lg-block">
                <p class="text-white mt-lg-5 pt-lg-5 mb-lg-0">
                    <br>
                    <strong>PEMBERKATAN</strong><br>
                    <strong>23 September 2020</strong><br>
                    <br>
                    <strong>Spring Chapel</strong><br>
                    Jl. Tanah Sereal 3 Blok A-B, Jakarta Barat<br>
                    <br>
                    09:00 - 10:00 AM
                </p>
                <p class="text-white">
                    <br>
                    <strong>WEDDING PARTY</strong><br>
                    <strong>24 september 2020</strong><br>
                    <br>
                    <strong>Hotel Indonesia</strong><br>
                    Jl. M.H. Thamrin Kav. No. 122-123, Jakarta Pusat<br>
                    <br>
                    11:00 AM - 12:00 PM<br>
                    <br>
                    Dresscode : Formal<br>
                </p>
            </div>
            <div class="col-6 d-lg-none order-2 pr-0">
                <p class="text-white">
                    <br>
                    <strong>PEMBERKATAN</strong><br>
                    <strong>23 September 2020</strong>
                    <strong>Spring Chapel</strong><br>
                    Jl. Tanah Sereal 3 Blok A-B, Jakarta Barat<br>
                    09:00 - 10:00 AM
                </p>
            </div>
            <div class="col-6 d-lg-none order-3 pl-2">
                <p class="text-white">
                    <br>
                    <strong>WEDDING PARTY</strong><br>
                    <strong>24 september 2020</strong><br>
                    <strong>Hotel Indonesia</strong><br>
                    Jl. M.H. Thamrin Kav. No. 122-123, Jakarta Pusat<br>
                    11:00 AM - 12:00 PM<br>
                    Dresscode : Formal<br>
                </p>
            </div>
        </div>
    </div>
    <div id="gallery" class="container-fluid gallery-section">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <h2 data-aos="fade-left" class="text-dark-blue my-lg-0 my-5">
                    Our Moments,<br>
                    Captured.
                </h2>
            </div>
            <div class="col-lg-3 offset-lg-1 pr-lg-5">
                <p class="text-grayish-blue mt-lg-3 float-lg-right d-none d-lg-block">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br>
                </p>
                <p class="text-grayish-blue mt-3 float-lg-right d-lg-none">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br>
                </p>
            </div>
        </div>
        <div class="row offset-lg-1 pb-lg-5 d-none d-lg-flex">
            <div data-aos="fade-up" class="p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo1">
                    <img class="img-fluid" src="images/image-item-gallery-03.jpg">
                </a>
            </div>
            <div data-aos="fade-up" class="p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo2">
                    <img class="img-fluid" src="images/image-item-gallery-04.jpg">
                </a>
            </div>
            <div  data-aos="fade-up"class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo3">
                    <img class="img-fluid" src="images/image-item-gallery-05.jpg">
                </a>
            </div>
            <div  data-aos="fade-up"class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo4">
                    <img class="img-fluid" src="images/image-item-gallery-06.jpg">
                </a>
            </div>
            <div data-aos="fade-down" class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo5">
                    <img class="img-fluid" src="images/image-item-gallery-07.jpg">
                </a>
            </div>
            <div data-aos="fade-down" class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo6">
                    <img class="img-fluid" src="images/image-item-gallery-08.jpg">
                </a>
            </div>
            <div data-aos="fade-down" class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo7">
                    <img class="img-fluid" src="images/image-item-gallery-09.jpg">
                </a>
            </div>
            <div data-aos="fade-down" class=" p-lg-3">
                <a href="#" data-toggle="modal" data-target="#photo8">
                    <img class="img-fluid" src="images/image-item-gallery-10.jpg">
                </a>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="carousel-gallery owl-theme">
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo1">
                        <img class="img-fluid" src="images/image-item-gallery-03.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo2">
                        <img class="img-fluid" src="images/image-item-gallery-04.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo3">
                        <img class="img-fluid" src="images/image-item-gallery-05.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo4">
                        <img class="img-fluid" src="images/image-item-gallery-06.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo5">
                        <img class="img-fluid" src="images/image-item-gallery-07.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo6">
                        <img class="img-fluid" src="images/image-item-gallery-08.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo7">
                        <img class="img-fluid" src="images/image-item-gallery-09.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" data-target="#photo8">
                        <img class="img-fluid" src="images/image-item-gallery-10.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rsvp-section">
        <div  id="rsvp" class="row my-lg-5">
            <div class="col-lg-7 px-lg-5">
                <h2 class="text-gray my-5 ml-lg-5 pl-lg-5">
                    Are you coming?
                </h2>
                <div class="form-group ml-lg-5 row">
                    <label class="col-lg-5 col-6 px-0 name-text pt-lg-2">ARE YOU ATTENDING?</label>
                    <div class="col-lg-7 col-6 px-0 pl-2 pt-2">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>
                <div class="form-group ml-lg-5 row">
                    <label class="col-lg-5 col-6 px-0 name-text pt-lg-2">FULL NAME</label>
                    <div class="col-lg-7 col-6 px-0 pl-2">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group ml-lg-5 row">
                    <label class="col-lg-5 col-6 px-0 name-text pt-lg-2">EMAIL</label>
                    <div class="col-lg-7 col-6 px-0 pl-2">
                      <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group ml-lg-5 row">
                    <label class="col-lg-5 col-6 px-0 name-text pt-lg-2">PHONE NUMBER</label>
                    <div class="col-lg-7 col-6 px-0 pl-2">
                      <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group ml-lg-5 row">
                    <label class="col-lg-5 col-6 px-0 name-text pt-lg-2">ADDITIONAL GUEST</label>
                    <div class="col-lg-7 col-6 px-0 pl-2">
                      <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                        <a role="button" id="step-increment" class="btn btn-default pt-0" aria-label="add 1" aria-labelledby="step-increment label-text">
                            <h4 class="text-dark-blue mb-0">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="form-group ml-lg-5 py-5 mb-0">
                    <div class="col-lg-12 text-center pb-lg-5">
                        <input type="submit" class="button-submit mb-4" value="SUBMIT" data-toggle="modal" data-target="#exampleModal"><br><br>
                        <a class="button-submit" href="wedding-2-einvitation-02.jpg">DOWNLOAD INVITATION</a>
                    </div>
                </div>
            </div>
            <div id="accommodation-m" class="col-lg-5 pt-lg-4 text-center accomodation pt-lg-0 pt-5">
                <img data-aos="fade-down" class="img-fluid mb-lg-0 mb-4" src="images/accomodation-2-05.png">
                <p class="text-dark-blue font-weight-bold mb-0">
                    ACCOMMODATION
                </p>
                <h3 class="text-gray">
                    Hotel Indonesia
                </h3>
                <p class="text-gray my-5">
                    <strong>By Submitting your RSVP,</strong>  you will be<br>
                    accommodated with 1 night stay at Hotel<br>
                    Indonesia. As we also will provide you with<br>
                    top quality accommodation for celebrating<br>
                    our journey of the beginning.<br>
                    <br><br>
                    <a href="#" class="button-location">SEE LOCATION</a>
                </p>
                <img class="garis d-none d-lg-block" src="images/garis-accomodation-06.png">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grayish-blue footer">
        <div class="row">
            <div class="col-lg-10 text-left pl-lg-5 order-lg-1 order-2">
                <p class="mb-0 text-white mt-lg-4">
                    All Rights Reserved © This website is made by <span class="font-weight-bold">Reservasi Dulu</span>
                </p>
            </div>
            <div class="col-lg-2 order-lg-2 order-1 text-center">
                 <a class="button-border-white my-lg-3 mt-3 d-inline-block" href="#">Create a Site</a>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content pt-5 bg-blue">
            <div class="col-lg-12 pb-5">
                <div class="close-button">
                    <img data-dismiss="modal" src="images/close-button-08.png">
                </div>
                <img class="mx-auto d-block my-4" src="images/thank-you-label-07.png">
                <p class="text-white w-lg-30p mx-auto text-center">
                    <strong>
                        For Coming to Our Wedding<br>
                    </strong>
                    <br>
                    We will safe your seat and we’ll look forward for your presence.<br>
                    <br>
                        See you There!
                </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Modal Gallery -->
    <div class="modal fade" id="photo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-03.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-04.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-05.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-06.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-07.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-08.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-09.jpg">
      </div>
    </div>
    <div class="modal fade" id="photo8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
                <img class="img-fluid w-50 mx-auto d-block" src="images/image-item-gallery-03.jpg">
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>