	body{
		overflow-x: hidden;
	}
	h1, h2, h3, h4, h5, h6{font-family: "ZillaSlab SemiBold";}
	.font-weight-bold{
	  font-family: "Overpass Light";
	}
	h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{font-family: "ZillaSlab SemiBold";}
	h2{
		font-size: 72px !important;
		line-height: 1 !important;
	}
	p,a,label,th,td,li, input{
	    font-family: "Overpass Light";
	    font-size :  12pt;
	    line-height : 24px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}
	.font-zilla{
	    font-family: "ZillaSlab SemiBold";
	}
	.font-overpass-light{
	    font-family: "Overpass Light";
	 }
	.text-light-brown{
	 	color: #C7B198;
	}
	.text-dark-blue{
		color: #284C5B;
	}
	.text-gray{
		color: #5D5D5D;
	}
	.nav-wedding-2{
	    width: 100%;
	    z-index: 2;
	}
	.nav-wedding-2 ul{
		margin-top: 1.8em;
	}
	.nav-wedding-2 ul li{
    	display: inline;
	}
	.nav-wedding-2 ul li:hover{
		border-bottom: 2px solid #596E79;
	}
	.nav-wedding-2 ul li:hover a{
		font-weight: bold;
	}   
  	.nav-wedding-2 ul li a{
  		color: #596E79;
  	}
  	.bg-grayish-blue{
  		background: #596E79;
  	}
  	.bg-blue{
  		background-color: #284C5B !important;
  	}
  	.text-grayish-blue{
  		color: #596E79;
  	}
  	.button-border-white{
	    border: 2px solid #fff;
	    color: #fff;
	    font-weight: bold;
	    padding: 5px 20px;
	    border-radius: 25px;
		letter-spacing: 0.8px;
		transition: all .3s;
  	}
  	.button-border-white:hover{
		background-color: #fff;
		color: #596e79;
	  }
  	.content-header-home{
  		position: absolute;
		transform: translateX(-50%);
		bottom: 13%;
		left: 50%;
		font-style: italic;
  	}
  	.content-header-home p{
		font-size: 20px;
  	}
  	.inseparable-section{
  		background-image: url(images/bg-inseparable-06.jpg);
		background-position: top right;
		background-repeat: no-repeat;
		background-color: #c7b199;
  	}
  	.will-you .content{
  		position: absolute;
		top: 50%;
		right: 5%;
		transform: translateY(-50%);
  	}
  	.bg-celebrate{
  		background-image: url(images/bg-celebration-04.jpg);
  		background-position: top left;
  		background-repeat: no-repeat;
  		background-color: #284C5B;
  		padding-top: 30px;
  		-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
		-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
		box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
		margin-bottom: 100px;
  	}
  	.bg-celebrate img.image-celebrate{
  		margin-bottom: -200px;
  	}
  	.gallery-section{
  		padding-top: 100px;
  	}
  	.bg-celebrate .section-left::after {
  		content: "";
  		background-image: url('images/ver-line-celebrate-section-02.png');
    	background-size: 10px 20px;
    	display: inline-block;
	    width: 2px; 
	    height: 446px;
	    position: absolute;
	    right: 0;
	    top: 150px;
	}
	.form-control{
		font-family: "Overpass Light"
	}
	.rsvp-section{
		background-image: url(images/bg-rsvp-12.jpg);
		background-size: cover;
		background-position: bottom right;
		background-repeat: no-repeat;
		background-color: #f0ece1;
		-webkit-box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.3);
		box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.3);
		padding: 150px 0;
	}
	.name-text::after{
		content: " : ";
		font-family: "ZillaSlab SemiBold";
		float: right;
	}
	.rsvp-section .form-control, .rsvp-section label{
		background: none;
		border: none;
		color: #284C5B;
		font-family: "Overpass Bold";
	}
	.rsvp-section .form-control:focus{
		background-color: #f0ece1;
		border: none;
		outline: 0;
		box-shadow: none;
	}
	.rsvp-section .form-group.row{
		border-bottom: 2px solid #C7B198;
	}
	.w-lg-38p{
		width: 38%;
	}
	.rsvp-section .form-group .button-submit{
		color: #284C5B;
		font-family: "Overpass Bold";
		border: none;
		border-bottom: 2px solid #C7B198;
		background: none;
		transition: all .3s;
	}
	.rsvp-section .form-group .button-submit:hover{
		color: #C7B198;
	}
	.img-mobile{
		object-fit: cover;
		height: 100vh !important;
	}
	.carousel-gallery .owl-next, .carousel-gallery .owl-prev{
		color: #C7B198 !important;
	}
	.carousel-gallery .owl-next{
		right: 0;
	}
	.carousel-gallery .owl-prev{
		left: 0;
	}
	#exampleModal .bg-blue .mx-auto.d-block.my-4{
		width: 25%;
	}
	#exampleModal .close-button{
		position: absolute;
		right: 0;
	}
	#exampleModal .close-button img{
		width: 60%
	}
	.accomodation h3 {
    	font-size: 2.2rem !important;
	}
	.accomodation .button-location{
		color: #284c5b;
		border-bottom: 2px solid #c7b198;
		font-family: "Overpass Bold";
	}
	.accomodation .button-location:hover{
		color: #c7b198;
	}
	.accomodation .garis{
		position: absolute;
		top: 0;
		left: 2.2rem;
	}
	#step-increment{
      	position: absolute;
      	right: 0;
      	top: 0;
    }
	@media screen and (max-width: 846px) {
		.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
		.content-header-home{
			width: 100%;
			text-align: center;
		}
		h2 {
    		font-size: 45px !important;
    	}
    	p, a, label, th, td, li, input{
    		font-size: 11pt;
    		line-height: 30px;
    	}
    	.inseparable-section{
    		background-image: none;
    	}
    	.will-you .content{
    		right: auto;
			left: 30px;
			width: 80%;
			top: auto;
			bottom: 6%;
    	}
    	.bg-celebrate{
    		background-image: none;
    	}
    	.carousel-gallery{
    		padding: 0 40px 40px;
    	}
    	.rsvp-section{
    		background-image: none;
    	}
    	.rsvp-section .w-lg-38p{
    		width: 100%;
    	}
    	.rsvp-section .form-control, .rsvp-section label{
    		font-size: 12px;
    	}
    	.rsvp-section .form-control{
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    	.footer p{
    		font-size: 8pt;
    	}
    	.nav-wedding-2 img{
    		margin: auto;
			display: block;
			margin-top: 30px;
    	}
    	.menu-mobile{
    		position: absolute;
			right: 20px;
			top: 56px;
			transform: translate(-50%);
    	}
    	.nav-wedding-2 ul {
    		margin-top: 4em;
		}
    	.nav-wedding-2 ul li {
    		display: block;
    		text-align: center;
    		margin: 20px 0;
		}
		.side-nav{
			width: 100%;
			height: 100vh;
			background: #284c5b;
			position: absolute;
			top: 0;
			left: -100%;
			transition: all .5s;
		}
		.side-nav.active{
			left: 0;
		}
		.nav-wedding-2 ul li a {
   			color: #fff;
   			font-size: 17px;
		}
		#exampleModal .bg-blue img{
			width: 55%;
			cursor: pointer;
		}
		#exampleModal .close-button{
			right: 20px;
			text-align: right;
		}
		#exampleModal .bg-blue .mx-auto.d-block.my-4{
			width: 80%;
		}
		#exampleModal .w-lg-30p{
			width: 80% !important;
		}
		.nav-wedding-2 span.text-gray.ml-lg-3{
	  		text-align: center;
			display: block;
			margin-top: 10px;
  		}
  		.rsvp-section{
  			padding: 70px 0;
  		}
  		.carousel-gallery .owl-dots .owl-dot:hover span, .carousel-gallery .owl-dots .owl-dot.active span{
  			background: #284c5b !important;
  		}
	}
