<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Gala Dinner | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style_gala_dinner.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="nav-wedding position-absolute">
        <div class="container-fluid py-lg-5">
            <div data-aos="fade-up" class="row d-none d-lg-block">
                <div class="col-lg-12 text-center">
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#date">
                                DATE, TIME & DRESSCODE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#place">
                                PLACE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rundown">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#our">
                                OUR PARTNERS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="menu-icon w-100 text-right">
                    <h3 class="text-white m-4">
                        <i class="fa fa-bars"></i>
                    </h3>
                </div>
                <div class="side-menu">
                    <h3 class="text-white text-right m-4 close-div">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </h3>
                    <ul class="list-unstyled ml-4">
                        <li class="mx-4">
                            <a href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#date">
                                DATE, TIME & DRESSCODE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#place">
                                PLACE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rundown">
                                RUNDOWN
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp">
                                RSVP
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#our">
                                OUR PARTNERS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-out" class="container-fluid header-home">
        <div class="row">
            <div class="col-lg-12 px-0">
                <div class="header-home-content text-center">
                    <h1 data-aos="fade-right" class="text-white text-left la-casa">
                        La Casa
                    </h1>
                    <h1 data-aos="fade-left" class="text-white text-right de-papel mb-lg-5">
                        De Papel
                    </h1>
                    <h4 data-aos="fade-down" class="text-white my-lg-5">
                        GALA DINNER
                    </h4>
                    <div  data-aos="fade-up" data-aos-offset="-350">
                    <a href="#about">
                        <img class="anchor" src="images/ornament_header-03.png">
                    </a>
                    </div>
                </div>
                <img class="img-fluid w-100 d-none d-lg-block" src="images/header-section-home-03.jpg">
                <img class="img-fluid w-100 d-lg-none" src="images/header-section-home-mobile-04.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid header-home-brief" id="about">
        <div class="row pt-lg-5">
            <div class="col-lg-12 my-lg-5 pt-lg-5">
                <p class="text-white text-center font-weight-bold mt-5 mb-lg-0 mb-4 title">
                    <i>
                        You are cordially invited to our annual gala dinner
                    </i>
                </p>
                <p class="text-white text-center mt-lg-4 mb-lg-5 w-75 mx-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <hr class="hr d-lg-none">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-blue py-lg-5 header-home-location" id="date">
        <div data-aos="fade-up" class="row text-center">
            <div class="col-lg-4 pr-lg-0">
                <h1 class="text-white">
                    3 December 2020
                </h1>
            </div>
            <div class="col-lg-4 px-lg-0 middle-time">
                <h1 class="text-white">
                    18.00-21.00 pm
                </h1>
            </div>
            <div class="col-lg-4 pl-lg-0">
                <h1 class="text-white">
                    Formal Dress
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid home-location-section bg-blue" id="place">
        <div class="row">
            <div class="col-5 d-lg-none  py-5 px-0">
                <h1 class="text-white ml-4">
                    At Balai<br>
                    Kartini
                </h1>
            </div>
            <div class="col-7 d-lg-none px-0  py-5">
                <p class="text-white mt-lg-4 mb-lg-5">
                        Jl. Gatot Subroto No.Kav. 37, RT.6/RW.3,<br>
                        Kuningan, Kuningan Tim., Kecamatan<br>
                        Setiabudi, Kota Jakarta Selatan,<br>
                        Daerah Khusus Ibukota Jakarta 12950<br>
                    </p>
                    <a href="#" class="text-white">
                        OPEN IN GOOGLE MAPS
                    </a>
            </div>
            <div class="col-lg-12 px-0">
                <iframe data-aos="zoom-out" class="img-fluid w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15864.890752409196!2d106.825073!3d-6.2343495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b9ffa3205d3c39a!2sBalai%20Kartini!5e0!3m2!1sen!2sid!4v1588572444507!5m2!1sen!2sid" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="position-content">
                <div data-aos="fade-left" class="content d-none d-lg-block">
                        <h1 class="text-white">
                            At Balai<br>
                            Kartini
                        </h1>
                        <p class="text-white mt-lg-4 mb-lg-5">
                            Jl. Gatot Subroto No.Kav. 37, RT.6/RW.3,<br>
                            Kuningan, Kuningan Tim., Kecamatan<br>
                            Setiabudi, Kota Jakarta Selatan,<br>
                            Daerah Khusus Ibukota Jakarta 12950<br>
                        </p>
                        <a href="#" class="text-white">
                            OPEN IN GOOGLE MAPS
                        </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-bottom-content">
        <div class="container-fluid pt-lg-5" id="rundown">
            <div class="row">
                <div data-aos="fade-up" class="col-lg-6 p-5">
                    <img class="img-fluid ml-lg-5 m-0" src="images/bottom-content-rundown-05.jpg">
                </div>
                <div class="col-lg-5 offset-lg-1 pt-lg-5 pl-lg-2 pl-5">
                    <h1 class="text-white mt-lg-5">
                        Rundown
                    </h1>
                    <hr align="left" class="hr-rundown">
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                                19.00 :
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                                Doors open - registration, champagne and canapés reception
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               19.50 :
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                                First call for dinner
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               20.00 : 
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                            Second call for dinner
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               20.15 : 
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                                Speeches
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               20.40 : 
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                               Service begins - silent auction opens for bidding
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               22.30 : 
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                               Dinner ends and guests continues networking - entertainment
                            </p>
                        </div>
                    </div>
                    <div class="row ml-lg-1">
                        <div class="time-div">
                            <p class="text-white">
                               01.30 : 
                            </p> 
                        </div>
                        <div class="col-lg-8 col-10">
                            <p class="text-white">
                               Carriages
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid save-seat px-5 py-5" id="rsvp">
            <div class="row">
                <div data-aos="fade-left" class="col-lg-11 offset-lg-1">
                    <h1 class="text-white">
                        Save Your Seat
                    </h1>
                </div>
            </div>
            <div class="row py-lg-5">
                <div class="col-lg-3 offset-lg-1">
                    <p class="text-white">
                        We’re looking forward for you<br>
                        to join the gala dinner. Please<br>
                        kindly RSVP and book your<br>
                        seat by filling the form.<br>
                    </p> 
                </div>
                <div class="col-lg-3">
                    <p class="text-white mb-0">
                        Are you attending the gala dinner?
                    </p>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label text-white" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label text-white" for="inlineRadio2">No</label>
                        </div>
                    </div>
                    <p class="text-white mb-0">
                        Will you bring anyone to the event?
                    </p>
                    <div class="form-group position-relative my-2">
                        <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                        <a role="button" id="step-increment" class="btn btn-default pt-1" aria-label="add 1" aria-labelledby="step-increment label-text">
                            <h6 class="text-white">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p class="text-white">
                        Fill your name and contact lists
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="text-white mb-0">
                                Full Name
                            </p>
                            <input type="text" class="form-control mb-3">
                            <p class="text-white mb-0">
                                Email
                            </p>
                            <input type="text" class="form-control mb-3">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-white mb-0">
                                Telephone
                            </p>
                            <input type="text" class="form-control mb-4">
                            <a href="#" class="submit-dinner" data-toggle="modal" data-target="#form-submit">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="container pt-5" id="our">
            <div class="row">
                <div class="col-lg-12 text-center py-lg-5 pt-4">
                    <h1 class="text-white mt-lg-0 mt-5">
                        Our Partners
                    </h1>
                </div>
            </div>
            <div class="row py-3 d-none d-lg-flex">
                <div class="col-lg-2 offset-lg-1 text-center">
                    <img src="images/brand-logo-05.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-06.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-07.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-08.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-09.png">
                </div>
            </div>
            <div class="row pt-3 pb-5 d-none d-lg-flex">
                <div class="col-lg-2 offset-lg-1 text-center">
                    <img src="images/brand-logo-10.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-11.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-12.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-13.png">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="images/brand-logo-14.png">
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="carousel-gallery owl-theme">
                    <div class="item px-5 pt-5">
                        <div class="row">
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-05.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-06.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-07.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-08.png">
                            </div>
                        </div>
                    </div>
                    <div class="item px-5 pt-5">
                        <div class="row">
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-09.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-10.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-11.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-12.png">
                            </div>
                        </div>
                    </div>
                    <div class="item px-5 pt-5">
                        <div class="row">
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-11.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-12.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-13.png">
                            </div>
                            <div class="col-6 mt-3 p-4">
                                <img class="img-fluid" src="images/brand-logo-14.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bottom-line mt-5">
        </div>
    </div>
    <div class="bg-dark-blue content-footer pb-lg-5">
    <div class="container-fluid">
        <div class="row px-3 px-lg-0">
            <div class="col-lg-3 offset-lg-1 pb-4 pb-lg-0">
                <h1 class="text-white mb-lg-0">
                    La Casa
                </h1>
                <h1 class="text-white ml-lg-5 ml-3">
                    De Papel
                </h1>
                <h6 class="text-white font-montserrat ml-lg-5 mb-0 font-nunito ml-3">
                    GALA DINNER
                </h6>
            </div>  
            <div class="col-lg-3 offset-lg-1 location col-6">
                <h5 class="text-white">
                    3 December 2020<br>
                    18.00-21.00 pm<br>
                    At Balai Kartini
                </h5>
            </div>
            <div class="col-lg-3 col-6">
                <h5 class="text-white">
                    08123456789
                </h5>
                <p class="text-white mb-0">
                    lcdp-galadinner@gmail.com
                </p>
                <a href="#" class="text-white button-bottom">
                    DOWNLOAD E-INVITATION
                </a>
            </div>
        </div>      
    </div>
    </div>
    <div class="container-fluid bg-blue py-4 footer">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-8 pl-4 pl-lg-3">
                <p class="text-white mb-0">
                    All right served © This website is made by Resservasi Dulu
                </p>
            </div>
            <div class="offset-lg-4 col-lg-2 col-3">
                <a href="#" class="button">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-submit">
            <div class="close-div">
                <a href="#" data-dismiss="modal">
                    <img src="images/close-modal-button-15.png">
                </a>
            </div>
            <div class="row py-5 mt-5 mb-3">
                <div class="col-lg-4 offset-lg-1 pl-lg-5 px-5 mb-4">
                    <h1 class="text-white mb-lg-0">
                        La Casa
                    </h1>
                    <h1 class="text-white ml-lg-5 ml-3">
                        De Papel
                    </h1>
                    <h6 class="text-white font-montserrat ml-lg-5 mb-0 font-nunito ml-3">
                        GALA DINNER
                    </h6>
                </div>
                <div class="col-lg-6 px-5">
                    <h1 class="text-white font-70-px mb-5">
                        Thank you for<br>
                        your feedback
                    </h1>
                    <p class="text-white">
                        We will take notes of your attendance to ensure your seat.<br>
                        Please check your email for your seat number and further notice.<br> 
                        <br>
                        We’ll see you then!
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>