<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-1.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid trial-wedding-1">
        <div class="row">
            <div class="col-lg-5 pl-5  d-none d-lg-flex">
                <img class="img-fluid mb-5 pl-4" src="images/images-content-free-03.png" alt="franz ferdinand">
            </div>
            <div class="col-lg-12 d-lg-none">
                <div class="row">
                    <div class="col-lg-12 text-center pt-5">
                        <h3 class="text-dgreen">
                            BRUCE & NATASHA
                        </h3>
                        <p class="text-gray">
                            invite you to
                        </p>
                    </div>
                    <div class="col-lg-12 pr-0 text-right">
                        <img src="images/images-content-free-mobile-03-03.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 px-5 pb-lg-0 pb-5">
                <div class="row mt-5">
                    <div class="carousel-free owl-theme">
                        <div class="item">
                            <div class="col-lg-12 py-4">
                                <p class="text-gray">
                                    Wedding Ceremony
                                </p>
                                <h3 class="text-gray font-oswald-extralight mb-4">
                                    CATHEDRAL CHURCH
                                </h3>
                                <p class="font-montserrat-bold text-gray">
                                    <strong>
                                        23 September 2020<br>
                                        09.30 - 10.00 am
                                    </strong>
                                </p>
                                <p class="text-gray">
                                    Join us in Our Holy Matrimony and celebrate our wedding blessing!
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-12 py-4">
                                <p class="text-gray">
                                    Wedding Ceremony
                                </p>
                                <h3 class="text-gray font-oswald-extralight mb-4">
                                    CATHEDRAL CHURCH
                                </h3>
                                <p class="font-montserrat-bold text-gray">
                                    <strong>
                                        23 September 2020<br>
                                        09.30 - 10.00 am
                                    </strong>
                                </p>
                                <p class="text-gray">
                                    Join us in Our Holy Matrimony and celebrate our wedding blessing!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-12">
                        <p class="text-gray">
                            Fill in the list below <strong> IF </strong> you are attending
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pr-5">
                        <label class="text-gray">Full Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg pr-5">
                        <label class="text-gray">Phone Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-lg pr-5">
                        <label class="text-gray">Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p class="text-gray mt-2">
                          Additional Guest
                        </p>
                      </div>
                      <div class="col-lg-4">
                        <div class="row">
                          <div class="col-lg-2 col-1 px-0">
                          <a role="button" id="step-decrement" class="btn btn-default mt-1" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                            <i class="fa fa-chevron-left text-gray"></i>
                          </a>
                          </div>
                          <div class="col-lg-3 col-2">
                            <input class="w-100 form-control bg-white text-center" disabled type="number" name="qty" id="spinner" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                          </div>
                          <div class="col-lg-2 col-1 px-0">
                            <a role="button" id="step-increment" class="btn btn-default  mt-1" aria-label="add 1" aria-labelledby="step-increment label-text">
                              <i class="fa fa-chevron-right text-gray"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <input type="submit" class="button-cyan d-block w-100" data-toggle="modal" data-target="#exampleModal" value="SUBMIT">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-cyan footer">
        <div class="row">
            <div class="col-lg-10 text-left pl-lg-5 order-lg-1 order-2">
                <p class="mb-0 text-white mt-lg-4">
                    All Rights Reserved © This website is made by <span class="font-weight-bold">Reservasi Dulu</span>
                </p>
            </div>
            <div class="col-lg-2 order-lg-2 order-1 text-center">
                 <a class="button-border-white my-lg-3 mt-3 d-inline-block" href="#">Create a Site</a>
            </div>
        </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>
</html>