<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-3.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <div class="container-fluid birthday-3-free">
            <div class="row">
                <div class="col-lg-5 pl-5 pr-0">
                    <img class="img-fluid w-100" src="images/content-free-06.png" alt="">
                </div>
                <div class="col-lg-7 py-lg-5">
                    <div class="offset-lg-1">
                        <div class="row mt-5">
                            <div class="col-lg-5 offset-lg-2 offset-2">
                                <p class="font-lightgrey title">
                                    You are cordirally invited to
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <h1 class="text-coral font-100px basic-shadow name">
                                    Christine’s
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 offset-lg-4 offset-3">
                                <h1 class="font-bluesky basic-shadow font-50px birthday">
                                    3 <sup>rd</sup> <strong>Birthday</strong>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="offset-lg-1 col-lg-4 pt-3">
                            <div class="row">
                                <div class="col-lg-5 offset-lg-0 col-4 offset-1 pr-0">
                                <h1 class="font-50px font-lightgrey SAT">
                                    SAT
                                </h1>
                                </div>
                                <div class="col-lg-7 col-7 pl-0">
                                    <p class="font-lightgrey mb-0">
                                        25 April 2020
                                    </p>
                                    <h4 class="font-lightgrey">
                                        5.30 PM
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0 text-center">
                            <p class="font-lightgrey">
                                Marina Village Baja Room<br>
                                939 Quivira Way, San Diego<br>
                                California 92109
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-center">
                            <img src="images/dress-icon-red-05.png" alt="">
                            <span class="font-lightgrey ml-3">
                                Black and white
                            </span>
                        </div>
                    </div>
                    <div class="row pr-lg-5 pt-5">
                        <div class="col-lg-12 text-center">
                            <p class="font-lightgrey">
                                Fill in the list below <strong>IF</strong>  you are attending
                            </p>
                        </div>
                    </div>
                    <div class="row pr-lg-5">
                        <div class="col-lg-4 text-center">
                            <label class="font-lightgrey">Full Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-4 text-center">
                            <label class="font-lightgrey">Email Address</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-4 text-center">
                            <label class="font-lightgrey">Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-4 pr-lg-5">
                        <div class="col-lg-12 text-center">
                            <p class="font-lightgrey">
                                Will you bring additional guest(s) along with you?
                            </p>
                        </div>
                    </div>
                    <div class="row pr-lg-5">
                        <div class="col-lg-4 mx-auto text-center">
                        <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                          <i class="fa fa-caret-left text-coral"></i>
                        </a>
                          <input class="" disabled type="number" name="qty" id="spinner" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                          <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                            <i class="fa fa-caret-right text-coral"></i>
                          </a>
                        </div>
                    </div>
                    <div class="row my-4 pr-lg-5">
                        <div class="col-lg-12 text-center">
                            <a href="#" class="button-bluesky">
                                Submit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Footer -->
    <footer>
        <div class="container-fluid pl-m-5p pr-m-5p pl-lg-15p pr-lg-15p">
            <div class="row">
                <div class="col-8 col-lg-8 pt-lg-5px">
                    <p>All Rights Reserved This website is made by Reservasi Dulu</p>
                </div>                
                <div class="col-4 col-lg-4">
                    <a href="#" class="button-create">create a site</a>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>