<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-9.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row d-none d-lg-block">
                    <a href="index.html"><img data-aos="fade-down" class="img-fluid logo" src="images/logo.png" /></a>
                    <div data-aos="fade-left" class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#ourstory">Our Story</a></li>
                            <li><a href="#dateandtime">Date & Time</a></li>
                            <li><a href="#accommodation">Accommodation</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#countdown">Countdown</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="col-8">
                        <a href="index.html"><img class="img-fluid logo" src="images/logo.png" /></a>
                    </div>
                    <div class="col-4 pr-m-0">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <img class="img-fluid close-icon" src="images/close.png" />
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#ourstory">Our Story</a></li>
                            <li><a href="#dateandtime">Date & Time</a></li>
                            <li><a href="#accommodation">Accommodation</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#countdown">Countdown</a></li>
                        </ul>
                        <div class="nav-rsvp">
                            <h6>
                                <b>Submit Your RSVP</b><br />
                                and Join Our Celebration
                            </h6>
                            <a href="#rsvp"><img class="img-fluid" src="images/arrow-01.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section Home -->
        <section id="home">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img data-aos="zoom-out" class="img-fluid images w-lg-100p" src="images/images-01.png" />
                        <div class="title">
                            <h1 data-aos="fade-up">
                                Through
                                Thick
                                and Thin
                            </h1>
                        </div>
                        <div class="link-rsvp">
                            <h6>
                                <b>Submit Your RSVP</b><br />
                                and Join Our Celebration
                            </h6>
                            <a href="#rsvp"><img class="img-fluid" src="images/arrow-01.png" /></a>
                        </div>
                        <div class="link-gallery">
                            <a class="button-default" href="#gallery">See more pictures <img class="img-fluid" src="images/arrow-02.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Our Story -->
        <section id="ourstory">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 pt-m-25p pb-m-10p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                        <img data-aos="fade-up" class="img-fluid" src="images/images-02.png" />
                    </div>
                    <div class="col-lg-6 pt-m-0 pb-m-20p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pr-lg-5p">
                        <ul id="accordion" class="accordion">
                          <li>
                            <div class="link"  data-aos="fade-up">
                                <h5>OUR STORY</h5>
                                <img class="img-fluid" src="images/arrow-04.png" />
                            </div>
                            <div class="submenu">
                                <p>
                                    It’s been over 7 years since we walk this path together. We met at the famous Egypt Monument, The Great Pyramid. We also share the same hobby which is traveling, and beyond our hobby, we’ve shared the same interest in a lot of things as well, which makes us so compatible with each other in many ways.
                                </p>
                            </div>
                          </li>
                          <li>
                            <div class="link" data-aos="fade-up">
                                <h5>STEVE ROBERTS</h5>
                                <img class="img-fluid" src="images/arrow-04.png" />
                            </div>
                            <div class="submenu">
                                <p>
                                    Steve is a funny guy, I thought everybody knows this about him even when you first meet him. He always gives such a strong impression when it comes to his personality. He is constantly bright as the sun, and it’s amazing how he radiates his energy to other people quickly and make me realize how lucky I am to be his wife.<br /><br />
                                    - Sharon Cartier
                                </p>
                            </div>
                          </li>
                          <li>
                            <div class="link" data-aos="fade-up">
                                <h5>SHARON CARTIER</h5>
                                <img class="img-fluid" src="images/arrow-04.png" />
                            </div>
                            <div class="submenu">
                                <p>
                                    When you hear Sharon for the first time, you will think about how kind she is. With everyone! And it is insane how she keeps consistent about her compassion towards the one in need. She is someone that I really look up to. In terms of how she lived her life, how she sees the world, and the way she is very wise in many ways! I’m the luckiest husband ever!<br /><br />
                                        - Steve Roberts
                                </p>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Date & Time -->
        <section id="dateandtime">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-m-15p pb-m-15p pl-m-10p pr-m-10p pl-lg-0 pr-lg-0 bg-cream">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tabweddingceremony-tab" data-toggle="tab" href="#tabweddingceremony" role="tab" aria-controls="tabweddingceremony">
                                    <img class="img-fluid arrow-left mr-lg-5p" src="images/arrow-05.png" />
                                    Wedding Ceremony
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tabweddingparty-tab" data-toggle="tab" href="#tabweddingparty" role="tab" aria-controls="tabweddingparty">
                                    Wedding Party
                                    <img class="img-fluid arrow-right ml-lg-5p" src="images/arrow-06.png" />
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane" id="tabweddingceremony" role="tabpanel" aria-labelledby="tabweddingceremony-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 padbrief">
                                            <div class="row pt-lg-5p pb-lg-5p">
                                                <div class="col-lg-7 pb-lg-5p" data-aos="fade-right">
                                                    <h5>OUR WEDDING CEREMONY</h5>
                                                </div>
                                                <div class="col-lg-5 p-0">
                                                    <a class="button-default d-none d-lg-block" href="">See location <img class="img-fluid" src="images/arrow-03.png" /></a>
                                                </div>
                                                <div class="col-lg-12 brief pb-m-10p pb-lg-5p">
                                                    <div class="row st">
                                                        <div class="col-7 col-lg-7">
                                                            <div class="row">
                                                                <div class="col-5 col-lg-5 pl-lg-0">
                                                                    <div class="date">23</div>
                                                                </div>
                                                                <div class="col-7 col-lg-7 pl-lg-0">
                                                                    <div class="my">September 2020</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 col-lg-5 lineleft">
                                                            <div class="time">10:00 am till 12:00 pm</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 mtext-center">
                                                    <p>
                                                        Our Wedding Ceremony will be held at:<br /><br />
                                                        <b>Grand Chapel of Toronto, Canada</b><br />
                                                        Holy Spirit Street, 3-5 A<br />
                                                        Glass Boulevard, Water Village
                                                    </p>
                                                </div>
                                                <div class="col-lg-5"></div>
                                                <div class="col-12">
                                                    <a class="button-default d-block d-lg-none" href="">See location <img class="img-fluid" src="images/arrow-03.png" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 padimg" data-aos="fade-left">
                                            <div class="wrap">
                                                <img class="img-fluid images w-lg-100p" src="images/images-04.png" />
                                            </div>
                                            <img class="img-fluid motif" src="images/motif-01.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabweddingparty" role="tabpanel" aria-labelledby="tabweddingparty-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 padbrief">
                                            <div class="row pt-lg-5p pb-lg-5p">
                                                <div class="col-lg-7 pb-lg-5p">
                                                    <h5>OUR WEDDING GARDEN PARTY</h5>
                                                </div>
                                                <div class="col-lg-5 p-0">
                                                    <a class="button-default d-none d-lg-block" href="">See location <img class="img-fluid" src="images/arrow-03.png" /></a>
                                                </div>
                                                <div class="col-lg-12 brief pb-m-10p pb-lg-5p">
                                                    <div class="row st">
                                                        <div class="col-7 col-lg-7">
                                                            <div class="row">
                                                                <div class="col-5 col-lg-5 pl-lg-0">
                                                                    <div class="date">24</div>
                                                                </div>
                                                                <div class="col-7 col-lg-7 pl-lg-0">
                                                                    <div class="my">September 2020</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 col-lg-5 lineleft">
                                                            <div class="time">05:00 pm till 07:00 pm</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 mtext-center">
                                                    <p>
                                                        Our Wedding Garden Party will be held at:<br /><br />
                                                        <b>Flower Palace Toronto, Canada</b><br />
                                                        Legendary Street, 14 B<br />
                                                        Southern Sea, Ocean Hill
                                                    </p>
                                                </div>
                                                <div class="col-lg-5 mtext-center">
                                                    <p>
                                                        The Dresscode Will Be<br /><br />
                                                        <b>Simple Minimal Formal Attire</b><br />
                                                        No Complicated Sequence,<br />
                                                        Plain Sophisticated look
                                                    </p>
                                                </div>
                                                <div class="col-12">
                                                    <a class="button-default d-block d-lg-none" href="">See location <img class="img-fluid" src="images/arrow-03.png" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 padimg">
                                            <div class="wrap">
                                                <img class="img-fluid images w-lg-100p" src="images/images-05.png" />
                                            </div>
                                            <img class="img-fluid motif" src="images/motif-01.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Accommodation -->
        <section id="accommodation">
            <div class="container-fluid">
                <div class="row">
                    <div class="order-2 order-lg-1 col-lg-6 pl-lg-0 pr-lg-0">
                        <img data-aos="zoom-out" class="img-fluid w-lg-100p" src="images/images-06.png" />
                    </div>
                    <div class="order-1 order-lg-2 col-lg-6 pt-m-15p pb-m-15p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                        <h5 data-aos="fade-left" class="mb-lg-5p">
                            ACCOMODATION:<br />
                            THE CONFIDANTE
                        </h5>
                        <h6 data-aos="fade-up" class="mb-lg-3p"><b>1 Night Stay | </b>1 Suite Bedroom</h6>
                        <div class="w-lg-100p mb-m-10p mb-lg-5p line-grey"></div>
                        <p>
                            While you’re attending our party we will also provide your accommodation. The Confidante is famous for its service and quality, for attending our celebration you will be equipped with 2 nights’ stay in The Confidante with a Large 2-bed hotel room.
                        </p>
                        <p>
                            The Confidante also provides you each 1 breakfast/day, just don’t forget to mention our name “Steve & Sharon Wedding” when you are reserving for a room.
                        </p><br />
                        <a class="button-default" href="">See location <img class="img-fluid" src="images/arrow-02.png" /></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid">
                <div class="row">
                    <img class="img-fluid motif" src="images/motif-02.png" />
                    <div class="col-lg-12 pt-m-15p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                        <div  data-aos="fade-right" class="w-m-100p w-lg-40p">
                            <h5 class="mb-lg-5p">
                                OUR TOGETHERNESS,<br />
                                CAPTURED.
                            </h5>
                            <p>
                                These are our moments from the moment we met until now, thanks to the famous Nezuko Kamado, Japanese Photographer, she captures the most beautiful pictures, and we will always treasure her work. Please enjoy our photograph!
                            </p>
                        </div>
                    </div>
                    <div  data-aos="fade-up" class="col-lg-12 pb-m-15p pb-lg-5p pl-lg-10p pr-lg-10p">
                        <div class="three-carousel owl-theme">
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-07.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-08.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-10.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-11.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-12.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Countdown -->
        <section id="countdown">
            <div class="container-fluid bg-lightblue">
                <div class="row">
                    <img class="img-fluid motif" src="images/motif-03.png" />
                    <div class="col-lg-12 pt-m-15p pb-m-15p pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p text-center">
                        <h5 class="mb-m-10p mb-lg-5p">COUNTDOWN TO THE BEGINNING OF OUR JOURNEY AHEAD</h5>
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="box">
                                    <div id="days" class="number"></div><div class="desc">Days</div>
                                    <div class="sparator boxc">:</div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="box">
                                    <div id="hours" class="number"></div><div class="desc">Hours</div>
                                    <div class="sparator boxc">:</div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="box">
                                    <div id="minutes" class="number"></div><div class="desc">Minutes</div>
                                    <div class="sparator boxc">:</div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="box">
                                    <div id="seconds" class="number"></div><div class="desc">Seconds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid bg-lightblue">
                <div class="row">
                    <img class="img-fluid motif" src="images/motif-04.png" />
                    <img class="img-fluid motif2" src="images/motif-05.png" />
                    <div class="col-lg-12 pb-m-15p pl-m-10p pr-m-10p pt-lg-3p pb-lg-5p pl-lg-10p pr-lg-10p">
                        <div class="bg-white w-lg-100p pt-m-15p pb-m-15p pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3>RSVP</h3>
                                    <form>
                                        <table>
                                            <tr>
                                                <td><label>Are you attending?</label></td>
                                                <td>
                                                    <div class="radio-toolbar">
                                                        <input type="radio" id="radioYES" name="attending" value="yes">
                                                        <label for="radioYES">Yes</label>
                                                        <input type="radio" id="radioNO" name="attending" value="no">
                                                        <label for="radioNO">No</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label>Full Name</label></td>
                                                <td>:<input type="text" name="your-name" class="form-control" required /></td>
                                            </tr>
                                            <tr>
                                                <td><label>Email</label></td>
                                                <td>:<input type="email" name="your-email" class="form-control" required /></td>
                                            </tr>
                                            <tr>
                                                <td><label>Phone No.</label></td>
                                                <td>:<input type="text" name="your-phone" class="form-control" required /></td>
                                            </tr>
                                            <tr>
                                                <td><label>Additional Guest</label></td>
                                                <td>
                                                    <div class="guest">
                                                        <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                                            <img class="img-fluid" src="images/form-01.png" />
                                                        </a>
                                                        <input type="number" name="your-guest" id="spinner" value="0" placeholder="0" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                                        <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                                            <img class="img-fluid" src="images/form-02.png" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                            <div class="button-wrap d-block d-lg-none">
                                                <input type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                                <img class="img-fluid" src="images/arrow-02.png" />
                                            </div>
                                            <a class="button-default" href="">DOWNLOAD INVITATION <img class="img-fluid" src="images/form-03.png" /></a>
                                            <div class="button-wrap d-none d-lg-block">
                                                <input type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                                <img class="img-fluid" src="images/arrow-02.png" />
                                            </div>
                                                <div class="modal fade" id="ebrochure">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <a class="close" data-dismiss="modal">
                                                                <img class="img-fluid" src="images/close-02.png" />
                                                            </a>
                                                            <img class="img-fluid motif-popup" src="images/popup.png" />
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <h4>THANK YOU FOR YOUR TIME</h4>
                                                                        <h6>
                                                                            WE HOPE YOU ARE AS EXCITED
                                                                            AS E DO, WE REALLY LOOK FORWARD
                                                                            FOR YOU TO COME!
                                                                        </h6>
                                                                        <p>
                                                                            For reserving your attendance, we will save your seat safe and secure! We cannot wait for you to come and thank you from the bottom of our hearts to attend our celebration and become the part of this unbelievable journey.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-10p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="order-2 order-lg-1 col-12 mb-m-0 mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by Reservasi Dulu</p>
                    </div>                
                    <div class="order-1 order-lg-2 col-12 mb-m-5p mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>