<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-2.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div class="container-fluid nav-birthday-2">
        <div class="row d-none d-lg-flex">
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-7 py-lg-4 text-right d-none d-lg-block">
               <ul class="list-unstyled d-inline">
                   <li>
                       <a href="index.html">
                            HOME
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            ABOUT
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            DATE & PLACE
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            RSVP
                       </a>
                   </li>
                   <li>
                       <a href="#">
                            WISH LIST
                       </a>
                   </li>
               </ul> 
            </div>
        </div>
        <div class="d-lg-none">
          <div class="col-lg-11">
            <h3 class="text-gray text-right mt-1">
                <i class="fa fa-bars"></i>
            </h3>
          </div>
          <div class="side-nav">
                        <div class="close-div text-right p-3">
                          <h3 class="text-gray">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </h3>
                        </div>
                        <ul class="list-unstyled">
                        <li>
                       <a href="index.html">
                            HOME
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            ABOUT
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            DATE & PLACE
                       </a>
                   </li>
                   <li>
                       <a href="index.html">
                            RSVP
                       </a>
                   </li>
                   <li>
                       <a href="#">
                            WISH LIST
                       </a>
                   </li>
                    </div>
        </div>
    </div>
    <div class="container-fluid header-section-wishlist pt-lg-5">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 pr-lg-0 pt-lg-5 pl-0">
                <img class="img-fluid float-right" src="images/image-wishlist-08.jpg">
            </div>
            <div class="col-lg-7 px-lg-5 pl-4">
              <div class="content-title">
                <h2 class="text-alexa-grey font-allura">
                  Lists of
                </h2>
                <h2 class="text-grayish-blue font-playfair">
                  Small Wishes
                </h2>
              </div>
              <div class="list-of">
                <ul class="list-unstyled">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Scented Candle</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Polaroid</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Flamingo Slippers</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Leather Coin Purse</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Bath Bombs Kit</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#wishlist-submit">Others</a>
                  </li>
                </ul>
                <p class="text-gray text-center pb-2">       
                  Select one of the above list so others will not need to bring the<br>
                  same gifts. However it is not mandatory for you to select<br>
                  one from the list above.
                </p>
                <img class="mx-auto d-block my-lg-4" src="images/wishlist-list-of-divider-09.png">
                <p class="text-gray text-center pt-2">
                  Your presence is much more important and needed<br>
                  for my birthday celebration!
                </p>
              </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3 footer bg-pink">
      <div class="row">
        <div class="col-lg-1 offset-lg-3 col-1">
          <p class="text-gray mb-0">
            2013
          </p>
        </div>
        <div class="col-lg-3 col-7">
          <p class="text-gray mb-0">
            created with RESERVASI DULU
          </p>
        </div>
        <div class="offset-lg-1 col-lg-4 col-4">
          <a class="link-footer" href="#">create a site</a>
        </div>
      </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="wishlist-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content  thank-you">
          <div class="close-div">
            <h3 class="text-gray" data-dismiss="modal">
              <i class="fa fa-times" aria-hidden="true"></i>
            </h3>
          </div>
            <div class="col-lg-12">
            <p class="text-gray font-proxima-bold text-center mb-0">
                  Thank you for the gift!

            </p>
            <br>
            <p class="text-gray mx-auto text-center">
                You cannot change the selection, but you could always<br>
                change your mind about the gift. Remember, your presence<br>
                is much more important and needed!
            </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>