<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-event-3.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->    
        <nav>
            <div class="container-fluid">
                <div class="row d-none d-lg-block">
                    <div class="offset-lg-3 col-lg-9 pr-lg-0">
                        <ul class="menu">
                            <li><a href="#"></a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#venue">VENUE</a></li>
                            <li><a href="#special-guest">SPECIAL GUEST</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="offset-8 col-4 text-right">
                        <ul class="bars">
                            <div id="toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#venue">VENUE</a></li>
                            <li><a href="#special-guest">SPECIAL GUEST</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section id="banner">
            <div class="container-fluid mb-lg-20p bg-black">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="w-lg-100p h-lg-100vh">
                            <img class="img-fluid images" src="images/images-01.png" />
                            <div class="boxc">
                                <img class="img-fluid logo" src="images/logo.png" />
                                <h1>Grand<br />Opening</h1>
                                <h5>OUR FIRST OFFLINE STORE</h5>
                                <a class="button-default" href="">LET’S GET INTO IT!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section About -->
        <section id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 pt-m-0 pb-m-10p pl-m-15p pr-m-15p pt-lg-5p pb-lg-20p pl-lg-5p pr-lg-0">
                        <div class="motif"></div>
                        <img class="img-fluid images w-lg-100p" src="images/images-02.png" />
                    </div>
                    <div class="col-lg-7 pt-m-0 pl-m-15p pr-m-15p pt-lg-5p pb-lg-20p pl-lg-5p pr-lg-5p">
                        <h2>About <span>Oceandor</span></h2>
                        <div class="w-m-100p w-lg-80p mb-lg-10p">
                            <p>
                                Oceandor is an indie fashion brand focusing on making eco-cotton and sustainable clothing to help reducing waste in the earth. Every item bought is also donated to go green organization working on mother earth harmony of plants and animals. We are vegan and cruelty-free, and we have a purpose to create the most sustainable piece of fashion that people can wear every day. Now that we are opening our offline store, we’re inviting you to join the celebration and first-day big sale for all of our products!
                            </p>
                        </div>
                        <a class="button-default" href="">VISIT OUR TIKIPIDIA STORE</a>
                        <div class="motif2 d-none d-lg-block"></div>
                        <img class="img-fluid images2 d-none d-lg-block" src="images/images-03.png" />
                        <img class="img-fluid images3 d-none d-lg-block" src="images/images-04.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Venue -->
        <section id="venue">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0 mtext-center">
                        <img class="img-fluid images w-lg-100p" src="images/images-05.png" />
                        <div class="boxc">
                            <h2>25 October 2020</h2>
                            <h3><span>17.00 - 22.00</span></h3>
                            <div class="w-m-200 ma-m mb-m-10p w-lg-45p mt-lg-20 mb-lg-5p">
                                <p>
                                    At Plaza Indonesia 3rd Floor<br />
                                    Jl. M.H. Thamrin No.Kav. 28-30, RT.9/RW.5, Gondangdia, Kec. Menteng, Kota Jakarta Pusat,Daerah Khusus Ibukota Jakarta 10350
                                </p>
                            </div>
                            <a class="button-default" href="">OPEN IN GOOGLE MAPS</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Special Guest -->
        <section id="special-guest">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pb-m-20p pt-lg-10p pb-lg-10p pl-lg-0 pr-lg-0">
                        <div class="motif"></div>
                        <div class="specialguest-carousel owl-theme">
                            <div class="item">
                                <div class="content-box animated fadeIn">
                                    <div class="row">
                                        <div class="col-lg-3 pl-lg-0">
                                            <img class="img-fluid images d-none d-lg-block" src="images/images-06.png" />
                                        </div>
                                        <div class="col-lg-4 mb-m-5p pl-m-10p pr-m-10p pt-lg-2p pr-lg-10p">
                                            <h2>Special<br /><span>Guests</span></h2>
                                            <p>
                                                Daft Punk are a French electronic music duo formed in Paris in 1993 by Guy-Manuel de Homem-Christo and Thomas Bangalter. They achieved popularity in the late 1990s as part of the French house movement; they also had success in the years following, combining elements of house music with funk, techno, disco, rock, and synthpop. They have worn ornate helmets and gloves to assume robot personas in most public appearances since 1999 and rarely grant interviews or appear on television. The duo was managed from 1996 to 2008 by Pedro Winter (also known as Busy P), the head of Ed Banger Records.
                                            </p>
                                        </div>
                                        <div class="col-lg-5 pl-m-10p pr-m-10p">
                                            <img class="img-fluid images2" src="images/images-07.png" />
                                            <div class="guest">DAFT PUNK</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-box animated fadeIn">
                                    <div class="row">
                                        <div class="col-lg-3 pl-lg-0">
                                            <img class="img-fluid images d-none d-lg-block" src="images/images-06.png" />
                                        </div>
                                        <div class="col-lg-4 mb-m-5p pl-m-10p pr-m-10p pt-lg-2p pr-lg-10p">
                                            <h2>Special<br /><span>Guests</span></h2>
                                            <p>
                                                Daft Punk are a French electronic music duo formed in Paris in 1993 by Guy-Manuel de Homem-Christo and Thomas Bangalter. They achieved popularity in the late 1990s as part of the French house movement; they also had success in the years following, combining elements of house music with funk, techno, disco, rock, and synthpop. They have worn ornate helmets and gloves to assume robot personas in most public appearances since 1999 and rarely grant interviews or appear on television. The duo was managed from 1996 to 2008 by Pedro Winter (also known as Busy P), the head of Ed Banger Records.
                                            </p>
                                        </div>
                                        <div class="col-lg-5 pl-m-10p pr-m-10p">
                                            <img class="img-fluid images2" src="images/images-07.png" />
                                            <div class="guest">DAFT PUNK</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-m-65vh pt-lg-15p pl-lg-0 pr-lg-0">
                        <img class="img-fluid images d-none d-lg-block w-lg-100p" src="images/images-08.png" />
                        <img class="img-fluid images d-block d-lg-none w-lg-100p" src="images/images-09.png" />
                        <div class="boxc">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2 class="mb-lg-10p">Come And Have Fun <span>With Us!</span></h2>
                                    <p>
                                        Oceandor invites you to participate in our offline store opening and we hope to entertain you along with the party! Please kindly fill in the RSVP so we can save your seats!
                                    </p>
                                </div>
                                <div class="col-lg-6 pr-3 pr-lg-0">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12 pl-m-0 mb-lg-2p pr-lg-0">
                                                <label class="mb-m-0">Are you attending the grand opening?</label>
                                                <div class="radio-toolbar">
                                                    <input type="radio" id="radioYES" name="attending" value="yes">
                                                    <label for="radioYES" class="mr-lg-5p">YES</label>
                                                    <input type="radio" id="radioNO" name="attending" value="no">
                                                    <label for="radioNO">NO</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 pl-m-0 pr-lg-0">
                                                <label class="mb-m-0">Will you bring anyone to the event?</label>
                                                <div class="guest">
                                                    <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                                        <img class="img-fluid" src="images/form-arrow-left.png" />
                                                    </a>
                                                    <input type="number" name="your-guest" id="spinner" value="0" placeholder="0" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                                    <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                                        <img class="img-fluid" src="images/form-arrow-right.png" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 pl-m-0 mb-lg-10p pr-lg-0">
                                                <label class="mb-m-0 mb-lg-3p">Fill your name and contact lists:</label><br />
                                                <label class="font-lightgrey">Full Name</label>
                                                <input type="text" name="your-name" class="form-control" required />
                                                <label class="font-lightgrey">Email</label>
                                                <input type="email" name="your-email" class="form-control" required />
                                                <label class="font-lightgrey">Telephone</label>
                                                <input type="text" name="your-name" class="form-control" required />
                                            </div>
                                            <div class="col-lg-12 pl-m-0 pr-lg-0">
                                                <!-- <input type="submit" class="button-default" value="SUBMIT" /> -->
                                                <input type="submit" class="button-default" data-toggle="modal" data-target="#ebrochure" value="SUBMIT" />
                                                <a class="button-default fr" target="_blank" href="invitation.pdf">DOWNLOAD INVITATION</a>
                                                <div class="modal fade" id="ebrochure">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                                                                        <a class="close" data-dismiss="modal">
                                                                            <img class="img-fluid" src="images/icon.png" />
                                                                        </a>
                                                                        <div class="boxc">
                                                                            <h2>Thak you for<br />your <span>participation!</span></h2>
                                                                            <p class="w-m-100p w-lg-35p">
                                                                                We will take notes of your attendance to ensure your seat. Please check your email for your seat number and further notice. 
                                                                            </p>
                                                                            <p class="w-m-100p w-lg-35p">
                                                                                We’ll see you then!
                                                                            </p>
                                                                        </div>
                                                                        <img class="img-fluid images" src="images/images-10.png" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-10p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="order-2 order-lg-1 col-12 mb-m-0 mtext-center col-lg-8">
                        <p>All rights served © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="order-1 order-lg-2 col-12 mb-m-5p mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">CREATE A SITE</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>