<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Birthday | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-birthday-3.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div id="homepage">
    <nav>
        <div class="container-fluid">
            <div class="row d-none d-lg-block">
                <div  data-aos="fade-down"  data-aos-once="true" class="offset-lg-3 col-lg-9 pr-lg-0">
                    <ul class="menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="#dateandplace">DATE & PLACE</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none pt-3">
                    <div class="offset-8 col-4 text-right">
                        <h3 class="text-white">
                            <i class="fa fa-bars"></i>
                        </h3>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#dateandplace">DATE & PLACE</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </nav>
    <!-- Section Banner -->
    <section  data-aos="zoom-out"  data-aos-once="true" id="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <div class="box">
                        <div  data-aos="fade-up"  data-aos-once="true" class="subtitle ts">You are</div>
                        <div  data-aos="fade-up"  data-aos-once="true" class="title ts">Cordially Invited</div>
                    </div>
                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/image-01.png" />
                    <img class="img-fluid w-lg-100p d-block d-lg-none" src="images/mobile-image-01.png" />
                </div>
            </div>
        </div>
    </section>
    <!-- Section About -->
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/image-02.png" />
                    <img class="img-fluid w-lg-100p d-block d-lg-none" src="images/mobile-image-02.png" />
                    <img class="img-fluid motif w-lg-100p d-none d-lg-block" src="images/image-03.png" />
                    <img class="img-fluid motif w-lg-100p d-block d-lg-none" src="images/mobile-image-03.png" />
                    <div class="boxc text-center">
                        <div data-aos="fade-down"  data-aos-once="true" >
                        <h2 class="font-gold ts">Christine’s</h2>
                        <h2 class="font-white ts mb-m-25 mb-lg-40">3<sup>rd</sup> Birthday</h2>
                        </div>
                        <div class="line-white w-lg-10p ma-lg mb-m-25 mb-lg-45"></div>
                        <div data-aos="fade-up"  data-aos-once="true" data-aos-offset="-70" class="w-m-80p w-lg-25p ma-lg font-white">
                            <p>Please join us in celebration of Christine’s third birthday. It’s a party and you are cordially invited.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Brief -->
    <section id="brief">
        <div class="container-fluid pos-rel">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <img data-aos="fade-up"  data-aos-once="true" data-aos-offset="300" class="img-fluid bg d-none d-lg-block w-lg-100p" src="images/image-04-new.png" />
                    <img class="img-fluid bg d-block d-lg-none w-lg-100p" src="images/mobile-image-04.png" />
                    <div class="box text-center">
                        <div class="mb-m-5p mb-lg-10p">
                            <p>It’s been 3 years and Christine has grown and met amazing people. To celebrate Christine’s 3rd birthday, we would like to invite those amazing people to join the celebration!</p>
                        </div>
                        <div class="line-gold w-lg-25p ma-lg"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Date & Place -->
    <section id="dateandplace">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-lg-0 pr-lg-0">
                    <img class="img-fluid d-none d-lg-block w-lg-100p" src="images/image-05.png" />
                    <img class="img-fluid d-block d-lg-none w-lg-100p" src="images/mobile-image-05.png" />
                    <img class="img-fluid motif d-none d-lg-block w-lg-100p" src="images/image-06-new.png" />
                    <img class="img-fluid motif d-block d-lg-none w-lg-100p" src="images/mobile-image-06.png" />
                    <div class="boxc w-lg-100p">
                        <div class="container-fluid pl-m-10p pr-m-10p pl-lg-25p pr-lg-25p">
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <img data-aos="fade-down"  data-aos-once="true" data-aos-offset="-100" class="img-fluid w-m-60p" src="images/image-07.png" />
                                    <h2  data-aos="fade-up"  data-aos-once="true" data-aos-offset="-250" class="font-gold ts">Mark it on</h2>
                                    <h2  data-aos="fade-up"  data-aos-once="true" data-aos-offset="-300" class="font-white ts mb-m-10p mb-lg-10p">Your Calendar</h2>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <div class="box font-grey">
                                        <table>
                                            <tr>
                                                <td>
                                                    <p class="day">SAT</p>
                                                </td>
                                                <td>
                                                    <p class="date">25 April 2020</p>
                                                    <p class="time">5.30 PM</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <div class="box font-grey">
                                        <h5>Marina Village</h5>
                                        <p>Baja Room 939 Quivira Way, San Diego California 92109</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 info font-grey">
                                    <img class="img-fluid mr-lg-15" src="images/image-08.png" />
                                    <p>Dresscode - Wear black and white clothes</p>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section RSVP -->
    <section id="rsvp">
        <div class="container-fluid pos-rel pl-m-5p pr-m-5p pb-m-35p pt-lg-10p pb-lg-10p pl-lg-15p pr-lg-15p">
            <div class="row text-center">
                <img class="img-fluid bg d-none d-lg-block w-lg-100p" src="images/image-09.png" />
                <!-- <img class="img-fluid bg d-block d-lg-none w-lg-100p" src="images/mobile-image-07.png" /> -->
                <img class="img-fluid bg d-block d-lg-none w-lg-100p" src="images/mobile-image-07-01.png" />
                <img class="img-fluid bg2 d-block d-lg-none w-lg-100p" src="images/mobile-image-07-02.png" />
                <div class="col-lg-12">
                    <img data-aos="fade-down"  data-aos-once="true" class="img-fluid w-m-50p" src="images/image-10.png" />
                    <div data-aos="fade-up"  data-aos-once="true">
                    <h2 class="font-gold ts">Looking Forward</h2>
                    <h2 class="font-bluesky ts mb-lg-8p">to Hear Your Response</h2>
                    </div>
                </div>
                <div class="col-lg-12 pl-m-20p pr-m-20p">
                    <form>
                        <label class="d-block mb-lg-2p">Are you attending the party?</label>
                        <div class="mb-m-5p mb-lg-4p">
                            <input type="radio" id="yes" name="gender" value="yes">
                            <label class="radio mb-lg-0 mr-lg-5 ml-lg-2" for="yes">Yes</label>
                            <input type="radio" id="no" name="gender" value="no">
                            <label class="radio mb-lg-0 ml-lg-2" for="no">No</label>
                        </div>
                        <label class="d-block">Fill in your full name and contact lists</label>
                        <div class="row mb-lg-4p">
                            <div class="col-lg-4">
                                <label class="font-lightgrey">Full Name</label>
                                <input type="text" name="your-name" class="form-control" required />
                            </div>
                            <div class="col-lg-4">
                                <label class="font-lightgrey">Email Address</label>
                                <input type="email" name="your-email" class="form-control" required />
                            </div>
                            <div class="col-lg-4">
                                <label class="font-lightgrey">Phone</label>
                                <input type="text" name="your-phone" class="form-control" required />
                            </div>
                        </div>
                        <label class="d-block w-m-80p ma-m mb-lg-2p">Will you bring additional guest(s) along with you?</label>
                        <div class="guest w-lg-100p mb-lg-4p">
                            <a role="button" id="step-decrement" class="btn btn-default" aria-label="remove 1" aria-labelledby="step-decrement label-text">
                                <img class="img-fluid" src="images/arrow-left.png" />
                            </a>
                            <input disabled type="number" name="your-guest" id="spinner" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                            <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                                <img class="img-fluid" src="images/arrow-right.png" />
                            </a>
                        </div>
                        <input type="submit" class="button-bluesky mb-lg-4p" data-toggle="modal" data-target="#ebrochure" value="Submit" />
                    </form>
                    <div class="modal fade" id="ebrochure">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content pb-5">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 text-center pl-lg-0 pr-lg-0">
                                            <a class="close" data-dismiss="modal">
                                                <img class="img-fluid icon" src="images/popup-03.png" />    
                                            </a>
                                            <img class="img-fluid image ml-lg-10p" src="images/popup-02.png" />
                                            <p class="font-bluesky font-lg-21"><b>See you at the celebration!</b></p>
                                            <div class="w-lg-75p ma-lg mb-lg-10p font-grey">
                                                <p>
                                                    Your presence on my celebration means a lot to me and my family.<br>
                                                    Cannot wait to see you there! Don’t forget to select the gift you may give<br>
                                                    from my wishlist, so others will not need to give the same gift as you.<br>
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <a class="button-bluesky text-white py-2 px-3" href="wishlist.html">
                                                    View my gift wishlist!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <a target="_blank" href="Lorem-Ipsum.pdf">Download Invitation</a>
                    <a href="wishlist.html" class="d-none">View Wishlist Idea</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container-fluid py-lg-4 pl-m-5p pr-m-5p pl-lg-15p pr-lg-15p">
            <div class="row">
                <div class="col-8 col-lg-8 pt-lg-5px">
                    <p>All Rights Reserved This website is made by Reservasi Dulu</p>
                </div>                
                <div class="col-4 col-lg-4">
                    <a href="" class="button-trans">create a site</a>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>