<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-4.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
</head>
<body>
    <div id="homepage">
        <!-- Navbar -->
        <nav>
            <div class="container-fluid">
                <div class="row d-none d-lg-block">
                    <div class="col-lg-12">
                        <ul class="menu">
                            <li><a href="#ourstory">Our Story</a></li>
                            <li><a href="#invitation">Invitation</a></li>
                            <li>
                                <a class="logo" href="index.html">
                                    <img class="img-fluid" src="images/logo.png" />
                                </a>
                            </li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-lg-none pt-3">
                    <div class="col-12 text-center">
                        <a class="logo" href="index.html">
                            <img class="img-fluid" src="images/logo.png" />
                        </a>
                    </div>
                    <div class="side-nav">
                        <div class="close-div text-right p-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#ourstory">Our Story</a></li>
                            <li><a href="#invitation">Invitation</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 px-0 px-lg-0">
                        <div class="one-carousel owl-theme">
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                            <div class="item">
                                <img class="img-fluid w-lg-100p" src="images/images-01.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Mobile Menu -->
        <section id="mobile-menu">
            <ul class="bars boxc">
                <div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                </div>
            </ul>
            <h4>Menu</h4>
        </section>
        <!-- Section Our Story -->
        <section id="ourstory">
            <div class="container-fluid pt-m-0 pb-m-0 pl-m-0 pr-m-0 pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p bg-pink">
                <div class="row">
                    <img class="img-fluid motif" src="images/motif-01.png" />
                    <div class="col-lg-7 pl-m-0 pr-m-0">
                        <div class="quote">
                            <div class="box">
                                <span>“</span>
                                <h5><i>The highest happiness on earth is the happiness of marriage.</i></h5>
                                <p>William Lyon Phelps</p>
                            </div>
                        </div>
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/images-02.png" />
                    </div>
                    <div class="col-lg-5 pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-10p brief">
                        <i>Classically Elegant Wedding</i>
                        <h3>Emma & Norman</h3>
                        <p>Our journey has been so great ever since we met back in 2010, we realize how much we need each other side by side and we will never ever take things for granted, EVER! So we wanted to make sure to seal our relationship and tie the knot! For as you know, we’ve been in a relationship for almost 8 years now, we’ve been through thick and thin together, always got each other’s back. Norman always the one that encourages Emma to create things, and Emma always been the one who supports Norman in his journey. And YOU, always been a special one to us and we hope you will celebrate with us to create an unforgettable moment of all.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Invitation -->
        <section id="invitation">
            <div class="container-fluid pl-m-0 pr-m-0">
                <div class="row">
                    <div class="col-lg-6 pl-m-0 pr-m-0 px-lg-0">
                        <img class="img-fluid bg w-lg-100p" src="images/images-03.png" />
                        <div class="boxc st">
                            <h2>Ceremony</h2>
                            <h4>
                                Saturday, 22th July 2020<br />
                                11.00 am
                            </h4>
                            <div class="icon">
                                <div class="line-white boxc l"></div>
                                <div class="line-white boxc r"></div>
                                <img class="img-fluid" src="images/icon-01.png" />
                            </div>
                            <h6>
                                Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br />
                                Kabupaten Badung, Uluwatu,<br />
                                Bali, Indonesia
                            </h6>
                            <div class="button">
                                <div class="line-white boxc l"></div>
                                <div class="line-white boxc r"></div>
                                <a class="button-default" target="_blank" href="invitation.pdf">View map</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-m-0 pr-m-0 px-lg-0">
                        <img class="img-fluid bg w-lg-100p" src="images/images-04.png" />
                        <div class="boxc nd">
                            <h2>Reception</h2>
                            <h4>
                                Saturday, 22th July 2020<br />
                                04.00 pm
                            </h4>
                            <div class="icon">
                                <div class="line-grey boxc l"></div>
                                <div class="line-grey boxc r"></div>
                                <img class="img-fluid" src="images/icon-02.png" />
                            </div>
                            <h6>
                                Hotel Mulia Bali<br />
                                Jl. Seminyak, Kuta, Kabupaten Rahajeng,<br />
                                Bali, Indonesia
                            </h6>
                            <div class="button">
                                <div class="line-grey boxc l"></div>
                                <div class="line-grey boxc r"></div>
                                <a class="button-default" target="_blank" href="invitation.pdf">View map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid pb-m-0 pl-m-0 pr-m-0 pt-lg-10p pb-lg-10p pl-lg-5p pr-lg-5p bg-lightpink">
                <div class="row">
                    <div class="motif d-none d-lg-block">E&N</div>
                    <img class="img-fluid motif2" src="images/motif-02.png" />
                    <div class="col-lg-6 pl-m-10p pr-m-10p pt-lg-10p pb-lg-10p">
                        <h2>
                            See Our<br />
                            Precious Moment
                        </h2>
                        <div class="w-m-100p mt-m-10p w-lg-65p mt-lg-5p">
                            <p>Here are the moments taken by the most talented photographer, Abdul Rafiq. We are beyond grateful to have these caught moments to treasure from now on!</p>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-m-0 pr-m-0">
                        <div class="wrap d-none d-lg-block">
                            <img class="img-fluid img1 boxc bs" src="images/images-05.png" />
                            <img class="img-fluid img2 boxc bs" src="images/images-06.png" />
                            <img class="img-fluid img3 boxc bs" src="images/images-07.png" />
                            <img class="img-fluid img4 boxc bs" src="images/images-08.png" />
                            <a href="" class="button-default boxc bs">VIEW GALLERY</a>
                        </div>
                        <img class="img-fluid w-m-100p d-block d-lg-none" src="images/images-05.png" />
                        <div class="overlay d-block d-lg-none">
                            <a href="" class="boxc text-center">VIEW<br />GALLERY</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 px-lg-0 d-none d-lg-block">
                        <img class="img-fluid w-lg-100p" src="images/images-09.png" />
                        <div class="boxc w-lg-80p text-center">
                            <h2>
                                We can’t wait<br />
                                to see you!
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-7 pt-m-20p pb-m-20p pl-m-10p pr-m-10p bg-pink">
                        <div class="boxc w-m-100p w-lg-80p ma-lg">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p">
                                        <label for="your-attending">Are You Attending ?</label>
                                        <div class="box bg-white mb-m-10p mb-lg-30 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                            <input type="radio" id="yes" name="gender" value="yes">
                                            <label class="radio" for="yes">Yes, I will be there</label><br />
                                            <input type="radio" id="no" name="gender" value="no">
                                            <label class="radio" for="no">Sorry, I can’t come</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 mb-m-0 pr-m-5 d-block d-lg-none">
                                        <label for="your-firstname">Full Name*</label>
                                        <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                                    </div>
                                    <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
                                        <label for="your-phone">Phone Number*</label>
                                        <input type="text" class="form-control" id="your-phone" name="your-phone" required>
                                        <label for="your-email">Email*</label>
                                        <input type="email" class="form-control" id="your-email" name="your-email" required>
                                    </div>
                                    <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p d-none d-lg-block">
                                        <label for="your-firstname">Full Name*</label>
                                        <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                                    </div>
                                    <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
                                        <label for="your-guest">Number of Guest</label>
                                        <input type="text" class="form-control" id="your-guest" name="your-guest" required>
                                    </div>
                                    <div class="form-group col-lg-12 mb-m-0 pt-lg-5p text-right">
                                        <button type="submit" class="button-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p>All Rights Reserved © This website is made by <b>Reservasi Dulu</b></p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>

</body>
</html>