<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Event 4 | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style_event_4.css">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example" data-offset="1">
        <div class="nav-event container-fluid py-4" data-aos="fade-down">
            <div class="row d-none d-lg-flex">
                <div class="col-lg-2 pl-lg-5 text-right">
                    <img class="d-block ml-lg-3" src="images/logo-04.png">
                </div>
                <div class="text-right menu col-lg-10" id="navbar-example">
                    <ul class="list-unstyled">
                        <li class="mx-4">
                            <a href="#home" class="nav-link active">
                                HOME
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#about" class="nav-link">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#speakers" class="nav-link">
                                SPEAKERS
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#schedule" class="nav-link">
                                SCHEDULE
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#location" class="nav-link">
                                LOCATION
                            </a>
                        </li>
                        <li class="mx-4">
                            <a href="#rsvp" class="nav-link bg-orange rounded-pill">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-5">
                    <img class="img-fluid ml-2" src="images/logo-04.png">
                </div>
                <div class="col-2 offset-5 pr-3">
                    <div class="menu-icon">
                        <img class="img-fluid" src="images/menu-icon-03.png">
                    </div>
                </div>
                <div class="side-menu text-center">
                    <h1 class="text-white text-right m-4 close-div">
                        &times;
                    </h1>
                    <ul class="list-unstyled text-center">
                        <li class="mx-4 my-3">
                            <a class="nav-link active" href="#home">
                                HOME
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#about">
                                ABOUT
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#speakers">
                                SPEAKERS
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#schedule">
                                SCHEDULE
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link" href="#location">
                                LOCATION
                            </a>
                        </li>
                        <li class="mx-4 my-3">
                            <a class="nav-link bg-orange rounded-pill" href="#rsvp">
                                RSVP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="container-fluid header" id="home"  data-aos="zoom-out">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <h1 data-aos="fade-up" class="text-white font-80-px">
                        <span class="font-montserrat-extrabold">Improve</span> Your<br>
                        Skill And<br>
                        <span class="font-montserrat-extrabold">Create</span> More
                    </h1>
                    <p class="text-white mb-0">
                        23 - 25 September 2020      <span class="mx-lg-5">|</span>      10:00 - 17:00
                    </p>
                    <p class="text-white">
                        at <span class="font-worksans-extrabold">Grand Indonesia Mall,</span> Hall A
                    </p>
                </div>
                <div class="bottom-arrow">
                    <div data-aos="fade-down" data-aos-offset="-900">
                        <img src="images/arrow-down-04.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-blue pt-5 brief pb-5" id="about">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="text-white font-montserrat mx-lg-5 mx-3 mb-lg-0 mb-5">
                    Why is it <span class="font-montserrat-extrabold">important</span><br>
                    to join our classes
                </h3>
            </div>
            <div class="col-lg-4 px-lg-5 middle-first d-none d-lg-block">
                <ul class="list-unstyled d-block mx-5">
                    <li class="row text-white">
                        <span class="mt-lg-2">1</span>
                        <p>
                            TIME<br>
                            MANAGEMENT
                        </p>
                    </li>
                    <li class="row text-white">
                        <span class="mt-lg-2">2</span>
                        <p>
                            TARGET<br>
                            ACHIEVING
                        </p>
                    </li>
                    <li class="row text-white">
                        <span class="mt-lg-2">3</span>
                        <p>
                        IMPROVING<br>
                        PROSPECT
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 px-lg-5 d-none d-lg-block">
                <ul class="list-unstyled d-block mx-5">
                    <li class="row text-white">
                        <span class="mt-lg-2">4</span>
                        <p>
                            BRAINSTORMING<br>
                            IDEAS
                        </p>
                    </li>
                    <li class="row text-white">
                        <span class="mt-lg-2">5</span>
                        <p>
                            PRESENTATION<br>
                            MAKING
                        </p>
                    </li>
                    <li class="row text-white">
                        <span class="mt-lg-2">6</span>
                        <p>
                            LEADERSHIP<br>
                            SKILLS
                        </p>
                    </li>
                </ul>
            </div>
            <div class="row d-lg-none">
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">1</span><br>
                                TIME<br>
                                MANAGEMENT
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">2</span><br>
                                TARGET<br>
                                ACHIEVING
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">3</span><br>
                                IMPROVING<br>
                                PROSPECT
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">4</span><br>
                                BRAINSTORMING<br>
                                IDEAS
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row d-lg-none">
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">5</span><br>
                                PRESENTATION<br>
                                MAKING
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled d-block mx-5">
                        <li class="row text-white">
                            <p>
                                <span class="number">6</span><br>
                                LEADERSHIP<br>
                                SKILLS
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row my-lg-5 py-5 d-flex" data-aos="fade-up">
            <div class="col-lg-4 col-12 text-center">
                <h1 class="text-white font-80-px font-montserrat-extrabold">
                    500+
                </h1>
                <p class="text-white">
                    ATTENDEES
                </p>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <h1 class="text-white font-80-px font-montserrat-extrabold">
                    150+
                </h1>
                <p class="text-white">
                    CLASSES
                </p>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <h1 class="text-white font-80-px font-montserrat-extrabold">
                    60+
                </h1>
                <p class="text-white">
                    EXTRAORDINARY<br>
                    SPEAKERS
                </p>
            </div>
        </div>
        <div class="row mb-5 d-none d-lg-block">
            <div class="col-lg-12 px-5">
                <h2 class="text-white ml-4">
                    Our  <span class="font-montserrat-extrabold">Gallery</span>
                </h2>
                <div class="carousel-gallery owl-theme px-4">
                    <div data-aos="fade-up" class="item">
                        <img src="images/our-gallery-image-05.png">
                    </div>
                    <div data-aos="fade-up" class="item">
                        <img src="images/our-gallery-image-05.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-lg-none">
            <div class="col-lg-12 px-3">
                <h2 class="text-white ml-4 my-4">
                    Our <span class="font-montserrat-extrabold">Gallery</span>
                </h2>
                <div class="carousel-gallery owl-theme px-4">
                    <div data-aos="fade-up" class="item">
                        <img src="images/gallery-mobile-03.jpg">
                    </div>
                    <div data-aos="fade-up" class="item">
                        <img src="images/gallery-mobile-04.jpg">
                    </div>
                    <div data-aos="fade-up" class="item">
                        <img src="images/gallery-mobile-05.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid speakers py-5" id="speakers">
        <div data-aos="fade-left">
        <div class="row mt-0 mt-lg-5">
            <div class="col-lg-12 pl-lg-5 pl-4 pr-0 pt-lg-5">
                <h1 class="text-white ml-3 font-50-px">
                    Our <span class="font-montserrat-extrabold ml-2"> Speakers</span>
                </h1>
            </div>
        </div>
        </div>
        <div class="row p-5 my-5 d-none d-lg-flex" data-aos="fade-up">
            <div class="col-lg-7 px-5">
                <img class="img-fluid" src="images/speakers-image-09.jpg">
            </div>
            <div class="col-lg-5">
                <h2 class="text-white">
                    <span class="font-montserrat-extrabold text-orange">Fikri Andreas</span><br>
                    on “Creating Audience”
                </h2>
                <p class="text-white">
                    <span class="font-worksans-extrabold">ART DIRECTOR</span> on <span class="font-worksans-extrabold">GOOGLE</span> // 23 September 2020
                </p>
                <div class="d-inline-flex">
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-facebook-f text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-twitter text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-whatsapp text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-instagram text-white"></i>
                        </h5>
                    </a>
                </div>
                <p class="text-white mt-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus.
                </p>
            </div>
        </div>
        <div class="row p-5 my-5 d-none d-lg-flex" data-aos="fade-up">
            <div class="col-lg-5 text-right">
                <h2 class="text-white">
                    <span class="font-montserrat-extrabold text-orange">Vico Winarto</span><br>
                    on “Smart Programming”
                </h2>
                <p class="text-white">
                    <span class="font-worksans-extrabold">TECH LEAD</span> on <span class="font-worksans-extrabold">GOOGLE</span> // 23 September 2020
                </p>
                <div class="d-inline-flex">
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-facebook-f text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-twitter text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-whatsapp text-white"></i>
                        </h5>
                    </a>
                    <a href="#" class="link-socmed mx-1">
                        <h5>
                            <i class="fa fa-instagram text-white"></i>
                        </h5>
                    </a>
                </div>
                <p class="text-white mt-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus.
                </p>
            </div>
            <div class="col-lg-7 px-5">
                <img class="img-fluid" src="images/speakers-image-10.jpg">
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="carousel-mobile-speakers owl-theme px-4">
                <div class="item">
                    <div class="row my-5">
                        <div class="col-lg-7 px-4">
                            <img class="img-fluid px-2" src="images/speakers-image-09.jpg">
                        </div>
                        <div class="col-lg-5 px-4 pt-4">
                            <h2 class="text-white ml-2">
                                <span class="font-montserrat-extrabold text-orange">Fikri Andreas</span><br>
                                on “Creating Audience”
                            </h2>
                            <p class="text-white ml-2">
                                <span class="font-worksans-extrabold">ART DIRECTOR</span> on <span class="font-worksans-extrabold">GOOGLE</span><br>
                                // 23 September 2020
                            </p>
                            <div class="d-inline-flex">
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-facebook-f text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-twitter text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-whatsapp text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-instagram text-white"></i>
                                    </h5>
                                </a>
                            </div>
                            <p class="text-white mt-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row my-5">
                        <div class="col-lg-7 px-4">
                            <img class="img-fluid px-2" src="images/speakers-image-09.jpg">
                        </div>
                        <div class="col-lg-5 px-4 pt-4">
                            <h2 class="text-white ml-2">
                                <span class="font-montserrat-extrabold text-orange">Vrico Andreas</span><br>
                                on “Creating Audience”
                            </h2>
                            <p class="text-white ml-2">
                                <span class="font-worksans-extrabold">ART DIRECTOR</span> on <span class="font-worksans-extrabold">GOOGLE</span><br>
                                // 23 September 2020
                            </p>
                            <div class="d-inline-flex">
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-facebook-f text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-twitter text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-whatsapp text-white"></i>
                                    </h5>
                                </a>
                                <a href="#" class="link-socmed mx-1">
                                    <h5>
                                        <i class="fa fa-instagram text-white"></i>
                                    </h5>
                                </a>
                            </div>
                            <p class="text-white mt-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid schedule py-5" id="schedule">
        <div class="row">
            <div class="col-lg-12 pl-lg-5 pl-3 pr-0" data-aos="fade-left">
                <h1 class="text-white ml-3 font-50-px font-montserrat-extrabold ml-2 my-lg-5 mb-5">
                    Schedule
                </h1>
            </div>
        </div>
        <div data-aos="fade-up" class="row d-none d-lg-flex">
            <div class="col-lg-12 pl-5">
                <ul class="nav nav-pills mx-3 text-center bg-orange rounded-pill py-2 mb-5 mt-2" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-content active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-content" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-content" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li>
                </ul>
            </div>
        </div>
        <div data-aos="fade-up" class="tab-content d-none d-lg-flex" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          10:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          11:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          10:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          15:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          12:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          11:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          10:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          15:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          99:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          11:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
              <div class="row m-5 py-3">
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          10:45
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          13:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
                  <div class="col-lg-4">
                      <h2 class="text-orange font-montserrat-extrabold mb-0">
                          15:00
                      </h2>
                      <p class="text-white">
                          <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                      </p>
                      <p class="text-white">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row d-lg-none">
            <div class="col-lg-12">
                <div class="carousel-mobile-schedule owl-theme px-4">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-white bg-orange mb-0 rounded-pill font-montserrat-extrabold text-center py-2">
                                    23 September 2020
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-white bg-orange mb-0 rounded-pill font-montserrat-extrabold text-center py-2">
                                    23 September 2020
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      99:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                              <div class="col-lg-4">
                                  <h2 class="text-orange font-montserrat-extrabold mb-0">
                                      11:00
                                  </h2>
                                  <p class="text-white">
                                      <span class="font-montserrat-extrabold">Vico Winarto</span> on <span class="font-montserrat-extrabold">"Creating Audience"</span>
                                  </p>
                                  <p class="text-white">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid locations" id="location">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <div class="row">
                    <div class="col-lg-12 bg-orange p-5">
                        <h2 class="text-white ml-3">
                            <span class="font-montserrat-extrabold">Grand Indonesia</span><br>
                            Hall A
                        </h2>
                        <p class="text-white  ml-3">
                            <span class="font-montserrat-extrabold">Ground Floor</span> located near Starbucks Coffee
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 px-0">
                        <img class="img-fluid w-100" src="images/location-image-11.jpg">
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-lg-8 px-0">
                <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.0718547148!2d106.8204412!3d-6.1951801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xccfcc89b95aaf1ae!2sGrand%20Indonesia!5e0!3m2!1sen!2sid!4v1592276232037!5m2!1sen!2sid" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid sponsors py-5">
        <div class="row">
            <div data-aos="fade-left" class="col-lg-12 pl-lg-5 pl-4 pr-0">
                <h1 class="text-dark-blue ml-lg-4 ml-1 my-5 title">
                    Our <span class="font-montserrat-extrabold ml-lg-3 ml-2">Sponsors</span>
                </h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12 px-lg-5">
                <div  class="carousel-sponsors owl-theme d-none d-lg-block">
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/our-sponsors-logo-12.png">
                    </div>
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/our-sponsors-logo-13.png">
                    </div>
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/our-sponsors-logo-14.png">
                    </div>
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/our-sponsors-logo-15.png">
                    </div>
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/our-sponsors-logo-15.png">
                    </div>
                </div>
                <div class="carousel-sponsors owl-theme d-lg-none">
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/sponsors-logo-07.png">
                    </div>
                    <div data-aos="fade-up" class="item px-3">
                        <img src="images/sponsors-logo-07.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 pl-lg-5 px-5 rsvp bg-orange" id="rsvp">
        <div class="row mt-5">
            <div class="col-lg-12 pl-lg-5 pl-0 pr-0" data-aos="fade-left">
                <h2 class="text-dark-blue title mb-0">
                    What Are You<br>
                </h2>
                <h2 class="text-dark-blue">
                    <span class="font-montserrat-extrabold">Waiting For?</span>
                </h2>
            </div>
        </div>
        <div data-aos="fade-up" class="row my-5">
            <div class="col-lg-2 pl-lg-5 px-3">
                <p class="text-white font-montserrat-extrabold">
                    ARE YOU<br>
                    ATTENDING?
                </p>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="YES">
            </div>
            <div class="col-lg-3 px-3">
                <br>
                <p class="text-white font-montserrat-extrabold">
                    FULL NAME
                </p>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Full Name">
            </div>
            <div class="col-lg-3 px-3">
                <br>
                <p class="text-white font-montserrat-extrabold">
                    EMAIL
                </p>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address">
            </div>
            <div class="col-lg-2 px-3">
                <br>
                <p class="text-white font-montserrat-extrabold">
                    PHONE NUMBER
                </p>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+620123 XX">
            </div>
            <div class="col-lg-2 pr-lg-5 px-3">
                <br>
                <p class="text-white font-montserrat-extrabold">
                    EXTRA GUEST
                </p>
                <div class="position-relative">
                    <input class="form-control" type="number" name="your-guest" id="spinner" value="1" placeholder="1" min="1" max="10" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                    <a role="button" id="step-increment" class="btn btn-default" aria-label="add 1" aria-labelledby="step-increment label-text">
                        <h6 class="text-white">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-right px-1 py-4">
            <div class="col-lg-12 text-right px-lg-5">
                <a href="#" class="bg-white px-lg-3 px-3 py-2 mx-lg-1 text-dark-blue rounded-pill font-worksans-extrabold d-inline-block my-lg-0 my-3">DOWNLOAD INVITATION</a>
                <a href="#" class="bg-white px-lg-3 px-3 py-2 mx-lg-1 text-dark-blue rounded-pill font-worksans-extrabold d-inline-block" data-toggle="modal" data-target="#form-submit">SUBMIT</a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-blue py-4 footer">
        <div class="row">
            <div class="col-lg-5 pl-4 pl-lg-5 order-lg-1 order-2">
                <p class="text-white mb-0">
                    All Rights Reserved © This website is made by <span class="font-worksans-extrabold">Reservasi Dulu</span>
                </p>
            </div>
            <div class="offset-lg-5 col-lg-2 order-lg-2 order-1 text-center py-lg-0 py-3">
                <a href="#" class="button rounded-pill">
                    CREATE A SITE
                </a>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="form-submit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content py-lg-5 thank-you">
            <div class="row my-5">
                <div class="col-lg-5 col-8 offset-1 py-lg-4 order-lg-1 order-1">
                    <h1 class="text-dark-blue text-left mb-0">
                        Thank You<br>
                        <span class="font-montserrat-extrabold">
                            for Participating!
                        </span>
                    </h1>
                </div>
                <div class="col-lg-4 py-4 order-lg-2 order-3 pl-lg-2 pl-5">
                    We will take notes of your attendance to<br>
                    ensure your seat and your certificate that<br>
                    you will receive after each classes.<br>
                    <br>
                    Please check your email for your seat<br>
                    number and your class specifications!<br>
                    <br>
                    <span class="font-worksans-extrabold">
                        We’ll see you there
                    </span>
                </div>
                <div class="col-lg-1 col-2 order-lg-3 order-2">
                    <img class="w-75 img-fluid" src="images/close-button-17.png" data-dismiss="modal">
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>