<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
    <title>Template Wedding | Homepage</title>
    <link rel="shortcut icon" href="images/ico.ico">
    <!-- Features css -->
    <link rel="stylesheet" href="../../features/animatecss/animate.min.css">
    <!--Node Modules css-->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <!-- Customize css -->
    <link rel="stylesheet" type="text/css" href="../../css/animation.css" >    
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="style-wedding-8.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
        <!-- Navigation -->
        <nav>
            <div class="d-none d-lg-block">
                <a class="logo" href="index.html">
                    <img data-aos="fade-down" class="img-fluid" src="images/logo.png" />
                </a>
                <ul data-aos="fade-right" class="menu">
                    <li><a href="#ourstory">Our Story</a></li>
                    <li><a href="#venue">Venue</a></li>
                    <li><a href="#accommodation">Accommodation</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#rsvp">RSVP</a></li>
                </ul>
            </div>
            <div class="row d-lg-none">
                <div class="col-8">
                    <a href="index.html"><img class="img-fluid logo" src="images/logo.png" /></a>
                </div>
                <div class="col-4">
                    <ul class="bars">
                        <div id="toggle">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                        </div>
                    </ul>
                </div>
                <div class="side-nav">
                    <div class="close-div text-right p-3">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <ul class="menu">
                        <li><a href="#ourstory">Our Story</a></li>
                        <li><a href="#venue">Venue</a></li>
                        <li><a href="#accommodation">Accommodation</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Section Banner -->
        <section data-aos="zoom-out" id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 pr-lg-0">
                        <img class="img-fluid w-lg-100p d-none d-lg-block" src="images/images-01.png" />
                        <img class="img-fluid w-lg-100p d-block d-lg-none" src="images/mobile-images-01.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Our Story -->
        <section id="ourstory">
            <div class="container-fluid pt-m-0 pb-m-0 pt-lg-5p pb-lg-5p">
                <div class="row">
                    <img class="img-fluid motif" src="images/icon-01.png" />
                    <div class="col-lg-7 pt-m-15p pb-m-10p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                        <img data-aos="flip-left" class="img-fluid w-lg-100p" src="images/images-02.png" />
                    </div>
                    <div data-aos="fade-up" class="col-lg-5 pt-m-0 pb-m-15p pl-m-10p pr-m-10p pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                        <div class="boxc">
                            <h5>Our Story</h5>
                            <p>
                                We got each other by the hands for over 6 years now, and we've been through so much together, to the point where each of us can’t live without one another. We met at the famous romantic city in Paris, France. Now we realized how many things happen throughout the years we’ve been together. And we decided to tie the knot and seal our bond together in a sacred ceremony as well as a wedding party to celebrate our special day.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Venue -->
        <section id="venue">
            <div class="container-fluid">
                <div class="row">
                    <div class="boxc motif1"></div>
                    <img class="img-fluid boxc motif2" src="images/icon-02.png" />
                    <div class="col-lg-12 pt-m-20p pb-m-15p pl-m-10p pr-m-10p pt-lg-2p pb-lg-10p text-center">
                        <h3>Our Venue</h3>
                    </div>
                    <div data-aos="fade-right" class="order-2 order-lg-1 col-lg-4 mb-m-0 pb-m-20p pl-m-10p pr-m-10p mb-lg-5p pl-lg-5p">
                        <h5 class="font-green">Ceremony</h5>
                        <p>
                            Saturday, <b>22th July 2020</b><br />
                            <b>11.00 am</b><br />
                            —<br />
                            Jl. Pantai Suluban, Pecatu, Kuta Sel.,<br />
                            Kabupaten Badung, Uluwatu,<br />
                            Bali, Indonesia<br />
                            —<br />
                            Dress code: <b>Casual Elegant</b>
                        </p>
                    </div>
                    <div data-aos="flip-left" class="order-1 order-lg-2 col-lg-8 mb-m-0 pb-m-10p pl-m-10p pr-m-10p mb-lg-5p pr-lg-5p">
                        <img class="img-fluid images" src="images/images-03.png" />
                    </div>
                    <div data-aos="flip-right"  class="order-3 order-lg-3 col-lg-8 pb-m-10p pl-m-10p pr-m-10p pl-lg-5p">
                        <img class="img-fluid images2" src="images/images-04.png" />
                    </div>
                    <div data-aos="fade-left" class="order-4 order-lg-4 col-lg-4 pb-m-20p pl-m-10p pr-m-10p pl-lg-3p pr-lg-5p">
                        <h5 class="font-green">Reception</h5>
                        <p>
                            Saturday, <b>22th July 2020</b><br />
                            <b>05.00 pm</b><br />
                            —<br />
                            Jl. Pantai Kolang Kaling, Seminyak, Kuta Sel.<br />
                            Kabupaten Badung,<br />
                            Bali, Indonesia<br />
                            —<br />
                            Dress code: <b>Formal</b>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Accommodation -->
        <section id="accommodation">
            <div class="container-fluid">
                <div class="row">
                    <div class="motif1"></div>
                    <img data-aos="fade-up" class="img-fluid img-title" src="images/title.png" />
                    <div class="wrap" data-aos="fade-left" >
                        <p>
                            Your convenience is one of our concerna, we have booked you a room at this following place:
                        </p>
                        <div class="w-lg-100p mb-lg-5p line-white"></div>
                        <h6>The Wyatt Hotel</h6>
                        <p>
                            Kuta, Bali, Indonesia<br />
                            (212) 555-0123<br />
                        </p>
                        <div class="note">
                            <p>*Please mention Dylan & Rose wedding when you reserve the room*</p>
                        </div>
                    </div>
                    <div class="col-lg-12 pt-m-20p pb-m-50p pt-lg-5p pb-lg-10p pl-lg-0 pr-lg-0">
                        <img data-aos="fade-up"  class="img-fluid images" src="images/images-05.png" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Gallery -->
        <section id="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-m-20p pt-lg-5p pb-lg-5p pl-lg-0 pr-lg-0">
                        <div class="wrap">
                            <div class="line boxc"></div>
                            <a class="button-default boxc" href="">VIEW GALLERY</a>
                            <img class="img-fluid boxc motif1" src="images/icon-03.png" />
                            <div class="box images1">
                                <img data-aos="fade-down" class="img-fluid" src="images/images-06.png" />
                            </div>
                            <div class="box images2">
                                <img data-aos="fade-left" class="img-fluid" src="images/images-07.png" />
                            </div>
                            <div class="box images3">
                                <img data-aos="fade-up" class="img-fluid" src="images/images-08.png" />
                            </div>
                            <div class="box images4">
                                <img data-aos="fade-right" class="img-fluid" src="images/images-09.png" />
                            </div>
                            <div class="box images5">
                                <img data-aos="fade-up" class="img-fluid" src="images/images-10.png" />
                            </div>
                            <img class="img-fluid boxc motif2" src="images/icon-04.png" />
                            <img class="img-fluid boxc motif3" src="images/icon-05.png" />
                            <div class="box images6">
                                <img data-aos="fade-right" class="img-fluid" src="images/images-11.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section RSVP -->
        <section id="rsvp">
            <div class="container-fluid">
                <div class="row">
                    <img class="img-fluid motif" src="images/icon-06.png" />
                    <div class="col-lg-12 pt-m-20p pb-m-20p pl-m-10p pr-m-10p pt-lg-2p pb-lg-5p pl-lg-5p pr-lg-5p bg-grey">
                        <div class="title">
                            <h2 data-aos="fade-left">RSVP</h2>
                            <div data-aos="fade-left" class="boxc line"></div>
                        </div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p">
                                    <label for="your-attending">Are You Attending ?</label>
                                    <div class="box mb-m-10p pt-m-10p pb-m-10p pl-m-10p pr-m-10p mb-lg-30 pt-lg-5p pb-lg-5p pl-lg-5p pr-lg-5p">
                                        <input type="radio" id="yes" name="gender" value="yes">
                                        <label class="radio mb-m-10p" for="yes">Yes, I will be there</label><br />
                                        <input type="radio" id="no" name="gender" value="no">
                                        <label class="radio mb-m-0" for="no">Sorry, I can’t come</label>
                                    </div>
                                </div>
                                <div class="form-group col-12 mb-m-0 pr-m-5 d-block d-lg-none">
                                    <label for="your-firstname">Full Name*</label>
                                    <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                                </div>
                                <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
                                    <label for="your-phone">Phone Number*</label>
                                    <input type="text" class="form-control" id="your-phone" name="your-phone" required>
                                    <label for="your-email">Email*</label>
                                    <input type="email" class="form-control" id="your-email" name="your-email" required>
                                </div>
                                <div class="form-group col-lg-6 mb-lg-0 pr-m-5 pr-lg-5p d-none d-lg-block">
                                    <label for="your-firstname">Full Name*</label>
                                    <input type="text" class="form-control" id="your-firstname" name="your-firstname" required>
                                </div>
                                <div class="form-group col-lg-6 mb-lg-0 pl-m-5 pl-lg-5p">
                                    <label for="your-guest">Number of Guest</label>
                                    <input type="text" class="form-control" id="your-guest" name="your-guest" required>
                                </div>
                                <div class="form-group col-lg-12 pt-m-10p mb-m-0 pt-lg-5p text-right">
                                    <button type="submit" class="button-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid pt-m-10p pb-m-15p pl-m-10p pr-m-10p pt-lg-30 pb-lg-30 pl-lg-5p pr-lg-5p">
                <div class="row">
                    <div class="col-12 mb-m-10p mtext-center col-lg-8">
                        <p><b>All Rights Reserved</b> © This website is made by Reservasi Dulu</p>
                    </div>                
                    <div class="col-12 mtext-center col-lg-4 text-right">
                        <a href="" class="button-footer">Create a Site</a>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Features JS -->
    <script type="text/javascript" src="../../features/animatecss/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Node Modules JS -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>